#AL { fill: rgb(calc(255 * 0.506763383070395), var(--green), calc(255 * 0.493236616929605)); }
#AK { fill: rgb(calc(255 * 0.672991856448411), var(--green), calc(255 * 0.327008143551589)); }
#AZ { fill: rgb(calc(255 * 0.682120868323351), var(--green), calc(255 * 0.317879131676649)); }
#AR { fill: rgb(calc(255 * 0.503197059429235), var(--green), calc(255 * 0.496802940570765)); }
#CA { fill: rgb(calc(255 * 0.594709430310945), var(--green), calc(255 * 0.405290569689055)); }
#CO { fill: rgb(calc(255 * 0.63932596053662), var(--green), calc(255 * 0.36067403946338)); }
#CT { fill: rgb(calc(255 * 0.555571963227126), var(--green), calc(255 * 0.444428036772874)); }
#DE { fill: rgb(calc(255 * 0.512667852501774), var(--green), calc(255 * 0.487332147498226)); }
#DC { fill: rgb(calc(255 * 0.151832699421664), var(--green), calc(255 * 0.848167300578336)); }
#FL { fill: rgb(calc(255 * 0.590507629471969), var(--green), calc(255 * 0.409492370528031)); }
#GA { fill: rgb(calc(255 * 0.423436841584024), var(--green), calc(255 * 0.576563158415976)); }
#HI { fill: rgb(calc(255 * 0.489159407649131), var(--green), calc(255 * 0.510840592350869)); }
#ID { fill: rgb(calc(255 * 0.725132267873312), var(--green), calc(255 * 0.274867732126688)); }
#IL { fill: rgb(calc(255 * 0.54339662382111), var(--green), calc(255 * 0.45660337617889)); }
#IN { fill: rgb(calc(255 * 0.597973286701498), var(--green), calc(255 * 0.402026713298502)); }
#IA { fill: rgb(calc(255 * 0.570631502712084), var(--green), calc(255 * 0.429368497287916)); }
#KS { fill: rgb(calc(255 * 0.634754894385203), var(--green), calc(255 * 0.365245105614797)); }
#KY { fill: rgb(calc(255 * 0.507532609885347), var(--green), calc(255 * 0.492467390114653)); }
#LA { fill: rgb(calc(255 * 0.528108859885993), var(--green), calc(255 * 0.471891140114007)); }
#ME { fill: rgb(calc(255 * 0.519094834340234), var(--green), calc(255 * 0.480905165659766)); }
#MD { fill: rgb(calc(255 * 0.483808619337815), var(--green), calc(255 * 0.516191380662185)); }
#MA { fill: rgb(calc(255 * 0.500906730168563), var(--green), calc(255 * 0.499093269831437)); }
#MI { fill: rgb(calc(255 * 0.535464108967984), var(--green), calc(255 * 0.464535891032016)); }
#MN { fill: rgb(calc(255 * 0.477855878385588), var(--green), calc(255 * 0.522144121614412)); }
#MS { fill: rgb(calc(255 * 0.506783322035456), var(--green), calc(255 * 0.493216677964544)); }
#MO { fill: rgb(calc(255 * 0.535654143414434), var(--green), calc(255 * 0.464345856585566)); }
#MT { fill: rgb(calc(255 * 0.636652444542953), var(--green), calc(255 * 0.363347555457047)); }
#NE { fill: rgb(calc(255 * 0.715653694349578), var(--green), calc(255 * 0.284346305650422)); }
#NV { fill: rgb(calc(255 * 0.699273286630008), var(--green), calc(255 * 0.300726713369992)); }
#NH { fill: rgb(calc(255 * 0.67067692372848), var(--green), calc(255 * 0.32932307627152)); }
#NJ { fill: rgb(calc(255 * 0.574091445146313), var(--green), calc(255 * 0.425908554853687)); }
#NM { fill: rgb(calc(255 * 0.599082667431111), var(--green), calc(255 * 0.40091733256889)); }
#NY { fill: rgb(calc(255 * 0.514714783511019), var(--green), calc(255 * 0.485285216488981)); }
#NC { fill: rgb(calc(255 * 0.510996826297446), var(--green), calc(255 * 0.489003173702554)); }
#ND { fill: rgb(calc(255 * 0.709807097521291), var(--green), calc(255 * 0.290192902478709)); }
#OH { fill: rgb(calc(255 * 0.557354850100746), var(--green), calc(255 * 0.442645149899254)); }
#OK { fill: rgb(calc(255 * 0.633721332803691), var(--green), calc(255 * 0.366278667196309)); }
#OR { fill: rgb(calc(255 * 0.555525938435736), var(--green), calc(255 * 0.444474061564264)); }
#PA { fill: rgb(calc(255 * 0.538616358671166), var(--green), calc(255 * 0.461383641328834)); }
#RI { fill: rgb(calc(255 * 0.438339445254648), var(--green), calc(255 * 0.561660554745352)); }
#SC { fill: rgb(calc(255 * 0.50785423479483), var(--green), calc(255 * 0.49214576520517)); }
#SD { fill: rgb(calc(255 * 0.656334588580997), var(--green), calc(255 * 0.343665411419003)); }
#TN { fill: rgb(calc(255 * 0.501499224604854), var(--green), calc(255 * 0.498500775395146)); }
#TX { fill: rgb(calc(255 * 0.571673407938155), var(--green), calc(255 * 0.428326592061845)); }
#UT { fill: rgb(calc(255 * 0.779651850420159), var(--green), calc(255 * 0.220348149579841)); }
#VT { fill: rgb(calc(255 * 0.535999410728147), var(--green), calc(255 * 0.464000589271853)); }
#VA { fill: rgb(calc(255 * 0.568158605291245), var(--green), calc(255 * 0.431841394708755)); }
#WA { fill: rgb(calc(255 * 0.570953460948888), var(--green), calc(255 * 0.429046539051112)); }
#WV { fill: rgb(calc(255 * 0.476302182798703), var(--green), calc(255 * 0.523697817201298)); }
#WI { fill: rgb(calc(255 * 0.525903085785603), var(--green), calc(255 * 0.474096914214397)); }
#WY { fill: rgb(calc(255 * 0.691326259781299), var(--green), calc(255 * 0.308673740218701)); }