#AL { fill: rgb(calc(255 * 0.506763383070395), 60, calc(255 * 0.493236616929605)); }
#AK { fill: rgb(calc(255 * 0.672991856448411), 60, calc(255 * 0.327008143551589)); }
#AZ { fill: rgb(calc(255 * 0.682120868323351), 60, calc(255 * 0.317879131676649)); }
#AR { fill: rgb(calc(255 * 0.503197059429235), 60, calc(255 * 0.496802940570765)); }
#CA { fill: rgb(calc(255 * 0.594709430310945), 60, calc(255 * 0.405290569689055)); }
#CO { fill: rgb(calc(255 * 0.63932596053662), 60, calc(255 * 0.36067403946338)); }
#CT { fill: rgb(calc(255 * 0.555571963227126), 60, calc(255 * 0.444428036772874)); }
#DE { fill: rgb(calc(255 * 0.512667852501774), 60, calc(255 * 0.487332147498226)); }
#DC { fill: rgb(calc(255 * 0.151832699421664), 60, calc(255 * 0.848167300578336)); }
#FL { fill: rgb(calc(255 * 0.590507629471969), 60, calc(255 * 0.409492370528031)); }
#GA { fill: rgb(calc(255 * 0.423436841584024), 60, calc(255 * 0.576563158415976)); }
#HI { fill: rgb(calc(255 * 0.489159407649131), 60, calc(255 * 0.510840592350869)); }
#ID { fill: rgb(calc(255 * 0.725132267873312), 60, calc(255 * 0.274867732126688)); }
#IL { fill: rgb(calc(255 * 0.54339662382111), 60, calc(255 * 0.45660337617889)); }
#IN { fill: rgb(calc(255 * 0.597973286701498), 60, calc(255 * 0.402026713298502)); }
#IA { fill: rgb(calc(255 * 0.570631502712084), 60, calc(255 * 0.429368497287916)); }
#KS { fill: rgb(calc(255 * 0.634754894385203), 60, calc(255 * 0.365245105614797)); }
#KY { fill: rgb(calc(255 * 0.507532609885347), 60, calc(255 * 0.492467390114653)); }
#LA { fill: rgb(calc(255 * 0.528108859885993), 60, calc(255 * 0.471891140114007)); }
#ME { fill: rgb(calc(255 * 0.519094834340234), 60, calc(255 * 0.480905165659766)); }
#MD { fill: rgb(calc(255 * 0.483808619337815), 60, calc(255 * 0.516191380662185)); }
#MA { fill: rgb(calc(255 * 0.500906730168563), 60, calc(255 * 0.499093269831437)); }
#MI { fill: rgb(calc(255 * 0.535464108967984), 60, calc(255 * 0.464535891032016)); }
#MN { fill: rgb(calc(255 * 0.477855878385588), 60, calc(255 * 0.522144121614412)); }
#MS { fill: rgb(calc(255 * 0.506783322035456), 60, calc(255 * 0.493216677964544)); }
#MO { fill: rgb(calc(255 * 0.535654143414434), 60, calc(255 * 0.464345856585566)); }
#MT { fill: rgb(calc(255 * 0.636652444542953), 60, calc(255 * 0.363347555457047)); }
#NE { fill: rgb(calc(255 * 0.715653694349578), 60, calc(255 * 0.284346305650422)); }
#NV { fill: rgb(calc(255 * 0.699273286630008), 60, calc(255 * 0.300726713369992)); }
#NH { fill: rgb(calc(255 * 0.67067692372848), 60, calc(255 * 0.32932307627152)); }
#NJ { fill: rgb(calc(255 * 0.574091445146313), 60, calc(255 * 0.425908554853687)); }
#NM { fill: rgb(calc(255 * 0.599082667431111), 60, calc(255 * 0.40091733256889)); }
#NY { fill: rgb(calc(255 * 0.514714783511019), 60, calc(255 * 0.485285216488981)); }
#NC { fill: rgb(calc(255 * 0.510996826297446), 60, calc(255 * 0.489003173702554)); }
#ND { fill: rgb(calc(255 * 0.709807097521291), 60, calc(255 * 0.290192902478709)); }
#OH { fill: rgb(calc(255 * 0.557354850100746), 60, calc(255 * 0.442645149899254)); }
#OK { fill: rgb(calc(255 * 0.633721332803691), 60, calc(255 * 0.366278667196309)); }
#OR { fill: rgb(calc(255 * 0.555525938435736), 60, calc(255 * 0.444474061564264)); }
#PA { fill: rgb(calc(255 * 0.538616358671166), 60, calc(255 * 0.461383641328834)); }
#RI { fill: rgb(calc(255 * 0.438339445254648), 60, calc(255 * 0.561660554745352)); }
#SC { fill: rgb(calc(255 * 0.50785423479483), 60, calc(255 * 0.49214576520517)); }
#SD { fill: rgb(calc(255 * 0.656334588580997), 60, calc(255 * 0.343665411419003)); }
#TN { fill: rgb(calc(255 * 0.501499224604854), 60, calc(255 * 0.498500775395146)); }
#TX { fill: rgb(calc(255 * 0.571673407938155), 60, calc(255 * 0.428326592061845)); }
#UT { fill: rgb(calc(255 * 0.779651850420159), 60, calc(255 * 0.220348149579841)); }
#VT { fill: rgb(calc(255 * 0.535999410728147), 60, calc(255 * 0.464000589271853)); }
#VA { fill: rgb(calc(255 * 0.568158605291245), 60, calc(255 * 0.431841394708755)); }
#WA { fill: rgb(calc(255 * 0.570953460948888), 60, calc(255 * 0.429046539051112)); }
#WV { fill: rgb(calc(255 * 0.476302182798703), 60, calc(255 * 0.523697817201298)); }
#WI { fill: rgb(calc(255 * 0.525903085785603), 60, calc(255 * 0.474096914214397)); }
#WY { fill: rgb(calc(255 * 0.691326259781299), 60, calc(255 * 0.308673740218701)); }

#AL.blue-yellow { fill: rgb(120.703391839321, 120.703391839321, 90.1207602008487); }
#AK.blue-yellow { fill: rgb(137.991153070635, 137.991153070635, 68.5110586617066); }
#AZ.blue-yellow { fill: rgb(138.940570305628, 138.940570305628, 67.3242871179644); }
#AR.blue-yellow { fill: rgb(120.33249418064, 120.33249418064, 90.5843822741995); }
#CA.blue-yellow { fill: rgb(129.849780752338, 129.849780752338, 78.6877740595772); }
#CO.blue-yellow { fill: rgb(134.489899895809, 134.489899895809, 72.8876251302393); }
#CT.blue-yellow { fill: rgb(125.779484175621, 125.779484175621, 83.7756447804736); }
#DE.blue-yellow { fill: rgb(121.317456660185, 121.317456660185, 89.3531791747694); }
#DC.blue-yellow { fill: rgb(83.7906007398531, 83.7906007398531, 136.261749075184); }
#FL.blue-yellow { fill: rgb(129.412793465085, 129.412793465085, 79.234008168644); }
#GA.blue-yellow { fill: rgb(112.037431524738, 112.037431524738, 100.953210594077); }
#HI.blue-yellow { fill: rgb(118.87257839551, 118.87257839551, 92.409277005613); }
#ID.blue-yellow { fill: rgb(143.413755858824, 143.413755858824, 61.7328051764694); }
#IL.blue-yellow { fill: rgb(124.513248877395, 124.513248877395, 85.3584389032558); }
#IN.blue-yellow { fill: rgb(130.189221816956, 130.189221816956, 78.2634727288053); }
#IA.blue-yellow { fill: rgb(127.345676282057, 127.345676282057, 81.8179046474292); }
#KS.blue-yellow { fill: rgb(134.014509016061, 134.014509016061, 73.4818637299236); }
#KY.blue-yellow { fill: rgb(120.783391428076, 120.783391428076, 90.0207607149049); }
#LA.blue-yellow { fill: rgb(122.923321428143, 122.923321428143, 87.345848214821); }
#ME.blue-yellow { fill: rgb(121.985862771384, 121.985862771384, 88.5176715357696); }
#MD.blue-yellow { fill: rgb(118.316096411133, 118.316096411133, 93.104879486084); }
#MA.blue-yellow { fill: rgb(120.094299937531, 120.094299937531, 90.8821250780868); }
#MI.blue-yellow { fill: rgb(123.68826733267, 123.68826733267, 86.3896658341621); }
#MN.blue-yellow { fill: rgb(117.697011352101, 117.697011352101, 93.8787358098735); }
#MS.blue-yellow { fill: rgb(120.705465491687, 120.705465491687, 90.1181681353907); }
#MO.blue-yellow { fill: rgb(123.708030915101, 123.708030915101, 86.3649613561236); }
#MT.blue-yellow { fill: rgb(134.211854232467, 134.211854232467, 73.2351822094162); }
#NE.blue-yellow { fill: rgb(142.427984212356, 142.427984212356, 62.9650197345549); }
#NV.blue-yellow { fill: rgb(140.724421809521, 140.724421809521, 65.094472738099); }
#NH.blue-yellow { fill: rgb(137.750400067762, 137.750400067762, 68.8119999152976); }
#NJ.blue-yellow { fill: rgb(127.705510295217, 127.705510295217, 81.3681121309793); }
#NM.blue-yellow { fill: rgb(130.304597412836, 130.304597412836, 78.1192532339556); }
#NY.blue-yellow { fill: rgb(121.530337485146, 121.530337485146, 89.0870781435676); }
#NC.blue-yellow { fill: rgb(121.143669934934, 121.143669934934, 89.5704125813321); }
#ND.blue-yellow { fill: rgb(141.819938142214, 141.819938142214, 63.7250773222322); }
#OH.blue-yellow { fill: rgb(125.964904410478, 125.964904410478, 83.543869486903); }
#OK.blue-yellow { fill: rgb(133.907018611584, 133.907018611584, 73.6162267355202); }
#OR.blue-yellow { fill: rgb(125.774697597317, 125.774697597317, 83.7816280033543); }
#PA.blue-yellow { fill: rgb(124.016101301801, 124.016101301801, 85.9798733727484); }
#RI.blue-yellow { fill: rgb(113.587302306483, 113.587302306483, 99.0158721168958); }
#SC.blue-yellow { fill: rgb(120.816840418662, 120.816840418662, 89.9789494766721); }
#SD.blue-yellow { fill: rgb(136.258797212424, 136.258797212424, 70.6765034844704); }
#TN.blue-yellow { fill: rgb(120.155919358905, 120.155919358905, 90.805100801369); }
#TX.blue-yellow { fill: rgb(127.454034425568, 127.454034425568, 81.6824569680399); }
#UT.blue-yellow { fill: rgb(149.083792443697, 149.083792443697, 54.6452594453793); }
#VT.blue-yellow { fill: rgb(123.743938715727, 123.743938715727, 86.3200766053408); }
#VA.blue-yellow { fill: rgb(127.088494950289, 127.088494950289, 82.1393813121382); }
#WA.blue-yellow { fill: rgb(127.379159938684, 127.379159938684, 81.7760500766446); }
#WV.blue-yellow { fill: rgb(117.535427011065, 117.535427011065, 94.0807162361687); }
#WI.blue-yellow { fill: rgb(122.693920921703, 122.693920921703, 87.6325988478716); }
#WY.blue-yellow { fill: rgb(139.897931017255, 139.897931017255, 66.1275862284312); }
