#AL { fill: rgb(calc(255 * 0.612633953513183), var(--green), calc(255 * 0.387366046486817)); }
#AK { fill: rgb(calc(255 * 0.690559126477164), var(--green), calc(255 * 0.309440873522836)); }
#AZ { fill: rgb(calc(255 * 0.67116727570006), var(--green), calc(255 * 0.32883272429994)); }
#AR { fill: rgb(calc(255 * 0.612275881019441), var(--green), calc(255 * 0.387724118980559)); }
#CA { fill: rgb(calc(255 * 0.582245348221977), var(--green), calc(255 * 0.417754651778023)); }
#CO { fill: rgb(calc(255 * 0.643658481569433), var(--green), calc(255 * 0.356341518430567)); }
#CT { fill: rgb(calc(255 * 0.60999168763018), var(--green), calc(255 * 0.39000831236982)); }
#DE { fill: rgb(calc(255 * 0.599536726991956), var(--green), calc(255 * 0.400463273008044)); }
#DC { fill: rgb(calc(255 * 0.138522660528992), var(--green), calc(255 * 0.861477339471008)); }
#FL { fill: rgb(calc(255 * 0.653324132135455), var(--green), calc(255 * 0.346675867864545)); }
#GA { fill: rgb(calc(255 * 0.601978201481398), var(--green), calc(255 * 0.398021798518602)); }
#HI { fill: rgb(calc(255 * 0.557037242176494), var(--green), calc(255 * 0.442962757823506)); }
#ID { fill: rgb(calc(255 * 0.73275571197415), var(--green), calc(255 * 0.26724428802585)); }
#IL { fill: rgb(calc(255 * 0.564732533072208), var(--green), calc(255 * 0.435267466927793)); }
#IN { fill: rgb(calc(255 * 0.620734291216837), var(--green), calc(255 * 0.379265708783163)); }
#IA { fill: rgb(calc(255 * 0.537238253300202), var(--green), calc(255 * 0.462761746699799)); }
#KS { fill: rgb(calc(255 * 0.670294771115697), var(--green), calc(255 * 0.329705228884303)); }
#KY { fill: rgb(calc(255 * 0.603933877042304), var(--green), calc(255 * 0.396066122957697)); }
#LA { fill: rgb(calc(255 * 0.614191611625422), var(--green), calc(255 * 0.385808388374579)); }
#ME { fill: rgb(calc(255 * 0.610691179006016), var(--green), calc(255 * 0.389308820993984)); }
#MD { fill: rgb(calc(255 * 0.527575271921446), var(--green), calc(255 * 0.472424728078554)); }
#MA { fill: rgb(calc(255 * 0.513983302372594), var(--green), calc(255 * 0.486016697627406)); }
#MI { fill: rgb(calc(255 * 0.595463249981686), var(--green), calc(255 * 0.404536750018314)); }
#MN { fill: rgb(calc(255 * 0.499091092318051), var(--green), calc(255 * 0.50090890768195)); }
#MS { fill: rgb(calc(255 * 0.622787090499952), var(--green), calc(255 * 0.377212909500048)); }
#MO { fill: rgb(calc(255 * 0.60024750667877), var(--green), calc(255 * 0.39975249332123)); }
#MT { fill: rgb(calc(255 * 0.61301398763687), var(--green), calc(255 * 0.38698601236313)); }
#NE { fill: rgb(calc(255 * 0.71004753673293), var(--green), calc(255 * 0.28995246326707)); }
#NV { fill: rgb(calc(255 * 0.673156815547829), var(--green), calc(255 * 0.326843184452171)); }
#NH { fill: rgb(calc(255 * 0.689259922673095), var(--green), calc(255 * 0.310740077326905)); }
#NJ { fill: rgb(calc(255 * 0.605213910814964), var(--green), calc(255 * 0.394786089185037)); }
#NM { fill: rgb(calc(255 * 0.603495981291882), var(--green), calc(255 * 0.396504018708118)); }
#NY { fill: rgb(calc(255 * 0.540177189576279), var(--green), calc(255 * 0.459822810423721)); }
#NC { fill: rgb(calc(255 * 0.620278629498869), var(--green), calc(255 * 0.379721370501131)); }
#ND { fill: rgb(calc(255 * 0.657345823831477), var(--green), calc(255 * 0.342654176168523)); }
#OH { fill: rgb(calc(255 * 0.594706927175844), var(--green), calc(255 * 0.405293072824156)); }
#OK { fill: rgb(calc(255 * 0.69109825847699), var(--green), calc(255 * 0.30890174152301)); }
#OR { fill: rgb(calc(255 * 0.561047113393374), var(--green), calc(255 * 0.438952886606626)); }
#PA { fill: rgb(calc(255 * 0.537007314771217), var(--green), calc(255 * 0.462992685228784)); }
#RI { fill: rgb(calc(255 * 0.518297302449253), var(--green), calc(255 * 0.481702697550747)); }
#SC { fill: rgb(calc(255 * 0.64118044726664), var(--green), calc(255 * 0.35881955273336)); }
#SD { fill: rgb(calc(255 * 0.632995132435679), var(--green), calc(255 * 0.367004867564321)); }
#TN { fill: rgb(calc(255 * 0.58181848094453), var(--green), calc(255 * 0.41818151905547)); }
#TX { fill: rgb(calc(255 * 0.637863051730134), var(--green), calc(255 * 0.362136948269866)); }
#UT { fill: rgb(calc(255 * 0.751200210096818), var(--green), calc(255 * 0.248799789903183)); }
#VT { fill: rgb(calc(255 * 0.586649107277791), var(--green), calc(255 * 0.413350892722209)); }
#VA { fill: rgb(calc(255 * 0.626756879392199), var(--green), calc(255 * 0.373243120607802)); }
#WA { fill: rgb(calc(255 * 0.56571143321596), var(--green), calc(255 * 0.43428856678404)); }
#WV { fill: rgb(calc(255 * 0.552724343245984), var(--green), calc(255 * 0.447275656754016)); }
#WI { fill: rgb(calc(255 * 0.546238187735887), var(--green), calc(255 * 0.453761812264114)); }
#WY { fill: rgb(calc(255 * 0.714003997620719), var(--green), calc(255 * 0.285996002379281)); }