#AL { fill: rgb(156, 60, 99); }
#AK { fill: rgb(176, 60, 79); }
#AZ { fill: rgb(171, 60, 84); }
#AR { fill: rgb(156, 60, 99); }
#CA { fill: rgb(148, 60, 107); }
#CO { fill: rgb(163, 60, 92); }
#CT { fill: rgb(156, 60, 99); }
#DE { fill: rgb(153, 60, 102); }
#DC { fill: rgb(36, 60, 219); }
#FL { fill: rgb(166, 60, 89); }
#GA { fill: rgb(153, 60, 102); }
#HI { fill: rgb(143, 60, 112); }
#ID { fill: rgb(186, 60, 69); }
#IL { fill: rgb(143, 60, 112); }
#IN { fill: rgb(158, 60, 97); }
#IA { fill: rgb(138, 60, 117); }
#KS { fill: rgb(171, 60, 84); }
#KY { fill: rgb(153, 60, 102); }
#LA { fill: rgb(156, 60, 99); }
#ME { fill: rgb(156, 60, 99); }
#MD { fill: rgb(135, 60, 120); }
#MA { fill: rgb(130, 60, 125); }
#MI { fill: rgb(153, 60, 102); }
#MN { fill: rgb(128, 60, 128); }
#MS { fill: rgb(158, 60, 97); }
#MO { fill: rgb(153, 60, 102); }
#MT { fill: rgb(156, 60, 99); }
#NE { fill: rgb(181, 60, 74); }
#NV { fill: rgb(171, 60, 84); }
#NH { fill: rgb(176, 60, 79); }
#NJ { fill: rgb(156, 60, 99); }
#NM { fill: rgb(153, 60, 102); }
#NY { fill: rgb(138, 60, 117); }
#NC { fill: rgb(158, 60, 97); }
#ND { fill: rgb(168, 60, 87); }
#OH { fill: rgb(150, 60, 105); }
#OK { fill: rgb(176, 60, 79); }
#OR { fill: rgb(143, 60, 112); }
#PA { fill: rgb(138, 60, 117); }
#RI { fill: rgb(133, 60, 122); }
#SC { fill: rgb(163, 60, 92); }
#SD { fill: rgb(161, 60, 94); }
#TN { fill: rgb(148, 60, 107); }
#TX { fill: rgb(163, 60, 92); }
#UT { fill: rgb(191, 60, 64); }
#VT { fill: rgb(150, 60, 105); }
#VA { fill: rgb(161, 60, 94); }
#WA { fill: rgb(145, 60, 110); }
#WV { fill: rgb(140, 60, 115); }
#WI { fill: rgb(140, 60, 115); }
#WY { fill: rgb(181, 60, 74); }

#AL.blue-yellow { fill: rgb(131, 131, 77); }
#AK.blue-yellow { fill: rgb(140, 140, 66); }
#AZ.blue-yellow { fill: rgb(138, 138, 69); }
#AR.blue-yellow { fill: rgb(131, 131, 77); }
#CA.blue-yellow { fill: rgb(128, 128, 81); }
#CO.blue-yellow { fill: rgb(135, 135, 73); }
#CT.blue-yellow { fill: rgb(131, 131, 77); }
#DE.blue-yellow { fill: rgb(130, 130, 78); }
#DC.blue-yellow { fill: rgb(83, 83, 138); }
#FL.blue-yellow { fill: rgb(136, 136, 72); }
#GA.blue-yellow { fill: rgb(130, 130, 78); }
#HI.blue-yellow { fill: rgb(126, 126, 83); }
#ID.blue-yellow { fill: rgb(144, 144, 61); }
#IL.blue-yellow { fill: rgb(126, 126, 83); }
#IN.blue-yellow { fill: rgb(132, 132, 75); }
#IA.blue-yellow { fill: rgb(124, 124, 86); }
#KS.blue-yellow { fill: rgb(138, 138, 69); }
#KY.blue-yellow { fill: rgb(130, 130, 78); }
#LA.blue-yellow { fill: rgb(131, 131, 77); }
#ME.blue-yellow { fill: rgb(131, 131, 77); }
#MD.blue-yellow { fill: rgb(123, 123, 87); }
#MA.blue-yellow { fill: rgb(121, 121, 90); }
#MI.blue-yellow { fill: rgb(130, 130, 78); }
#MN.blue-yellow { fill: rgb(120, 120, 91); }
#MS.blue-yellow { fill: rgb(132, 132, 75); }
#MO.blue-yellow { fill: rgb(130, 130, 78); }
#MT.blue-yellow { fill: rgb(131, 131, 77); }
#NE.blue-yellow { fill: rgb(142, 142, 64); }
#NV.blue-yellow { fill: rgb(138, 138, 69); }
#NH.blue-yellow { fill: rgb(140, 140, 66); }
#NJ.blue-yellow { fill: rgb(131, 131, 77); }
#NM.blue-yellow { fill: rgb(130, 130, 78); }
#NY.blue-yellow { fill: rgb(124, 124, 86); }
#NC.blue-yellow { fill: rgb(132, 132, 75); }
#ND.blue-yellow { fill: rgb(137, 137, 70); }
#OH.blue-yellow { fill: rgb(129, 129, 79); }
#OK.blue-yellow { fill: rgb(140, 140, 66); }
#OR.blue-yellow { fill: rgb(126, 126, 83); }
#PA.blue-yellow { fill: rgb(124, 124, 86); }
#RI.blue-yellow { fill: rgb(122, 122, 88); }
#SC.blue-yellow { fill: rgb(135, 135, 73); }
#SD.blue-yellow { fill: rgb(134, 134, 74); }
#TN.blue-yellow { fill: rgb(128, 128, 81); }
#TX.blue-yellow { fill: rgb(135, 135, 73); }
#UT.blue-yellow { fill: rgb(146, 146, 59); }
#VT.blue-yellow { fill: rgb(129, 129, 79); }
#VA.blue-yellow { fill: rgb(134, 134, 74); }
#WA.blue-yellow { fill: rgb(127, 127, 82); }
#WV.blue-yellow { fill: rgb(125, 125, 85); }
#WI.blue-yellow { fill: rgb(125, 125, 85); }
#WY.blue-yellow { fill: rgb(142, 142, 64); }

#AL.grayscale { fill: rgb(156, 156, 156); }
#AK.grayscale { fill: rgb(176, 176, 176); }
#AZ.grayscale { fill: rgb(171, 171, 171); }
#AR.grayscale { fill: rgb(156, 156, 156); }
#CA.grayscale { fill: rgb(148, 148, 148); }
#CO.grayscale { fill: rgb(164, 164, 164); }
#CT.grayscale { fill: rgb(156, 156, 156); }
#DE.grayscale { fill: rgb(153, 153, 153); }
#DC.grayscale { fill: rgb(35, 35, 35); }
#FL.grayscale { fill: rgb(167, 167, 167); }
#GA.grayscale { fill: rgb(154, 154, 154); }
#HI.grayscale { fill: rgb(142, 142, 142); }
#ID.grayscale { fill: rgb(187, 187, 187); }
#IL.grayscale { fill: rgb(144, 144, 144); }
#IN.grayscale { fill: rgb(158, 158, 158); }
#IA.grayscale { fill: rgb(137, 137, 137); }
#KS.grayscale { fill: rgb(171, 171, 171); }
#KY.grayscale { fill: rgb(154, 154, 154); }
#LA.grayscale { fill: rgb(157, 157, 157); }
#ME.grayscale { fill: rgb(156, 156, 156); }
#MD.grayscale { fill: rgb(135, 135, 135); }
#MA.grayscale { fill: rgb(131, 131, 131); }
#MI.grayscale { fill: rgb(152, 152, 152); }
#MN.grayscale { fill: rgb(127, 127, 127); }
#MS.grayscale { fill: rgb(159, 159, 159); }
#MO.grayscale { fill: rgb(153, 153, 153); }
#MT.grayscale { fill: rgb(156, 156, 156); }
#NE.grayscale { fill: rgb(181, 181, 181); }
#NV.grayscale { fill: rgb(172, 172, 172); }
#NH.grayscale { fill: rgb(176, 176, 176); }
#NJ.grayscale { fill: rgb(154, 154, 154); }
#NM.grayscale { fill: rgb(154, 154, 154); }
#NY.grayscale { fill: rgb(138, 138, 138); }
#NC.grayscale { fill: rgb(158, 158, 158); }
#ND.grayscale { fill: rgb(168, 168, 168); }
#OH.grayscale { fill: rgb(152, 152, 152); }
#OK.grayscale { fill: rgb(176, 176, 176); }
#OR.grayscale { fill: rgb(143, 143, 143); }
#PA.grayscale { fill: rgb(137, 137, 137); }
#RI.grayscale { fill: rgb(132, 132, 132); }
#SC.grayscale { fill: rgb(164, 164, 164); }
#SD.grayscale { fill: rgb(161, 161, 161); }
#TN.grayscale { fill: rgb(148, 148, 148); }
#TX.grayscale { fill: rgb(163, 163, 163); }
#UT.grayscale { fill: rgb(192, 192, 192); }
#VT.grayscale { fill: rgb(150, 150, 150); }
#VA.grayscale { fill: rgb(160, 160, 160); }
#WA.grayscale { fill: rgb(144, 144, 144); }
#WV.grayscale { fill: rgb(141, 141, 141); }
#WI.grayscale { fill: rgb(139, 139, 139); }
#WY.grayscale { fill: rgb(182, 182, 182); }
