#AL { fill: rgb(calc(255 * 0.61), 60, calc(255 * 0.39)); }
#AK { fill: rgb(calc(255 * 0.69), 60, calc(255 * 0.31)); }
#AZ { fill: rgb(calc(255 * 0.67), 60, calc(255 * 0.33)); }
#AR { fill: rgb(calc(255 * 0.61), 60, calc(255 * 0.39)); }
#CA { fill: rgb(calc(255 * 0.58), 60, calc(255 * 0.42)); }
#CO { fill: rgb(calc(255 * 0.64), 60, calc(255 * 0.36)); }
#CT { fill: rgb(calc(255 * 0.61), 60, calc(255 * 0.39)); }
#DE { fill: rgb(calc(255 * 0.6), 60, calc(255 * 0.4)); }
#DC { fill: rgb(calc(255 * 0.14), 60, calc(255 * 0.86)); }
#FL { fill: rgb(calc(255 * 0.65), 60, calc(255 * 0.35)); }
#GA { fill: rgb(calc(255 * 0.6), 60, calc(255 * 0.4)); }
#HI { fill: rgb(calc(255 * 0.56), 60, calc(255 * 0.44)); }
#ID { fill: rgb(calc(255 * 0.73), 60, calc(255 * 0.27)); }
#IL { fill: rgb(calc(255 * 0.56), 60, calc(255 * 0.44)); }
#IN { fill: rgb(calc(255 * 0.62), 60, calc(255 * 0.38)); }
#IA { fill: rgb(calc(255 * 0.54), 60, calc(255 * 0.46)); }
#KS { fill: rgb(calc(255 * 0.67), 60, calc(255 * 0.33)); }
#KY { fill: rgb(calc(255 * 0.6), 60, calc(255 * 0.4)); }
#LA { fill: rgb(calc(255 * 0.61), 60, calc(255 * 0.39)); }
#ME { fill: rgb(calc(255 * 0.61), 60, calc(255 * 0.39)); }
#MD { fill: rgb(calc(255 * 0.53), 60, calc(255 * 0.47)); }
#MA { fill: rgb(calc(255 * 0.51), 60, calc(255 * 0.49)); }
#MI { fill: rgb(calc(255 * 0.6), 60, calc(255 * 0.4)); }
#MN { fill: rgb(calc(255 * 0.5), 60, calc(255 * 0.5)); }
#MS { fill: rgb(calc(255 * 0.62), 60, calc(255 * 0.38)); }
#MO { fill: rgb(calc(255 * 0.6), 60, calc(255 * 0.4)); }
#MT { fill: rgb(calc(255 * 0.61), 60, calc(255 * 0.39)); }
#NE { fill: rgb(calc(255 * 0.71), 60, calc(255 * 0.29)); }
#NV { fill: rgb(calc(255 * 0.67), 60, calc(255 * 0.33)); }
#NH { fill: rgb(calc(255 * 0.69), 60, calc(255 * 0.31)); }
#NJ { fill: rgb(calc(255 * 0.61), 60, calc(255 * 0.39)); }
#NM { fill: rgb(calc(255 * 0.6), 60, calc(255 * 0.4)); }
#NY { fill: rgb(calc(255 * 0.54), 60, calc(255 * 0.46)); }
#NC { fill: rgb(calc(255 * 0.62), 60, calc(255 * 0.38)); }
#ND { fill: rgb(calc(255 * 0.66), 60, calc(255 * 0.34)); }
#OH { fill: rgb(calc(255 * 0.59), 60, calc(255 * 0.41)); }
#OK { fill: rgb(calc(255 * 0.69), 60, calc(255 * 0.31)); }
#OR { fill: rgb(calc(255 * 0.56), 60, calc(255 * 0.44)); }
#PA { fill: rgb(calc(255 * 0.54), 60, calc(255 * 0.46)); }
#RI { fill: rgb(calc(255 * 0.52), 60, calc(255 * 0.48)); }
#SC { fill: rgb(calc(255 * 0.64), 60, calc(255 * 0.36)); }
#SD { fill: rgb(calc(255 * 0.63), 60, calc(255 * 0.37)); }
#TN { fill: rgb(calc(255 * 0.58), 60, calc(255 * 0.42)); }
#TX { fill: rgb(calc(255 * 0.64), 60, calc(255 * 0.36)); }
#UT { fill: rgb(calc(255 * 0.75), 60, calc(255 * 0.25)); }
#VT { fill: rgb(calc(255 * 0.59), 60, calc(255 * 0.41)); }
#VA { fill: rgb(calc(255 * 0.63), 60, calc(255 * 0.37)); }
#WA { fill: rgb(calc(255 * 0.57), 60, calc(255 * 0.43)); }
#WV { fill: rgb(calc(255 * 0.55), 60, calc(255 * 0.45)); }
#WI { fill: rgb(calc(255 * 0.55), 60, calc(255 * 0.45)); }
#WY { fill: rgb(calc(255 * 0.71), 60, calc(255 * 0.29)); }

#AL.blue-yellow { fill: rgb(131, 131, 77); }
#AK.blue-yellow { fill: rgb(140, 140, 66); }
#AZ.blue-yellow { fill: rgb(138, 138, 69); }
#AR.blue-yellow { fill: rgb(131, 131, 77); }
#CA.blue-yellow { fill: rgb(128, 128, 81); }
#CO.blue-yellow { fill: rgb(135, 135, 73); }
#CT.blue-yellow { fill: rgb(131, 131, 77); }
#DE.blue-yellow { fill: rgb(130, 130, 78); }
#DC.blue-yellow { fill: rgb(83, 83, 138); }
#FL.blue-yellow { fill: rgb(136, 136, 72); }
#GA.blue-yellow { fill: rgb(130, 130, 78); }
#HI.blue-yellow { fill: rgb(126, 126, 83); }
#ID.blue-yellow { fill: rgb(144, 144, 61); }
#IL.blue-yellow { fill: rgb(126, 126, 83); }
#IN.blue-yellow { fill: rgb(132, 132, 75); }
#IA.blue-yellow { fill: rgb(124, 124, 86); }
#KS.blue-yellow { fill: rgb(138, 138, 69); }
#KY.blue-yellow { fill: rgb(130, 130, 78); }
#LA.blue-yellow { fill: rgb(131, 131, 77); }
#ME.blue-yellow { fill: rgb(131, 131, 77); }
#MD.blue-yellow { fill: rgb(123, 123, 87); }
#MA.blue-yellow { fill: rgb(121, 121, 90); }
#MI.blue-yellow { fill: rgb(130, 130, 78); }
#MN.blue-yellow { fill: rgb(120, 120, 91); }
#MS.blue-yellow { fill: rgb(132, 132, 75); }
#MO.blue-yellow { fill: rgb(130, 130, 78); }
#MT.blue-yellow { fill: rgb(131, 131, 77); }
#NE.blue-yellow { fill: rgb(142, 142, 64); }
#NV.blue-yellow { fill: rgb(138, 138, 69); }
#NH.blue-yellow { fill: rgb(140, 140, 66); }
#NJ.blue-yellow { fill: rgb(131, 131, 77); }
#NM.blue-yellow { fill: rgb(130, 130, 78); }
#NY.blue-yellow { fill: rgb(124, 124, 86); }
#NC.blue-yellow { fill: rgb(132, 132, 75); }
#ND.blue-yellow { fill: rgb(137, 137, 70); }
#OH.blue-yellow { fill: rgb(129, 129, 79); }
#OK.blue-yellow { fill: rgb(140, 140, 66); }
#OR.blue-yellow { fill: rgb(126, 126, 83); }
#PA.blue-yellow { fill: rgb(124, 124, 86); }
#RI.blue-yellow { fill: rgb(122, 122, 88); }
#SC.blue-yellow { fill: rgb(135, 135, 73); }
#SD.blue-yellow { fill: rgb(134, 134, 74); }
#TN.blue-yellow { fill: rgb(128, 128, 81); }
#TX.blue-yellow { fill: rgb(135, 135, 73); }
#UT.blue-yellow { fill: rgb(146, 146, 59); }
#VT.blue-yellow { fill: rgb(129, 129, 79); }
#VA.blue-yellow { fill: rgb(134, 134, 74); }
#WA.blue-yellow { fill: rgb(127, 127, 82); }
#WV.blue-yellow { fill: rgb(125, 125, 85); }
#WI.blue-yellow { fill: rgb(125, 125, 85); }
#WY.blue-yellow { fill: rgb(142, 142, 64); }

#AL.grayscale { fill: rgb(156, 156, 156); }
#AK.grayscale { fill: rgb(176, 176, 176); }
#AZ.grayscale { fill: rgb(171, 171, 171); }
#AR.grayscale { fill: rgb(156, 156, 156); }
#CA.grayscale { fill: rgb(148, 148, 148); }
#CO.grayscale { fill: rgb(164, 164, 164); }
#CT.grayscale { fill: rgb(156, 156, 156); }
#DE.grayscale { fill: rgb(153, 153, 153); }
#DC.grayscale { fill: rgb(35, 35, 35); }
#FL.grayscale { fill: rgb(167, 167, 167); }
#GA.grayscale { fill: rgb(154, 154, 154); }
#HI.grayscale { fill: rgb(142, 142, 142); }
#ID.grayscale { fill: rgb(187, 187, 187); }
#IL.grayscale { fill: rgb(144, 144, 144); }
#IN.grayscale { fill: rgb(158, 158, 158); }
#IA.grayscale { fill: rgb(137, 137, 137); }
#KS.grayscale { fill: rgb(171, 171, 171); }
#KY.grayscale { fill: rgb(154, 154, 154); }
#LA.grayscale { fill: rgb(157, 157, 157); }
#ME.grayscale { fill: rgb(156, 156, 156); }
#MD.grayscale { fill: rgb(135, 135, 135); }
#MA.grayscale { fill: rgb(131, 131, 131); }
#MI.grayscale { fill: rgb(152, 152, 152); }
#MN.grayscale { fill: rgb(127, 127, 127); }
#MS.grayscale { fill: rgb(159, 159, 159); }
#MO.grayscale { fill: rgb(153, 153, 153); }
#MT.grayscale { fill: rgb(156, 156, 156); }
#NE.grayscale { fill: rgb(181, 181, 181); }
#NV.grayscale { fill: rgb(172, 172, 172); }
#NH.grayscale { fill: rgb(176, 176, 176); }
#NJ.grayscale { fill: rgb(154, 154, 154); }
#NM.grayscale { fill: rgb(154, 154, 154); }
#NY.grayscale { fill: rgb(138, 138, 138); }
#NC.grayscale { fill: rgb(158, 158, 158); }
#ND.grayscale { fill: rgb(168, 168, 168); }
#OH.grayscale { fill: rgb(152, 152, 152); }
#OK.grayscale { fill: rgb(176, 176, 176); }
#OR.grayscale { fill: rgb(143, 143, 143); }
#PA.grayscale { fill: rgb(137, 137, 137); }
#RI.grayscale { fill: rgb(132, 132, 132); }
#SC.grayscale { fill: rgb(164, 164, 164); }
#SD.grayscale { fill: rgb(161, 161, 161); }
#TN.grayscale { fill: rgb(148, 148, 148); }
#TX.grayscale { fill: rgb(163, 163, 163); }
#UT.grayscale { fill: rgb(192, 192, 192); }
#VT.grayscale { fill: rgb(150, 150, 150); }
#VA.grayscale { fill: rgb(160, 160, 160); }
#WA.grayscale { fill: rgb(144, 144, 144); }
#WV.grayscale { fill: rgb(141, 141, 141); }
#WI.grayscale { fill: rgb(139, 139, 139); }
#WY.grayscale { fill: rgb(182, 182, 182); }
