#AL { fill: rgb(153, 60, 102); }
#AK { fill: rgb(158, 60, 97); }
#AZ { fill: rgb(156, 60, 99); }
#AR { fill: rgb(145, 60, 110); }
#CA { fill: rgb(133, 60, 122); }
#CO { fill: rgb(138, 60, 117); }
#CT { fill: rgb(135, 60, 120); }
#DE { fill: rgb(143, 60, 112); }
#DC { fill: rgb(38, 60, 217); }
#FL { fill: rgb(156, 60, 99); }
#GA { fill: rgb(153, 60, 102); }
#HI { fill: rgb(115, 60, 140); }
#ID { fill: rgb(161, 60, 94); }
#IL { fill: rgb(130, 60, 125); }
#IN { fill: rgb(153, 60, 102); }
#IA { fill: rgb(115, 60, 140); }
#KS { fill: rgb(145, 60, 110); }
#KY { fill: rgb(143, 60, 112); }
#LA { fill: rgb(140, 60, 115); }
#ME { fill: rgb(143, 60, 112); }
#MD { fill: rgb(130, 60, 125); }
#MA { fill: rgb(117, 60, 138); }
#MI { fill: rgb(138, 60, 117); }
#MN { fill: rgb(117, 60, 138); }
#MS { fill: rgb(156, 60, 99); }
#MO { fill: rgb(133, 60, 122); }
#MT { fill: rgb(135, 60, 120); }
#NE { fill: rgb(156, 60, 99); }
#NV { fill: rgb(156, 60, 99); }
#NH { fill: rgb(161, 60, 94); }
#NJ { fill: rgb(145, 60, 110); }
#NM { fill: rgb(135, 60, 120); }
#NY { fill: rgb(122, 60, 133); }
#NC { fill: rgb(148, 60, 107); }
#ND { fill: rgb(145, 60, 110); }
#OH { fill: rgb(140, 60, 115); }
#OK { fill: rgb(148, 60, 107); }
#OR { fill: rgb(122, 60, 133); }
#PA { fill: rgb(130, 60, 125); }
#RI { fill: rgb(112, 60, 143); }
#SC { fill: rgb(158, 60, 97); }
#SD { fill: rgb(135, 60, 120); }
#TN { fill: rgb(148, 60, 107); }
#TX { fill: rgb(143, 60, 112); }
#UT { fill: rgb(171, 60, 84); }
#VT { fill: rgb(133, 60, 122); }
#VA { fill: rgb(153, 60, 102); }
#WA { fill: rgb(125, 60, 130); }
#WV { fill: rgb(122, 60, 133); }
#WI { fill: rgb(122, 60, 133); }
#WY { fill: rgb(156, 60, 99); }

#AL.blue-yellow { fill: rgb(130, 130, 78); }
#AK.blue-yellow { fill: rgb(132, 132, 75); }
#AZ.blue-yellow { fill: rgb(131, 131, 77); }
#AR.blue-yellow { fill: rgb(127, 127, 82); }
#CA.blue-yellow { fill: rgb(122, 122, 88); }
#CO.blue-yellow { fill: rgb(124, 124, 86); }
#CT.blue-yellow { fill: rgb(123, 123, 87); }
#DE.blue-yellow { fill: rgb(126, 126, 83); }
#DC.blue-yellow { fill: rgb(84, 84, 137); }
#FL.blue-yellow { fill: rgb(131, 131, 77); }
#GA.blue-yellow { fill: rgb(130, 130, 78); }
#HI.blue-yellow { fill: rgb(115, 115, 98); }
#ID.blue-yellow { fill: rgb(134, 134, 74); }
#IL.blue-yellow { fill: rgb(121, 121, 90); }
#IN.blue-yellow { fill: rgb(130, 130, 78); }
#IA.blue-yellow { fill: rgb(115, 115, 98); }
#KS.blue-yellow { fill: rgb(127, 127, 82); }
#KY.blue-yellow { fill: rgb(126, 126, 83); }
#LA.blue-yellow { fill: rgb(125, 125, 85); }
#ME.blue-yellow { fill: rgb(126, 126, 83); }
#MD.blue-yellow { fill: rgb(121, 121, 90); }
#MA.blue-yellow { fill: rgb(116, 116, 96); }
#MI.blue-yellow { fill: rgb(124, 124, 86); }
#MN.blue-yellow { fill: rgb(116, 116, 96); }
#MS.blue-yellow { fill: rgb(131, 131, 77); }
#MO.blue-yellow { fill: rgb(122, 122, 88); }
#MT.blue-yellow { fill: rgb(123, 123, 87); }
#NE.blue-yellow { fill: rgb(131, 131, 77); }
#NV.blue-yellow { fill: rgb(131, 131, 77); }
#NH.blue-yellow { fill: rgb(134, 134, 74); }
#NJ.blue-yellow { fill: rgb(127, 127, 82); }
#NM.blue-yellow { fill: rgb(123, 123, 87); }
#NY.blue-yellow { fill: rgb(118, 118, 94); }
#NC.blue-yellow { fill: rgb(128, 128, 81); }
#ND.blue-yellow { fill: rgb(127, 127, 82); }
#OH.blue-yellow { fill: rgb(125, 125, 85); }
#OK.blue-yellow { fill: rgb(128, 128, 81); }
#OR.blue-yellow { fill: rgb(118, 118, 94); }
#PA.blue-yellow { fill: rgb(121, 121, 90); }
#RI.blue-yellow { fill: rgb(114, 114, 99); }
#SC.blue-yellow { fill: rgb(132, 132, 75); }
#SD.blue-yellow { fill: rgb(123, 123, 87); }
#TN.blue-yellow { fill: rgb(128, 128, 81); }
#TX.blue-yellow { fill: rgb(126, 126, 83); }
#UT.blue-yellow { fill: rgb(138, 138, 69); }
#VT.blue-yellow { fill: rgb(122, 122, 88); }
#VA.blue-yellow { fill: rgb(130, 130, 78); }
#WA.blue-yellow { fill: rgb(119, 119, 92); }
#WV.blue-yellow { fill: rgb(118, 118, 94); }
#WI.blue-yellow { fill: rgb(118, 118, 94); }
#WY.blue-yellow { fill: rgb(131, 131, 77); }

#AL.grayscale { fill: rgb(152, 152, 152); }
#AK.grayscale { fill: rgb(159, 159, 159); }
#AZ.grayscale { fill: rgb(155, 155, 155); }
#AR.grayscale { fill: rgb(146, 146, 146); }
#CA.grayscale { fill: rgb(132, 132, 132); }
#CO.grayscale { fill: rgb(138, 138, 138); }
#CT.grayscale { fill: rgb(134, 134, 134); }
#DE.grayscale { fill: rgb(143, 143, 143); }
#DC.grayscale { fill: rgb(38, 38, 38); }
#FL.grayscale { fill: rgb(156, 156, 156); }
#GA.grayscale { fill: rgb(154, 154, 154); }
#HI.grayscale { fill: rgb(115, 115, 115); }
#ID.grayscale { fill: rgb(161, 161, 161); }
#IL.grayscale { fill: rgb(130, 130, 130); }
#IN.grayscale { fill: rgb(153, 153, 153); }
#IA.grayscale { fill: rgb(114, 114, 114); }
#KS.grayscale { fill: rgb(145, 145, 145); }
#KY.grayscale { fill: rgb(142, 142, 142); }
#LA.grayscale { fill: rgb(139, 139, 139); }
#ME.grayscale { fill: rgb(142, 142, 142); }
#MD.grayscale { fill: rgb(131, 131, 131); }
#MA.grayscale { fill: rgb(117, 117, 117); }
#MI.grayscale { fill: rgb(138, 138, 138); }
#MN.grayscale { fill: rgb(118, 118, 118); }
#MS.grayscale { fill: rgb(154, 154, 154); }
#MO.grayscale { fill: rgb(133, 133, 133); }
#MT.grayscale { fill: rgb(135, 135, 135); }
#NE.grayscale { fill: rgb(154, 154, 154); }
#NV.grayscale { fill: rgb(155, 155, 155); }
#NH.grayscale { fill: rgb(161, 161, 161); }
#NJ.grayscale { fill: rgb(145, 145, 145); }
#NM.grayscale { fill: rgb(134, 134, 134); }
#NY.grayscale { fill: rgb(122, 122, 122); }
#NC.grayscale { fill: rgb(148, 148, 148); }
#ND.grayscale { fill: rgb(144, 144, 144); }
#OH.grayscale { fill: rgb(141, 141, 141); }
#OK.grayscale { fill: rgb(149, 149, 149); }
#OR.grayscale { fill: rgb(121, 121, 121); }
#PA.grayscale { fill: rgb(130, 130, 130); }
#RI.grayscale { fill: rgb(113, 113, 113); }
#SC.grayscale { fill: rgb(158, 158, 158); }
#SD.grayscale { fill: rgb(136, 136, 136); }
#TN.grayscale { fill: rgb(148, 148, 148); }
#TX.grayscale { fill: rgb(144, 144, 144); }
#UT.grayscale { fill: rgb(172, 172, 172); }
#VT.grayscale { fill: rgb(132, 132, 132); }
#VA.grayscale { fill: rgb(154, 154, 154); }
#WA.grayscale { fill: rgb(125, 125, 125); }
#WV.grayscale { fill: rgb(121, 121, 121); }
#WI.grayscale { fill: rgb(123, 123, 123); }
#WY.grayscale { fill: rgb(157, 157, 157); }
