#AL { fill: rgb(calc(255 * 0.597455683980889), 60, calc(255 * 0.402544316019111)); }
#AK { fill: rgb(calc(255 * 0.621633174342534), 60, calc(255 * 0.378366825657466)); }
#AZ { fill: rgb(calc(255 * 0.607434915309925), 60, calc(255 * 0.392565084690075)); }
#AR { fill: rgb(calc(255 * 0.571916427131151), 60, calc(255 * 0.428083572868849)); }
#CA { fill: rgb(calc(255 * 0.518073105363759), 60, calc(255 * 0.481926894636241)); }
#CO { fill: rgb(calc(255 * 0.539538243814972), 60, calc(255 * 0.460461756185029)); }
#CT { fill: rgb(calc(255 * 0.52581150456433), 60, calc(255 * 0.47418849543567)); }
#DE { fill: rgb(calc(255 * 0.562411895958693), 60, calc(255 * 0.437588104041307)); }
#DC { fill: rgb(calc(255 * 0.147542473943432), 60, calc(255 * 0.852457526056568)); }
#FL { fill: rgb(calc(255 * 0.612520716458516), 60, calc(255 * 0.387479283541484)); }
#GA { fill: rgb(calc(255 * 0.602036163447604), 60, calc(255 * 0.397963836552397)); }
#HI { fill: rgb(calc(255 * 0.451937240198411), 60, calc(255 * 0.548062759801589)); }
#ID { fill: rgb(calc(255 * 0.632878228506331), 60, calc(255 * 0.36712177149367)); }
#IL { fill: rgb(calc(255 * 0.510492769963589), 60, calc(255 * 0.489507230036411)); }
#IN { fill: rgb(calc(255 * 0.60125991124932), 60, calc(255 * 0.39874008875068)); }
#IA { fill: rgb(calc(255 * 0.448515188599175), 60, calc(255 * 0.551484811400825)); }
#KS { fill: rgb(calc(255 * 0.567275017021865), 60, calc(255 * 0.432724982978135)); }
#KY { fill: rgb(calc(255 * 0.558537678117886), 60, calc(255 * 0.441462321882115)); }
#LA { fill: rgb(calc(255 * 0.546175083421767), 60, calc(255 * 0.453824916578234)); }
#ME { fill: rgb(calc(255 * 0.557710187034683), 60, calc(255 * 0.442289812965317)); }
#MD { fill: rgb(calc(255 * 0.51464430231117), 60, calc(255 * 0.48535569768883)); }
#MA { fill: rgb(calc(255 * 0.460177577473469), 60, calc(255 * 0.539822422526531)); }
#MI { fill: rgb(calc(255 * 0.539780499600551), 60, calc(255 * 0.460219500399449)); }
#MN { fill: rgb(calc(255 * 0.46449140074756), 60, calc(255 * 0.53550859925244)); }
#MS { fill: rgb(calc(255 * 0.605210829551828), 60, calc(255 * 0.394789170448172)); }
#MO { fill: rgb(calc(255 * 0.519969116809772), 60, calc(255 * 0.480030883190228)); }
#MT { fill: rgb(calc(255 * 0.529881897213843), 60, calc(255 * 0.470118102786157)); }
#NE { fill: rgb(calc(255 * 0.605456979484663), 60, calc(255 * 0.394543020515338)); }
#NV { fill: rgb(calc(255 * 0.608185891645857), 60, calc(255 * 0.391814108354143)); }
#NH { fill: rgb(calc(255 * 0.632336327271339), 60, calc(255 * 0.367663672728661)); }
#NJ { fill: rgb(calc(255 * 0.569011576135352), 60, calc(255 * 0.430988423864648)); }
#NM { fill: rgb(calc(255 * 0.525099157404854), 60, calc(255 * 0.474900842595146)); }
#NY { fill: rgb(calc(255 * 0.479314057631763), 60, calc(255 * 0.520685942368237)); }
#NC { fill: rgb(calc(255 * 0.5815753786855), 60, calc(255 * 0.4184246213145)); }
#ND { fill: rgb(calc(255 * 0.565953557278677), 60, calc(255 * 0.434046442721323)); }
#OH { fill: rgb(calc(255 * 0.554740646502507), 60, calc(255 * 0.445259353497493)); }
#OK { fill: rgb(calc(255 * 0.583898122724417), 60, calc(255 * 0.416101877275583)); }
#OR { fill: rgb(calc(255 * 0.47616319202402), 60, calc(255 * 0.52383680797598)); }
#PA { fill: rgb(calc(255 * 0.511695469953377), 60, calc(255 * 0.488304530046623)); }
#RI { fill: rgb(calc(255 * 0.441221294466894), 60, calc(255 * 0.558778705533106)); }
#SC { fill: rgb(calc(255 * 0.620721455644183), 60, calc(255 * 0.379278544355817)); }
#SD { fill: rgb(calc(255 * 0.531923788085859), 60, calc(255 * 0.468076211914141)); }
#TN { fill: rgb(calc(255 * 0.582186405019708), 60, calc(255 * 0.417813594980292)); }
#TX { fill: rgb(calc(255 * 0.563463329311373), 60, calc(255 * 0.436536670688627)); }
#UT { fill: rgb(calc(255 * 0.673878748319007), 60, calc(255 * 0.326121251680993)); }
#VT { fill: rgb(calc(255 * 0.517817130767244), 60, calc(255 * 0.482182869232756)); }
#VA { fill: rgb(calc(255 * 0.603589460575824), 60, calc(255 * 0.396410539424176)); }
#WA { fill: rgb(calc(255 * 0.491922882454142), 60, calc(255 * 0.508077117545858)); }
#WV { fill: rgb(calc(255 * 0.476231068023794), 60, calc(255 * 0.523768931976206)); }
#WI { fill: rgb(calc(255 * 0.48176533705439), 60, calc(255 * 0.51823466294561)); }
#WY { fill: rgb(calc(255 * 0.614248764225773), 60, calc(255 * 0.385751235774227)); }