#AL { fill: rgb(calc(255 * 0.597455683980889), 60, calc(255 * 0.402544316019111)); }
#AK { fill: rgb(calc(255 * 0.621633174342534), 60, calc(255 * 0.378366825657466)); }
#AZ { fill: rgb(calc(255 * 0.607434915309925), 60, calc(255 * 0.392565084690075)); }
#AR { fill: rgb(calc(255 * 0.571916427131151), 60, calc(255 * 0.428083572868849)); }
#CA { fill: rgb(calc(255 * 0.518073105363759), 60, calc(255 * 0.481926894636241)); }
#CO { fill: rgb(calc(255 * 0.539538243814972), 60, calc(255 * 0.460461756185029)); }
#CT { fill: rgb(calc(255 * 0.52581150456433), 60, calc(255 * 0.47418849543567)); }
#DE { fill: rgb(calc(255 * 0.562411895958693), 60, calc(255 * 0.437588104041307)); }
#DC { fill: rgb(calc(255 * 0.147542473943432), 60, calc(255 * 0.852457526056568)); }
#FL { fill: rgb(calc(255 * 0.612520716458516), 60, calc(255 * 0.387479283541484)); }
#GA { fill: rgb(calc(255 * 0.602036163447604), 60, calc(255 * 0.397963836552397)); }
#HI { fill: rgb(calc(255 * 0.451937240198411), 60, calc(255 * 0.548062759801589)); }
#ID { fill: rgb(calc(255 * 0.632878228506331), 60, calc(255 * 0.36712177149367)); }
#IL { fill: rgb(calc(255 * 0.510492769963589), 60, calc(255 * 0.489507230036411)); }
#IN { fill: rgb(calc(255 * 0.60125991124932), 60, calc(255 * 0.39874008875068)); }
#IA { fill: rgb(calc(255 * 0.448515188599175), 60, calc(255 * 0.551484811400825)); }
#KS { fill: rgb(calc(255 * 0.567275017021865), 60, calc(255 * 0.432724982978135)); }
#KY { fill: rgb(calc(255 * 0.558537678117886), 60, calc(255 * 0.441462321882115)); }
#LA { fill: rgb(calc(255 * 0.546175083421767), 60, calc(255 * 0.453824916578234)); }
#ME { fill: rgb(calc(255 * 0.557710187034683), 60, calc(255 * 0.442289812965317)); }
#MD { fill: rgb(calc(255 * 0.51464430231117), 60, calc(255 * 0.48535569768883)); }
#MA { fill: rgb(calc(255 * 0.460177577473469), 60, calc(255 * 0.539822422526531)); }
#MI { fill: rgb(calc(255 * 0.539780499600551), 60, calc(255 * 0.460219500399449)); }
#MN { fill: rgb(calc(255 * 0.46449140074756), 60, calc(255 * 0.53550859925244)); }
#MS { fill: rgb(calc(255 * 0.605210829551828), 60, calc(255 * 0.394789170448172)); }
#MO { fill: rgb(calc(255 * 0.519969116809772), 60, calc(255 * 0.480030883190228)); }
#MT { fill: rgb(calc(255 * 0.529881897213843), 60, calc(255 * 0.470118102786157)); }
#NE { fill: rgb(calc(255 * 0.605456979484663), 60, calc(255 * 0.394543020515338)); }
#NV { fill: rgb(calc(255 * 0.608185891645857), 60, calc(255 * 0.391814108354143)); }
#NH { fill: rgb(calc(255 * 0.632336327271339), 60, calc(255 * 0.367663672728661)); }
#NJ { fill: rgb(calc(255 * 0.569011576135352), 60, calc(255 * 0.430988423864648)); }
#NM { fill: rgb(calc(255 * 0.525099157404854), 60, calc(255 * 0.474900842595146)); }
#NY { fill: rgb(calc(255 * 0.479314057631763), 60, calc(255 * 0.520685942368237)); }
#NC { fill: rgb(calc(255 * 0.5815753786855), 60, calc(255 * 0.4184246213145)); }
#ND { fill: rgb(calc(255 * 0.565953557278677), 60, calc(255 * 0.434046442721323)); }
#OH { fill: rgb(calc(255 * 0.554740646502507), 60, calc(255 * 0.445259353497493)); }
#OK { fill: rgb(calc(255 * 0.583898122724417), 60, calc(255 * 0.416101877275583)); }
#OR { fill: rgb(calc(255 * 0.47616319202402), 60, calc(255 * 0.52383680797598)); }
#PA { fill: rgb(calc(255 * 0.511695469953377), 60, calc(255 * 0.488304530046623)); }
#RI { fill: rgb(calc(255 * 0.441221294466894), 60, calc(255 * 0.558778705533106)); }
#SC { fill: rgb(calc(255 * 0.620721455644183), 60, calc(255 * 0.379278544355817)); }
#SD { fill: rgb(calc(255 * 0.531923788085859), 60, calc(255 * 0.468076211914141)); }
#TN { fill: rgb(calc(255 * 0.582186405019708), 60, calc(255 * 0.417813594980292)); }
#TX { fill: rgb(calc(255 * 0.563463329311373), 60, calc(255 * 0.436536670688627)); }
#UT { fill: rgb(calc(255 * 0.673878748319007), 60, calc(255 * 0.326121251680993)); }
#VT { fill: rgb(calc(255 * 0.517817130767244), 60, calc(255 * 0.482182869232756)); }
#VA { fill: rgb(calc(255 * 0.603589460575824), 60, calc(255 * 0.396410539424176)); }
#WA { fill: rgb(calc(255 * 0.491922882454142), 60, calc(255 * 0.508077117545858)); }
#WV { fill: rgb(calc(255 * 0.476231068023794), 60, calc(255 * 0.523768931976206)); }
#WI { fill: rgb(calc(255 * 0.48176533705439), 60, calc(255 * 0.51823466294561)); }
#WY { fill: rgb(calc(255 * 0.614248764225773), 60, calc(255 * 0.385751235774227)); }

#AL.blue-yellow { fill: rgb(130.135391134012, 130.135391134012, 78.3307610824844); }
#AK.blue-yellow { fill: rgb(132.649850131624, 132.649850131624, 75.1876873354706); }
#AZ.blue-yellow { fill: rgb(131.173231192232, 131.173231192232, 77.0334610097098); }
#AR.blue-yellow { fill: rgb(127.47930842164, 127.47930842164, 81.6508644729504); }
#CA.blue-yellow { fill: rgb(121.879602957831, 121.879602957831, 88.6504963027114); }
#CO.blue-yellow { fill: rgb(124.111977356757, 124.111977356757, 85.8600283040537); }
#CT.blue-yellow { fill: rgb(122.68439647469, 122.68439647469, 87.6445044066371); }
#DE.blue-yellow { fill: rgb(126.490837179704, 126.490837179704, 82.8864535253699); }
#DC.blue-yellow { fill: rgb(83.344417290117, 83.344417290117, 136.819478387354); }
#FL.blue-yellow { fill: rgb(131.702154511686, 131.702154511686, 76.3723068603929); }
#GA.blue-yellow { fill: rgb(130.611760998551, 130.611760998551, 77.7352987518115); }
#HI.blue-yellow { fill: rgb(115.001472980635, 115.001472980635, 97.2481587742066); }
#ID.blue-yellow { fill: rgb(133.819335764658, 133.819335764658, 73.725830294177); }
#IL.blue-yellow { fill: rgb(121.091248076213, 121.091248076213, 89.6359399047335); }
#IN.blue-yellow { fill: rgb(130.531030769929, 130.531030769929, 77.8362115375884); }
#IA.blue-yellow { fill: rgb(114.645579614314, 114.645579614314, 97.6930254821073); }
#KS.blue-yellow { fill: rgb(126.996601770274, 126.996601770274, 82.2542477871576); }
#KY.blue-yellow { fill: rgb(126.08791852426, 126.08791852426, 83.3901018446749); }
#LA.blue-yellow { fill: rgb(124.802208675864, 124.802208675864, 84.9972391551704); }
#ME.blue-yellow { fill: rgb(126.001859451607, 126.001859451607, 83.4976756854912); }
#MD.blue-yellow { fill: rgb(121.523007440362, 121.523007440362, 89.0962406995479); }
#MA.blue-yellow { fill: rgb(115.858468057241, 115.858468057241, 96.176914928449); }
#MI.blue-yellow { fill: rgb(124.137171958457, 124.137171958457, 85.8285350519283); }
#MN.blue-yellow { fill: rgb(116.307105677746, 116.307105677746, 95.6161179028173); }
#MS.blue-yellow { fill: rgb(130.94192627339, 130.94192627339, 77.3225921582624); }
#MO.blue-yellow { fill: rgb(122.076788148216, 122.076788148216, 88.4040148147296); }
#MT.blue-yellow { fill: rgb(123.10771731024, 123.10771731024, 87.1153533622004); }
#NE.blue-yellow { fill: rgb(130.967525866405, 130.967525866405, 77.2905926669939); }
#NV.blue-yellow { fill: rgb(131.251332731169, 131.251332731169, 76.9358340860387); }
#NH.blue-yellow { fill: rgb(133.762978036219, 133.762978036219, 73.796277454726); }
#NJ.blue-yellow { fill: rgb(127.177203918077, 127.177203918077, 82.0284951024043); }
#NM.blue-yellow { fill: rgb(122.610312370105, 122.610312370105, 87.737109537369); }
#NY.blue-yellow { fill: rgb(117.848661993703, 117.848661993703, 93.6891725078708); }
#NC.blue-yellow { fill: rgb(128.483839383292, 128.483839383292, 80.395200770885); }
#ND.blue-yellow { fill: rgb(126.859169956982, 126.859169956982, 82.426037553772); }
#OH.blue-yellow { fill: rgb(125.693027236261, 125.693027236261, 83.883715954674); }
#OK.blue-yellow { fill: rgb(128.725404763339, 128.725404763339, 80.0932440458258); }
#OR.blue-yellow { fill: rgb(117.520971970498, 117.520971970498, 94.0987850368774); }
#PA.blue-yellow { fill: rgb(121.216328875151, 121.216328875151, 89.4795889060609); }
#RI.blue-yellow { fill: rgb(113.887014624557, 113.887014624557, 98.6412317193038); }
#SC.blue-yellow { fill: rgb(132.555031386995, 132.555031386995, 75.3062107662562); }
#SD.blue-yellow { fill: rgb(123.320073960929, 123.320073960929, 86.8499075488383); }
#TN.blue-yellow { fill: rgb(128.54738612205, 128.54738612205, 80.315767347438); }
#TX.blue-yellow { fill: rgb(126.600186248383, 126.600186248383, 82.7497671895216); }
#UT.blue-yellow { fill: rgb(138.083389825177, 138.083389825177, 68.3957627185291); }
#VT.blue-yellow { fill: rgb(121.852981599793, 121.852981599793, 88.6837730002582); }
#VA.blue-yellow { fill: rgb(130.773303899886, 130.773303899886, 77.5333701251429); }
#WA.blue-yellow { fill: rgb(119.159979775231, 119.159979775231, 92.0500252809616); }
#WV.blue-yellow { fill: rgb(117.528031074475, 117.528031074475, 94.0899611569068); }
#WI.blue-yellow { fill: rgb(118.103595053657, 118.103595053657, 93.3705061829294); }
#WY.blue-yellow { fill: rgb(131.88187147948, 131.88187147948, 76.1476606506495); }

#AL.grayscale { fill: rgb(152, 152, 152); }
#AK.grayscale { fill: rgb(159, 159, 159); }
#AZ.grayscale { fill: rgb(155, 155, 155); }
#AR.grayscale { fill: rgb(146, 146, 146); }
#CA.grayscale { fill: rgb(132, 132, 132); }
#CO.grayscale { fill: rgb(138, 138, 138); }
#CT.grayscale { fill: rgb(134, 134, 134); }
#DE.grayscale { fill: rgb(143, 143, 143); }
#DC.grayscale { fill: rgb(38, 38, 38); }
#FL.grayscale { fill: rgb(156, 156, 156); }
#GA.grayscale { fill: rgb(154, 154, 154); }
#HI.grayscale { fill: rgb(115, 115, 115); }
#ID.grayscale { fill: rgb(161, 161, 161); }
#IL.grayscale { fill: rgb(130, 130, 130); }
#IN.grayscale { fill: rgb(153, 153, 153); }
#IA.grayscale { fill: rgb(114, 114, 114); }
#KS.grayscale { fill: rgb(145, 145, 145); }
#KY.grayscale { fill: rgb(142, 142, 142); }
#LA.grayscale { fill: rgb(139, 139, 139); }
#ME.grayscale { fill: rgb(142, 142, 142); }
#MD.grayscale { fill: rgb(131, 131, 131); }
#MA.grayscale { fill: rgb(117, 117, 117); }
#MI.grayscale { fill: rgb(138, 138, 138); }
#MN.grayscale { fill: rgb(118, 118, 118); }
#MS.grayscale { fill: rgb(154, 154, 154); }
#MO.grayscale { fill: rgb(133, 133, 133); }
#MT.grayscale { fill: rgb(135, 135, 135); }
#NE.grayscale { fill: rgb(154, 154, 154); }
#NV.grayscale { fill: rgb(155, 155, 155); }
#NH.grayscale { fill: rgb(161, 161, 161); }
#NJ.grayscale { fill: rgb(145, 145, 145); }
#NM.grayscale { fill: rgb(134, 134, 134); }
#NY.grayscale { fill: rgb(122, 122, 122); }
#NC.grayscale { fill: rgb(148, 148, 148); }
#ND.grayscale { fill: rgb(144, 144, 144); }
#OH.grayscale { fill: rgb(141, 141, 141); }
#OK.grayscale { fill: rgb(149, 149, 149); }
#OR.grayscale { fill: rgb(121, 121, 121); }
#PA.grayscale { fill: rgb(130, 130, 130); }
#RI.grayscale { fill: rgb(113, 113, 113); }
#SC.grayscale { fill: rgb(158, 158, 158); }
#SD.grayscale { fill: rgb(136, 136, 136); }
#TN.grayscale { fill: rgb(148, 148, 148); }
#TX.grayscale { fill: rgb(144, 144, 144); }
#UT.grayscale { fill: rgb(172, 172, 172); }
#VT.grayscale { fill: rgb(132, 132, 132); }
#VA.grayscale { fill: rgb(154, 154, 154); }
#WA.grayscale { fill: rgb(125, 125, 125); }
#WV.grayscale { fill: rgb(121, 121, 121); }
#WI.grayscale { fill: rgb(123, 123, 123); }
#WY.grayscale { fill: rgb(157, 157, 157); }
