#AL { fill: rgb(calc(255 * 0.53821126459903), 60, calc(255 * 0.46178873540097)); }
#AK { fill: rgb(calc(255 * 0.565742620386702), 60, calc(255 * 0.434257379613298)); }
#AZ { fill: rgb(calc(255 * 0.513019039830119), 60, calc(255 * 0.486980960169881)); }
#AR { fill: rgb(calc(255 * 0.400077329338775), 60, calc(255 * 0.599922670661225)); }
#CA { fill: rgb(calc(255 * 0.414832712306209), 60, calc(255 * 0.585167287693791)); }
#CO { fill: rgb(calc(255 * 0.47197934477175), 60, calc(255 * 0.52802065522825)); }
#CT { fill: rgb(calc(255 * 0.458748832925733), 60, calc(255 * 0.541251167074267)); }
#DE { fill: rgb(calc(255 * 0.448020072952747), 60, calc(255 * 0.551979927047253)); }
#DC { fill: rgb(calc(255 * 0.0970293038060727), 60, calc(255 * 0.902970696193927)); }
#FL { fill: rgb(calc(255 * 0.51184783448359), 60, calc(255 * 0.48815216551641)); }
#GA { fill: rgb(calc(255 * 0.496578715489034), 60, calc(255 * 0.503421284510966)); }
#HI { fill: rgb(calc(255 * 0.432800222691787), 60, calc(255 * 0.567199777308213)); }
#ID { fill: rgb(calc(255 * 0.596614830211566), 60, calc(255 * 0.403385169788434)); }
#IL { fill: rgb(calc(255 * 0.414117817877532), 60, calc(255 * 0.585882182122468)); }
#IN { fill: rgb(calc(255 * 0.538348945339388), 60, calc(255 * 0.461651054660612)); }
#IA { fill: rgb(calc(255 * 0.462674708864379), 60, calc(255 * 0.537325291135621)); }
#KS { fill: rgb(calc(255 * 0.535410555876176), 60, calc(255 * 0.464589444123824)); }
#KY { fill: rgb(calc(255 * 0.48131222305234), 60, calc(255 * 0.518687776947661)); }
#LA { fill: rgb(calc(255 * 0.473348621395844), 60, calc(255 * 0.526651378604157)); }
#ME { fill: rgb(calc(255 * 0.439441271354517), 60, calc(255 * 0.560558728645483)); }
#MD { fill: rgb(calc(255 * 0.417000999607824), 60, calc(255 * 0.582999000392177)); }
#MA { fill: rgb(calc(255 * 0.379076531599639), 60, calc(255 * 0.620923468400361)); }
#MI { fill: rgb(calc(255 * 0.453848403530289), 60, calc(255 * 0.546151596469711)); }
#MN { fill: rgb(calc(255 * 0.422786597755136), 60, calc(255 * 0.577213402244864)); }
#MS { fill: rgb(calc(255 * 0.549284894673842), 60, calc(255 * 0.450715105326158)); }
#MO { fill: rgb(calc(255 * 0.434930338996864), 60, calc(255 * 0.565069661003136)); }
#MT { fill: rgb(calc(255 * 0.482759428751247), 60, calc(255 * 0.517240571248753)); }
#NE { fill: rgb(calc(255 * 0.613053463654329), 60, calc(255 * 0.386946536345671)); }
#NV { fill: rgb(calc(255 * 0.481752224803823), 60, calc(255 * 0.518247775196177)); }
#NH { fill: rgb(calc(255 * 0.492034486445505), 60, calc(255 * 0.507965513554495)); }
#NJ { fill: rgb(calc(255 * 0.485796816479066), 60, calc(255 * 0.514203183520935)); }
#NM { fill: rgb(calc(255 * 0.448578432302436), 60, calc(255 * 0.551421567697564)); }
#NY { fill: rgb(calc(255 * 0.405216522805084), 60, calc(255 * 0.594783477194916)); }
#NC { fill: rgb(calc(255 * 0.504584642791867), 60, calc(255 * 0.495415357208133)); }
#ND { fill: rgb(calc(255 * 0.578747047729088), 60, calc(255 * 0.421252952270912)); }
#OH { fill: rgb(calc(255 * 0.488318366530455), 60, calc(255 * 0.511681633469545)); }
#OK { fill: rgb(calc(255 * 0.556221183026187), 60, calc(255 * 0.443778816973813)); }
#OR { fill: rgb(calc(255 * 0.433661084834072), 60, calc(255 * 0.566338915165928)); }
#PA { fill: rgb(calc(255 * 0.444514705389847), 60, calc(255 * 0.555485294610153)); }
#RI { fill: rgb(calc(255 * 0.381562771817918), 60, calc(255 * 0.618437228182082)); }
#SC { fill: rgb(calc(255 * 0.546353383707608), 60, calc(255 * 0.453646616292392)); }
#SD { fill: rgb(calc(255 * 0.522610337683387), 60, calc(255 * 0.477389662316614)); }
#TN { fill: rgb(calc(255 * 0.47401963352924), 60, calc(255 * 0.52598036647076)); }
#TX { fill: rgb(calc(255 * 0.522421631658855), 60, calc(255 * 0.477578368341145)); }
#UT { fill: rgb(calc(255 * 0.637535791139803), 60, calc(255 * 0.362464208860197)); }
#VT { fill: rgb(calc(255 * 0.397457986414931), 60, calc(255 * 0.602542013585069)); }
#VA { fill: rgb(calc(255 * 0.525550129341434), 60, calc(255 * 0.474449870658566)); }
#WA { fill: rgb(calc(255 * 0.424082989274888), 60, calc(255 * 0.575917010725112)); }
#WV { fill: rgb(calc(255 * 0.422311619180593), 60, calc(255 * 0.577688380819407)); }
#WI { fill: rgb(calc(255 * 0.472054914978846), 60, calc(255 * 0.527945085021154)); }
#WY { fill: rgb(calc(255 * 0.537920234293966), 60, calc(255 * 0.462079765706034)); }

#AL.blue-yellow { fill: rgb(123.973971518299, 123.973971518299, 86.0325356021261); }
#AK.blue-yellow { fill: rgb(126.837232520217, 126.837232520217, 82.4534593497288); }
#AZ.blue-yellow { fill: rgb(121.353980142332, 121.353980142332, 89.3075248220845); }
#AR.blue-yellow { fill: rgb(109.608042251233, 109.608042251233, 103.989947185959); }
#CA.blue-yellow { fill: rgb(111.142602079846, 111.142602079846, 102.071747400193); }
#CO.blue-yellow { fill: rgb(117.085851856262, 117.085851856262, 94.6426851796725); }
#CT.blue-yellow { fill: rgb(115.709878624276, 115.709878624276, 96.3626517196547); }
#DE.blue-yellow { fill: rgb(114.594087587086, 114.594087587086, 97.7573905161429); }
#DC.blue-yellow { fill: rgb(78.0910475958316, 78.0910475958316, 143.386190505211); }
#FL.blue-yellow { fill: rgb(121.232174786293, 121.232174786293, 89.4597815171333); }
#GA.blue-yellow { fill: rgb(119.64418641086, 119.64418641086, 91.4447669864256); }
#HI.blue-yellow { fill: rgb(113.011223159946, 113.011223159946, 99.7359710500677); }
#ID.blue-yellow { fill: rgb(130.047942342003, 130.047942342003, 78.4400720724965); }
#IL.blue-yellow { fill: rgb(111.068253059263, 111.068253059263, 102.164683675921); }
#IN.blue-yellow { fill: rgb(123.988290315296, 123.988290315296, 86.0146371058796); }
#IA.blue-yellow { fill: rgb(116.118169721895, 116.118169721895, 95.8522878476308); }
#KS.blue-yellow { fill: rgb(123.682697811122, 123.682697811122, 86.3966277360971); }
#KY.blue-yellow { fill: rgb(118.056471197443, 118.056471197443, 93.4294110031959); }
#LA.blue-yellow { fill: rgb(117.228256625168, 117.228256625168, 94.4646792185403); }
#ME.blue-yellow { fill: rgb(113.70189222087, 113.70189222087, 98.8726347239128); }
#MD.blue-yellow { fill: rgb(111.368103959214, 111.368103959214, 101.789870050983); }
#MA.blue-yellow { fill: rgb(107.423959286362, 107.423959286362, 106.720050892047); }
#MI.blue-yellow { fill: rgb(115.20023396715, 115.20023396715, 96.9997075410625); }
#MN.blue-yellow { fill: rgb(111.969806166534, 111.969806166534, 101.037742291832); }
#MS.blue-yellow { fill: rgb(125.12562904608, 125.12562904608, 84.5929636924006); }
#MO.blue-yellow { fill: rgb(113.232755255674, 113.232755255674, 99.4590559304076); }
#MT.blue-yellow { fill: rgb(118.20698059013, 118.20698059013, 93.2412742623379); }
#NE.blue-yellow { fill: rgb(131.75756022005, 131.75756022005, 76.3030497249372); }
#NV.blue-yellow { fill: rgb(118.102231379598, 118.102231379598, 93.3722107755031); }
#NH.blue-yellow { fill: rgb(119.171586590333, 119.171586590333, 92.0355167620844); }
#NJ.blue-yellow { fill: rgb(118.522868913823, 118.522868913823, 92.8464138577215); }
#NM.blue-yellow { fill: rgb(114.652156959453, 114.652156959453, 97.6848038006833); }
#NY.blue-yellow { fill: rgb(110.142518371729, 110.142518371729, 103.321852035339); }
#NC.blue-yellow { fill: rgb(120.476802850354, 120.476802850354, 90.4039964370573); }
#ND.blue-yellow { fill: rgb(128.189692963825, 128.189692963825, 80.7628837952186); }
#OH.blue-yellow { fill: rgb(118.785110119167, 118.785110119167, 92.5186123510409); }
#OK.blue-yellow { fill: rgb(125.847003034723, 125.847003034723, 83.6912462065957); }
#OR.blue-yellow { fill: rgb(113.100752822743, 113.100752822743, 99.6240589715707); }
#PA.blue-yellow { fill: rgb(114.229529360544, 114.229529360544, 98.2130882993199); }
#RI.blue-yellow { fill: rgb(107.682528269064, 107.682528269064, 106.396839663671); }
#SC.blue-yellow { fill: rgb(124.820751905591, 124.820751905591, 84.9740601180109); }
#SD.blue-yellow { fill: rgb(122.351475119072, 122.351475119072, 88.0606561011598); }
#TN.blue-yellow { fill: rgb(117.298041887041, 117.298041887041, 94.3774476411988); }
#TX.blue-yellow { fill: rgb(122.331849692521, 122.331849692521, 88.0851878843489); }
#UT.blue-yellow { fill: rgb(134.30372227854, 134.30372227854, 73.1203471518256); }
#VT.blue-yellow { fill: rgb(109.335630587153, 109.335630587153, 104.330461766059); }
#VA.blue-yellow { fill: rgb(122.657213451509, 122.657213451509, 87.6784831856135); }
#WA.blue-yellow { fill: rgb(112.104630884588, 112.104630884588, 100.869211394265); }
#WV.blue-yellow { fill: rgb(111.920408394782, 111.920408394782, 101.099489506523); }
#WI.blue-yellow { fill: rgb(117.0937111578, 117.0937111578, 94.6328610527501); }
#WY.blue-yellow { fill: rgb(123.943704366572, 123.943704366572, 86.0703695417845); }

#AL.grayscale { fill: rgb(137, 137, 137); }
#AK.grayscale { fill: rgb(144, 144, 144); }
#AZ.grayscale { fill: rgb(131, 131, 131); }
#AR.grayscale { fill: rgb(102, 102, 102); }
#CA.grayscale { fill: rgb(106, 106, 106); }
#CO.grayscale { fill: rgb(120, 120, 120); }
#CT.grayscale { fill: rgb(117, 117, 117); }
#DE.grayscale { fill: rgb(114, 114, 114); }
#DC.grayscale { fill: rgb(25, 25, 25); }
#FL.grayscale { fill: rgb(131, 131, 131); }
#GA.grayscale { fill: rgb(127, 127, 127); }
#HI.grayscale { fill: rgb(110, 110, 110); }
#ID.grayscale { fill: rgb(152, 152, 152); }
#IL.grayscale { fill: rgb(106, 106, 106); }
#IN.grayscale { fill: rgb(137, 137, 137); }
#IA.grayscale { fill: rgb(118, 118, 118); }
#KS.grayscale { fill: rgb(137, 137, 137); }
#KY.grayscale { fill: rgb(123, 123, 123); }
#LA.grayscale { fill: rgb(121, 121, 121); }
#ME.grayscale { fill: rgb(112, 112, 112); }
#MD.grayscale { fill: rgb(106, 106, 106); }
#MA.grayscale { fill: rgb(97, 97, 97); }
#MI.grayscale { fill: rgb(116, 116, 116); }
#MN.grayscale { fill: rgb(108, 108, 108); }
#MS.grayscale { fill: rgb(140, 140, 140); }
#MO.grayscale { fill: rgb(111, 111, 111); }
#MT.grayscale { fill: rgb(123, 123, 123); }
#NE.grayscale { fill: rgb(156, 156, 156); }
#NV.grayscale { fill: rgb(123, 123, 123); }
#NH.grayscale { fill: rgb(125, 125, 125); }
#NJ.grayscale { fill: rgb(124, 124, 124); }
#NM.grayscale { fill: rgb(114, 114, 114); }
#NY.grayscale { fill: rgb(103, 103, 103); }
#NC.grayscale { fill: rgb(129, 129, 129); }
#ND.grayscale { fill: rgb(148, 148, 148); }
#OH.grayscale { fill: rgb(125, 125, 125); }
#OK.grayscale { fill: rgb(142, 142, 142); }
#OR.grayscale { fill: rgb(111, 111, 111); }
#PA.grayscale { fill: rgb(113, 113, 113); }
#RI.grayscale { fill: rgb(97, 97, 97); }
#SC.grayscale { fill: rgb(139, 139, 139); }
#SD.grayscale { fill: rgb(133, 133, 133); }
#TN.grayscale { fill: rgb(121, 121, 121); }
#TX.grayscale { fill: rgb(133, 133, 133); }
#UT.grayscale { fill: rgb(163, 163, 163); }
#VT.grayscale { fill: rgb(101, 101, 101); }
#VA.grayscale { fill: rgb(134, 134, 134); }
#WA.grayscale { fill: rgb(108, 108, 108); }
#WV.grayscale { fill: rgb(108, 108, 108); }
#WI.grayscale { fill: rgb(120, 120, 120); }
#WY.grayscale { fill: rgb(137, 137, 137); }
