#AL { fill: rgb(138, 60, 117); }
#AK { fill: rgb(145, 60, 110); }
#AZ { fill: rgb(130, 60, 125); }
#AR { fill: rgb(102, 60, 153); }
#CA { fill: rgb(105, 60, 150); }
#CO { fill: rgb(120, 60, 135); }
#CT { fill: rgb(117, 60, 138); }
#DE { fill: rgb(115, 60, 140); }
#DC { fill: rgb(26, 60, 230); }
#FL { fill: rgb(130, 60, 125); }
#GA { fill: rgb(128, 60, 128); }
#HI { fill: rgb(110, 60, 145); }
#ID { fill: rgb(153, 60, 102); }
#IL { fill: rgb(105, 60, 150); }
#IN { fill: rgb(138, 60, 117); }
#IA { fill: rgb(117, 60, 138); }
#KS { fill: rgb(138, 60, 117); }
#KY { fill: rgb(122, 60, 133); }
#LA { fill: rgb(120, 60, 135); }
#ME { fill: rgb(112, 60, 143); }
#MD { fill: rgb(107, 60, 148); }
#MA { fill: rgb(97, 60, 158); }
#MI { fill: rgb(115, 60, 140); }
#MN { fill: rgb(107, 60, 148); }
#MS { fill: rgb(140, 60, 115); }
#MO { fill: rgb(110, 60, 145); }
#MT { fill: rgb(122, 60, 133); }
#NE { fill: rgb(156, 60, 99); }
#NV { fill: rgb(122, 60, 133); }
#NH { fill: rgb(125, 60, 130); }
#NJ { fill: rgb(125, 60, 130); }
#NM { fill: rgb(115, 60, 140); }
#NY { fill: rgb(105, 60, 150); }
#NC { fill: rgb(128, 60, 128); }
#ND { fill: rgb(148, 60, 107); }
#OH { fill: rgb(125, 60, 130); }
#OK { fill: rgb(143, 60, 112); }
#OR { fill: rgb(110, 60, 145); }
#PA { fill: rgb(112, 60, 143); }
#RI { fill: rgb(97, 60, 158); }
#SC { fill: rgb(140, 60, 115); }
#SD { fill: rgb(133, 60, 122); }
#TN { fill: rgb(120, 60, 135); }
#TX { fill: rgb(133, 60, 122); }
#UT { fill: rgb(163, 60, 92); }
#VT { fill: rgb(102, 60, 153); }
#VA { fill: rgb(135, 60, 120); }
#WA { fill: rgb(107, 60, 148); }
#WV { fill: rgb(107, 60, 148); }
#WI { fill: rgb(120, 60, 135); }
#WY { fill: rgb(138, 60, 117); }

#AL.blue-yellow { fill: rgb(124, 124, 86); }
#AK.blue-yellow { fill: rgb(127, 127, 82); }
#AZ.blue-yellow { fill: rgb(121, 121, 90); }
#AR.blue-yellow { fill: rgb(110, 110, 104); }
#CA.blue-yellow { fill: rgb(111, 111, 103); }
#CO.blue-yellow { fill: rgb(117, 117, 95); }
#CT.blue-yellow { fill: rgb(116, 116, 96); }
#DE.blue-yellow { fill: rgb(115, 115, 98); }
#DC.blue-yellow { fill: rgb(78, 78, 143); }
#FL.blue-yellow { fill: rgb(121, 121, 90); }
#GA.blue-yellow { fill: rgb(120, 120, 91); }
#HI.blue-yellow { fill: rgb(113, 113, 100); }
#ID.blue-yellow { fill: rgb(130, 130, 78); }
#IL.blue-yellow { fill: rgb(111, 111, 103); }
#IN.blue-yellow { fill: rgb(124, 124, 86); }
#IA.blue-yellow { fill: rgb(116, 116, 96); }
#KS.blue-yellow { fill: rgb(124, 124, 86); }
#KY.blue-yellow { fill: rgb(118, 118, 94); }
#LA.blue-yellow { fill: rgb(117, 117, 95); }
#ME.blue-yellow { fill: rgb(114, 114, 99); }
#MD.blue-yellow { fill: rgb(112, 112, 101); }
#MA.blue-yellow { fill: rgb(108, 108, 107); }
#MI.blue-yellow { fill: rgb(115, 115, 98); }
#MN.blue-yellow { fill: rgb(112, 112, 101); }
#MS.blue-yellow { fill: rgb(125, 125, 85); }
#MO.blue-yellow { fill: rgb(113, 113, 100); }
#MT.blue-yellow { fill: rgb(118, 118, 94); }
#NE.blue-yellow { fill: rgb(131, 131, 77); }
#NV.blue-yellow { fill: rgb(118, 118, 94); }
#NH.blue-yellow { fill: rgb(119, 119, 92); }
#NJ.blue-yellow { fill: rgb(119, 119, 92); }
#NM.blue-yellow { fill: rgb(115, 115, 98); }
#NY.blue-yellow { fill: rgb(111, 111, 103); }
#NC.blue-yellow { fill: rgb(120, 120, 91); }
#ND.blue-yellow { fill: rgb(128, 128, 81); }
#OH.blue-yellow { fill: rgb(119, 119, 92); }
#OK.blue-yellow { fill: rgb(126, 126, 83); }
#OR.blue-yellow { fill: rgb(113, 113, 100); }
#PA.blue-yellow { fill: rgb(114, 114, 99); }
#RI.blue-yellow { fill: rgb(108, 108, 107); }
#SC.blue-yellow { fill: rgb(125, 125, 85); }
#SD.blue-yellow { fill: rgb(122, 122, 88); }
#TN.blue-yellow { fill: rgb(117, 117, 95); }
#TX.blue-yellow { fill: rgb(122, 122, 88); }
#UT.blue-yellow { fill: rgb(135, 135, 73); }
#VT.blue-yellow { fill: rgb(110, 110, 104); }
#VA.blue-yellow { fill: rgb(123, 123, 87); }
#WA.blue-yellow { fill: rgb(112, 112, 101); }
#WV.blue-yellow { fill: rgb(112, 112, 101); }
#WI.blue-yellow { fill: rgb(117, 117, 95); }
#WY.blue-yellow { fill: rgb(124, 124, 86); }

#AL.grayscale { fill: rgb(137, 137, 137); }
#AK.grayscale { fill: rgb(144, 144, 144); }
#AZ.grayscale { fill: rgb(131, 131, 131); }
#AR.grayscale { fill: rgb(102, 102, 102); }
#CA.grayscale { fill: rgb(106, 106, 106); }
#CO.grayscale { fill: rgb(120, 120, 120); }
#CT.grayscale { fill: rgb(117, 117, 117); }
#DE.grayscale { fill: rgb(114, 114, 114); }
#DC.grayscale { fill: rgb(25, 25, 25); }
#FL.grayscale { fill: rgb(131, 131, 131); }
#GA.grayscale { fill: rgb(127, 127, 127); }
#HI.grayscale { fill: rgb(110, 110, 110); }
#ID.grayscale { fill: rgb(152, 152, 152); }
#IL.grayscale { fill: rgb(106, 106, 106); }
#IN.grayscale { fill: rgb(137, 137, 137); }
#IA.grayscale { fill: rgb(118, 118, 118); }
#KS.grayscale { fill: rgb(137, 137, 137); }
#KY.grayscale { fill: rgb(123, 123, 123); }
#LA.grayscale { fill: rgb(121, 121, 121); }
#ME.grayscale { fill: rgb(112, 112, 112); }
#MD.grayscale { fill: rgb(106, 106, 106); }
#MA.grayscale { fill: rgb(97, 97, 97); }
#MI.grayscale { fill: rgb(116, 116, 116); }
#MN.grayscale { fill: rgb(108, 108, 108); }
#MS.grayscale { fill: rgb(140, 140, 140); }
#MO.grayscale { fill: rgb(111, 111, 111); }
#MT.grayscale { fill: rgb(123, 123, 123); }
#NE.grayscale { fill: rgb(156, 156, 156); }
#NV.grayscale { fill: rgb(123, 123, 123); }
#NH.grayscale { fill: rgb(125, 125, 125); }
#NJ.grayscale { fill: rgb(124, 124, 124); }
#NM.grayscale { fill: rgb(114, 114, 114); }
#NY.grayscale { fill: rgb(103, 103, 103); }
#NC.grayscale { fill: rgb(129, 129, 129); }
#ND.grayscale { fill: rgb(148, 148, 148); }
#OH.grayscale { fill: rgb(125, 125, 125); }
#OK.grayscale { fill: rgb(142, 142, 142); }
#OR.grayscale { fill: rgb(111, 111, 111); }
#PA.grayscale { fill: rgb(113, 113, 113); }
#RI.grayscale { fill: rgb(97, 97, 97); }
#SC.grayscale { fill: rgb(139, 139, 139); }
#SD.grayscale { fill: rgb(133, 133, 133); }
#TN.grayscale { fill: rgb(121, 121, 121); }
#TX.grayscale { fill: rgb(133, 133, 133); }
#UT.grayscale { fill: rgb(163, 163, 163); }
#VT.grayscale { fill: rgb(101, 101, 101); }
#VA.grayscale { fill: rgb(134, 134, 134); }
#WA.grayscale { fill: rgb(108, 108, 108); }
#WV.grayscale { fill: rgb(108, 108, 108); }
#WI.grayscale { fill: rgb(120, 120, 120); }
#WY.grayscale { fill: rgb(137, 137, 137); }
