#AL { fill: rgb(calc(255 * 0.537338711536889), 60, calc(255 * 0.462661288463111)); }
#AK { fill: rgb(calc(255 * 0.604285025058338), 60, calc(255 * 0.395714974941662)); }
#AZ { fill: rgb(calc(255 * 0.487762288481457), 60, calc(255 * 0.512237711518543)); }
#AR { fill: rgb(calc(255 * 0.406471751352445), 60, calc(255 * 0.593528248647555)); }
#CA { fill: rgb(calc(255 * 0.42783728374877), 60, calc(255 * 0.57216271625123)); }
#CO { fill: rgb(calc(255 * 0.507592076302274), 60, calc(255 * 0.492407923697726)); }
#CT { fill: rgb(calc(255 * 0.396364931176873), 60, calc(255 * 0.603635068823127)); }
#DE { fill: rgb(calc(255 * 0.4137634336743), 60, calc(255 * 0.5862365663257)); }
#DC { fill: rgb(calc(255 * 0.0987645179113574), 60, calc(255 * 0.901235482088643)); }
#FL { fill: rgb(calc(255 * 0.468450388048936), 60, calc(255 * 0.531549611951064)); }
#GA { fill: rgb(calc(255 * 0.506322691985542), 60, calc(255 * 0.493677308014458)); }
#HI { fill: rgb(calc(255 * 0.357238481917512), 60, calc(255 * 0.642761518082488)); }
#ID { fill: rgb(calc(255 * 0.607990275757159), 60, calc(255 * 0.392009724242841)); }
#IL { fill: rgb(calc(255 * 0.403949078145422), 60, calc(255 * 0.596050921854578)); }
#IN { fill: rgb(calc(255 * 0.531484063550457), 60, calc(255 * 0.468515936449544)); }
#IA { fill: rgb(calc(255 * 0.442666110762673), 60, calc(255 * 0.557333889237327)); }
#KS { fill: rgb(calc(255 * 0.600723655479841), 60, calc(255 * 0.399276344520159)); }
#KY { fill: rgb(calc(255 * 0.494709488156572), 60, calc(255 * 0.505290511843428)); }
#LA { fill: rgb(calc(255 * 0.434391617284079), 60, calc(255 * 0.565608382715921)); }
#ME { fill: rgb(calc(255 * 0.373378795831447), 60, calc(255 * 0.626621204168553)); }
#MD { fill: rgb(calc(255 * 0.413615765137276), 60, calc(255 * 0.586384234862724)); }
#MA { fill: rgb(calc(255 * 0.31360164550826), 60, calc(255 * 0.68639835449174)); }
#MI { fill: rgb(calc(255 * 0.426755866333032), 60, calc(255 * 0.573244133666968)); }
#MN { fill: rgb(calc(255 * 0.406206112202252), 60, calc(255 * 0.593793887797748)); }
#MS { fill: rgb(calc(255 * 0.527472237545871), 60, calc(255 * 0.472527762454129)); }
#MO { fill: rgb(calc(255 * 0.464529625235718), 60, calc(255 * 0.535470374764282)); }
#MT { fill: rgb(calc(255 * 0.516874104507242), 60, calc(255 * 0.483125895492758)); }
#NE { fill: rgb(calc(255 * 0.60554822500783), 60, calc(255 * 0.39445177499217)); }
#NV { fill: rgb(calc(255 * 0.49413468644753), 60, calc(255 * 0.50586531355247)); }
#NH { fill: rgb(calc(255 * 0.443893338392668), 60, calc(255 * 0.556106661607333)); }
#NJ { fill: rgb(calc(255 * 0.400332146938728), 60, calc(255 * 0.599667853061272)); }
#NM { fill: rgb(calc(255 * 0.459758694389684), 60, calc(255 * 0.540241305610316)); }
#NY { fill: rgb(calc(255 * 0.33982504078884), 60, calc(255 * 0.66017495921116)); }
#NC { fill: rgb(calc(255 * 0.525299866697346), 60, calc(255 * 0.474700133302654)); }
#ND { fill: rgb(calc(255 * 0.539113190058417), 60, calc(255 * 0.460886809941584)); }
#OH { fill: rgb(calc(255 * 0.464030508182795), 60, calc(255 * 0.535969491817205)); }
#OK { fill: rgb(calc(255 * 0.544006091067058), 60, calc(255 * 0.455993908932942)); }
#OR { fill: rgb(calc(255 * 0.453068842803418), 60, calc(255 * 0.546931157196582)); }
#PA { fill: rgb(calc(255 * 0.448387946391675), 60, calc(255 * 0.551612053608325)); }
#RI { fill: rgb(calc(255 * 0.309957866125016), 60, calc(255 * 0.690042133874984)); }
#SC { fill: rgb(calc(255 * 0.532207155578283), 60, calc(255 * 0.467792844421717)); }
#SD { fill: rgb(calc(255 * 0.519335853951345), 60, calc(255 * 0.480664146048655)); }
#TN { fill: rgb(calc(255 * 0.487133576581394), 60, calc(255 * 0.512866423418606)); }
#TX { fill: rgb(calc(255 * 0.526606233821223), 60, calc(255 * 0.473393766178777)); }
#UT { fill: rgb(calc(255 * 0.620194878192561), 60, calc(255 * 0.379805121807439)); }
#VT { fill: rgb(calc(255 * 0.36817169615938), 60, calc(255 * 0.63182830384062)); }
#VA { fill: rgb(calc(255 * 0.510605945070669), 60, calc(255 * 0.489394054929331)); }
#WA { fill: rgb(calc(255 * 0.428053471552187), 60, calc(255 * 0.571946528447813)); }
#WV { fill: rgb(calc(255 * 0.416453348238921), 60, calc(255 * 0.583546651761079)); }
#WI { fill: rgb(calc(255 * 0.440808033385498), 60, calc(255 * 0.559191966614502)); }
#WY { fill: rgb(calc(255 * 0.57487917434896), 60, calc(255 * 0.42512082565104)); }