#AL { fill: rgb(138, 60, 117); }
#AK { fill: rgb(153, 60, 102); }
#AZ { fill: rgb(125, 60, 130); }
#AR { fill: rgb(105, 60, 150); }
#CA { fill: rgb(110, 60, 145); }
#CO { fill: rgb(130, 60, 125); }
#CT { fill: rgb(102, 60, 153); }
#DE { fill: rgb(105, 60, 150); }
#DC { fill: rgb(26, 60, 230); }
#FL { fill: rgb(120, 60, 135); }
#GA { fill: rgb(130, 60, 125); }
#HI { fill: rgb(92, 60, 163); }
#ID { fill: rgb(156, 60, 99); }
#IL { fill: rgb(102, 60, 153); }
#IN { fill: rgb(135, 60, 120); }
#IA { fill: rgb(112, 60, 143); }
#KS { fill: rgb(153, 60, 102); }
#KY { fill: rgb(125, 60, 130); }
#LA { fill: rgb(110, 60, 145); }
#ME { fill: rgb(94, 60, 161); }
#MD { fill: rgb(105, 60, 150); }
#MA { fill: rgb(79, 60, 176); }
#MI { fill: rgb(110, 60, 145); }
#MN { fill: rgb(105, 60, 150); }
#MS { fill: rgb(135, 60, 120); }
#MO { fill: rgb(117, 60, 138); }
#MT { fill: rgb(133, 60, 122); }
#NE { fill: rgb(156, 60, 99); }
#NV { fill: rgb(125, 60, 130); }
#NH { fill: rgb(112, 60, 143); }
#NJ { fill: rgb(102, 60, 153); }
#NM { fill: rgb(117, 60, 138); }
#NY { fill: rgb(87, 60, 168); }
#NC { fill: rgb(135, 60, 120); }
#ND { fill: rgb(138, 60, 117); }
#OH { fill: rgb(117, 60, 138); }
#OK { fill: rgb(138, 60, 117); }
#OR { fill: rgb(115, 60, 140); }
#PA { fill: rgb(115, 60, 140); }
#RI { fill: rgb(79, 60, 176); }
#SC { fill: rgb(135, 60, 120); }
#SD { fill: rgb(133, 60, 122); }
#TN { fill: rgb(125, 60, 130); }
#TX { fill: rgb(135, 60, 120); }
#UT { fill: rgb(158, 60, 97); }
#VT { fill: rgb(94, 60, 161); }
#VA { fill: rgb(130, 60, 125); }
#WA { fill: rgb(110, 60, 145); }
#WV { fill: rgb(107, 60, 148); }
#WI { fill: rgb(112, 60, 143); }
#WY { fill: rgb(145, 60, 110); }

#AL.blue-yellow { fill: rgb(124, 124, 86); }
#AK.blue-yellow { fill: rgb(130, 130, 78); }
#AZ.blue-yellow { fill: rgb(119, 119, 92); }
#AR.blue-yellow { fill: rgb(111, 111, 103); }
#CA.blue-yellow { fill: rgb(113, 113, 100); }
#CO.blue-yellow { fill: rgb(121, 121, 90); }
#CT.blue-yellow { fill: rgb(110, 110, 104); }
#DE.blue-yellow { fill: rgb(111, 111, 103); }
#DC.blue-yellow { fill: rgb(78, 78, 143); }
#FL.blue-yellow { fill: rgb(117, 117, 95); }
#GA.blue-yellow { fill: rgb(121, 121, 90); }
#HI.blue-yellow { fill: rgb(105, 105, 109); }
#ID.blue-yellow { fill: rgb(131, 131, 77); }
#IL.blue-yellow { fill: rgb(110, 110, 104); }
#IN.blue-yellow { fill: rgb(123, 123, 87); }
#IA.blue-yellow { fill: rgb(114, 114, 99); }
#KS.blue-yellow { fill: rgb(130, 130, 78); }
#KY.blue-yellow { fill: rgb(119, 119, 92); }
#LA.blue-yellow { fill: rgb(113, 113, 100); }
#ME.blue-yellow { fill: rgb(106, 106, 108); }
#MD.blue-yellow { fill: rgb(111, 111, 103); }
#MA.blue-yellow { fill: rgb(100, 100, 116); }
#MI.blue-yellow { fill: rgb(113, 113, 100); }
#MN.blue-yellow { fill: rgb(111, 111, 103); }
#MS.blue-yellow { fill: rgb(123, 123, 87); }
#MO.blue-yellow { fill: rgb(116, 116, 96); }
#MT.blue-yellow { fill: rgb(122, 122, 88); }
#NE.blue-yellow { fill: rgb(131, 131, 77); }
#NV.blue-yellow { fill: rgb(119, 119, 92); }
#NH.blue-yellow { fill: rgb(114, 114, 99); }
#NJ.blue-yellow { fill: rgb(110, 110, 104); }
#NM.blue-yellow { fill: rgb(116, 116, 96); }
#NY.blue-yellow { fill: rgb(103, 103, 112); }
#NC.blue-yellow { fill: rgb(123, 123, 87); }
#ND.blue-yellow { fill: rgb(124, 124, 86); }
#OH.blue-yellow { fill: rgb(116, 116, 96); }
#OK.blue-yellow { fill: rgb(124, 124, 86); }
#OR.blue-yellow { fill: rgb(115, 115, 98); }
#PA.blue-yellow { fill: rgb(115, 115, 98); }
#RI.blue-yellow { fill: rgb(100, 100, 116); }
#SC.blue-yellow { fill: rgb(123, 123, 87); }
#SD.blue-yellow { fill: rgb(122, 122, 88); }
#TN.blue-yellow { fill: rgb(119, 119, 92); }
#TX.blue-yellow { fill: rgb(123, 123, 87); }
#UT.blue-yellow { fill: rgb(132, 132, 75); }
#VT.blue-yellow { fill: rgb(106, 106, 108); }
#VA.blue-yellow { fill: rgb(121, 121, 90); }
#WA.blue-yellow { fill: rgb(113, 113, 100); }
#WV.blue-yellow { fill: rgb(112, 112, 101); }
#WI.blue-yellow { fill: rgb(114, 114, 99); }
#WY.blue-yellow { fill: rgb(127, 127, 82); }

#AL.grayscale { fill: rgb(137, 137, 137); }
#AK.grayscale { fill: rgb(154, 154, 154); }
#AZ.grayscale { fill: rgb(124, 124, 124); }
#AR.grayscale { fill: rgb(104, 104, 104); }
#CA.grayscale { fill: rgb(109, 109, 109); }
#CO.grayscale { fill: rgb(129, 129, 129); }
#CT.grayscale { fill: rgb(101, 101, 101); }
#DE.grayscale { fill: rgb(106, 106, 106); }
#DC.grayscale { fill: rgb(25, 25, 25); }
#FL.grayscale { fill: rgb(119, 119, 119); }
#GA.grayscale { fill: rgb(129, 129, 129); }
#HI.grayscale { fill: rgb(91, 91, 91); }
#ID.grayscale { fill: rgb(155, 155, 155); }
#IL.grayscale { fill: rgb(103, 103, 103); }
#IN.grayscale { fill: rgb(136, 136, 136); }
#IA.grayscale { fill: rgb(113, 113, 113); }
#KS.grayscale { fill: rgb(153, 153, 153); }
#KY.grayscale { fill: rgb(126, 126, 126); }
#LA.grayscale { fill: rgb(111, 111, 111); }
#ME.grayscale { fill: rgb(95, 95, 95); }
#MD.grayscale { fill: rgb(105, 105, 105); }
#MA.grayscale { fill: rgb(80, 80, 80); }
#MI.grayscale { fill: rgb(109, 109, 109); }
#MN.grayscale { fill: rgb(104, 104, 104); }
#MS.grayscale { fill: rgb(135, 135, 135); }
#MO.grayscale { fill: rgb(118, 118, 118); }
#MT.grayscale { fill: rgb(132, 132, 132); }
#NE.grayscale { fill: rgb(154, 154, 154); }
#NV.grayscale { fill: rgb(126, 126, 126); }
#NH.grayscale { fill: rgb(113, 113, 113); }
#NJ.grayscale { fill: rgb(102, 102, 102); }
#NM.grayscale { fill: rgb(117, 117, 117); }
#NY.grayscale { fill: rgb(87, 87, 87); }
#NC.grayscale { fill: rgb(134, 134, 134); }
#ND.grayscale { fill: rgb(137, 137, 137); }
#OH.grayscale { fill: rgb(118, 118, 118); }
#OK.grayscale { fill: rgb(139, 139, 139); }
#OR.grayscale { fill: rgb(116, 116, 116); }
#PA.grayscale { fill: rgb(114, 114, 114); }
#RI.grayscale { fill: rgb(79, 79, 79); }
#SC.grayscale { fill: rgb(136, 136, 136); }
#SD.grayscale { fill: rgb(132, 132, 132); }
#TN.grayscale { fill: rgb(124, 124, 124); }
#TX.grayscale { fill: rgb(134, 134, 134); }
#UT.grayscale { fill: rgb(158, 158, 158); }
#VT.grayscale { fill: rgb(94, 94, 94); }
#VA.grayscale { fill: rgb(130, 130, 130); }
#WA.grayscale { fill: rgb(109, 109, 109); }
#WV.grayscale { fill: rgb(106, 106, 106); }
#WI.grayscale { fill: rgb(112, 112, 112); }
#WY.grayscale { fill: rgb(147, 147, 147); }
