#AL { fill: rgb(calc(255 * 0.576069419213311), 60, calc(255 * 0.423930580786689)); }
#AK { fill: rgb(calc(255 * 0.679369485637292), 60, calc(255 * 0.320630514362708)); }
#AZ { fill: rgb(calc(255 * 0.532825991671399), 60, calc(255 * 0.467174008328601)); }
#AR { fill: rgb(calc(255 * 0.528006895104208), 60, calc(255 * 0.471993104895792)); }
#CA { fill: rgb(calc(255 * 0.437970100009282), 60, calc(255 * 0.562029899990718)); }
#CO { fill: rgb(calc(255 * 0.54485919943279), 60, calc(255 * 0.45514080056721)); }
#CT { fill: rgb(calc(255 * 0.407443419511455), 60, calc(255 * 0.592556580488545)); }
#DE { fill: rgb(calc(255 * 0.432599352147116), 60, calc(255 * 0.567400647852885)); }
#DC { fill: rgb(calc(255 * 0.0951230552222152), 60, calc(255 * 0.904876944777785)); }
#FL { fill: rgb(calc(255 * 0.500046094080336), 60, calc(255 * 0.499953905919664)); }
#GA { fill: rgb(calc(255 * 0.559837536229027), 60, calc(255 * 0.440162463770973)); }
#HI { fill: rgb(calc(255 * 0.401727037195707), 60, calc(255 * 0.598272962804293)); }
#ID { fill: rgb(calc(255 * 0.70848490455744), 60, calc(255 * 0.29151509544256)); }
#IL { fill: rgb(calc(255 * 0.438199896841604), 60, calc(255 * 0.561800103158396)); }
#IN { fill: rgb(calc(255 * 0.580047825325819), 60, calc(255 * 0.419952174674181)); }
#IA { fill: rgb(calc(255 * 0.498372208124818), 60, calc(255 * 0.501627791875182)); }
#KS { fill: rgb(calc(255 * 0.609169074635281), 60, calc(255 * 0.390830925364719)); }
#KY { fill: rgb(calc(255 * 0.577277870040162), 60, calc(255 * 0.422722129959838)); }
#LA { fill: rgb(calc(255 * 0.539392459663472), 60, calc(255 * 0.460607540336528)); }
#ME { fill: rgb(calc(255 * 0.472521584589996), 60, calc(255 * 0.527478415410004)); }
#MD { fill: rgb(calc(255 * 0.415291753994098), 60, calc(255 * 0.584708246005902)); }
#MA { fill: rgb(calc(255 * 0.352106562393662), 60, calc(255 * 0.647893437606338)); }
#MI { fill: rgb(calc(255 * 0.473653935182659), 60, calc(255 * 0.526346064817341)); }
#MN { fill: rgb(calc(255 * 0.487135880241887), 60, calc(255 * 0.512864119758113)); }
#MS { fill: rgb(calc(255 * 0.586054848392463), 60, calc(255 * 0.413945151607537)); }
#MO { fill: rgb(calc(255 * 0.517119486567507), 60, calc(255 * 0.482880513432493)); }
#MT { fill: rgb(calc(255 * 0.636563619786697), 60, calc(255 * 0.363436380213303)); }
#NE { fill: rgb(calc(255 * 0.65179480862085), 60, calc(255 * 0.34820519137915)); }
#NV { fill: rgb(calc(255 * 0.518568384996724), 60, calc(255 * 0.481431615003276)); }
#NH { fill: rgb(calc(255 * 0.506678001952188), 60, calc(255 * 0.493321998047812)); }
#NJ { fill: rgb(calc(255 * 0.417885905832791), 60, calc(255 * 0.582114094167209)); }
#NM { fill: rgb(calc(255 * 0.499680739706909), 60, calc(255 * 0.500319260293091)); }
#NY { fill: rgb(calc(255 * 0.369121147657582), 60, calc(255 * 0.630878852342418)); }
#NC { fill: rgb(calc(255 * 0.564639969815031), 60, calc(255 * 0.43536003018497)); }
#ND { fill: rgb(calc(255 * 0.647273965706163), 60, calc(255 * 0.352726034293837)); }
#OH { fill: rgb(calc(255 * 0.518184316609582), 60, calc(255 * 0.481815683390418)); }
#OK { fill: rgb(calc(255 * 0.610806712221189), 60, calc(255 * 0.389193287778811)); }
#OR { fill: rgb(calc(255 * 0.497641080144694), 60, calc(255 * 0.502358919855306)); }
#PA { fill: rgb(calc(255 * 0.478515212831969), 60, calc(255 * 0.521484787168032)); }
#RI { fill: rgb(calc(255 * 0.343508839324007), 60, calc(255 * 0.656491160675993)); }
#SC { fill: rgb(calc(255 * 0.581530272334846), 60, calc(255 * 0.418469727665154)); }
#SD { fill: rgb(calc(255 * 0.616147125723739), 60, calc(255 * 0.383852874276261)); }
#TN { fill: rgb(calc(255 * 0.51962866785179), 60, calc(255 * 0.48037133214821)); }
#TX { fill: rgb(calc(255 * 0.609562701485629), 60, calc(255 * 0.390437298514371)); }
#UT { fill: rgb(calc(255 * 0.717255054313241), 60, calc(255 * 0.282744945686759)); }
#VT { fill: rgb(calc(255 * 0.445596491032266), 60, calc(255 * 0.554403508967734)); }
#VA { fill: rgb(calc(255 * 0.541472363058333), 60, calc(255 * 0.458527636941668)); }
#WA { fill: rgb(calc(255 * 0.470552289905946), 60, calc(255 * 0.529447710094054)); }
#WV { fill: rgb(calc(255 * 0.532420740159374), 60, calc(255 * 0.467579259840626)); }
#WI { fill: rgb(calc(255 * 0.498849316968422), 60, calc(255 * 0.501150683031578)); }
#WY { fill: rgb(calc(255 * 0.70982305640317), 60, calc(255 * 0.29017694359683)); }