#AL { fill: rgb(calc(255 * 0.58), 60, calc(255 * 0.42)); }
#AK { fill: rgb(calc(255 * 0.68), 60, calc(255 * 0.32)); }
#AZ { fill: rgb(calc(255 * 0.53), 60, calc(255 * 0.47)); }
#AR { fill: rgb(calc(255 * 0.53), 60, calc(255 * 0.47)); }
#CA { fill: rgb(calc(255 * 0.44), 60, calc(255 * 0.56)); }
#CO { fill: rgb(calc(255 * 0.54), 60, calc(255 * 0.46)); }
#CT { fill: rgb(calc(255 * 0.41), 60, calc(255 * 0.59)); }
#DE { fill: rgb(calc(255 * 0.43), 60, calc(255 * 0.57)); }
#DC { fill: rgb(calc(255 * 0.1), 60, calc(255 * 0.9)); }
#FL { fill: rgb(calc(255 * 0.5), 60, calc(255 * 0.5)); }
#GA { fill: rgb(calc(255 * 0.56), 60, calc(255 * 0.44)); }
#HI { fill: rgb(calc(255 * 0.4), 60, calc(255 * 0.6)); }
#ID { fill: rgb(calc(255 * 0.71), 60, calc(255 * 0.29)); }
#IL { fill: rgb(calc(255 * 0.44), 60, calc(255 * 0.56)); }
#IN { fill: rgb(calc(255 * 0.58), 60, calc(255 * 0.42)); }
#IA { fill: rgb(calc(255 * 0.5), 60, calc(255 * 0.5)); }
#KS { fill: rgb(calc(255 * 0.61), 60, calc(255 * 0.39)); }
#KY { fill: rgb(calc(255 * 0.58), 60, calc(255 * 0.42)); }
#LA { fill: rgb(calc(255 * 0.54), 60, calc(255 * 0.46)); }
#ME { fill: rgb(calc(255 * 0.47), 60, calc(255 * 0.53)); }
#MD { fill: rgb(calc(255 * 0.42), 60, calc(255 * 0.58)); }
#MA { fill: rgb(calc(255 * 0.35), 60, calc(255 * 0.65)); }
#MI { fill: rgb(calc(255 * 0.47), 60, calc(255 * 0.53)); }
#MN { fill: rgb(calc(255 * 0.49), 60, calc(255 * 0.51)); }
#MS { fill: rgb(calc(255 * 0.59), 60, calc(255 * 0.41)); }
#MO { fill: rgb(calc(255 * 0.52), 60, calc(255 * 0.48)); }
#MT { fill: rgb(calc(255 * 0.64), 60, calc(255 * 0.36)); }
#NE { fill: rgb(calc(255 * 0.65), 60, calc(255 * 0.35)); }
#NV { fill: rgb(calc(255 * 0.52), 60, calc(255 * 0.48)); }
#NH { fill: rgb(calc(255 * 0.51), 60, calc(255 * 0.49)); }
#NJ { fill: rgb(calc(255 * 0.42), 60, calc(255 * 0.58)); }
#NM { fill: rgb(calc(255 * 0.5), 60, calc(255 * 0.5)); }
#NY { fill: rgb(calc(255 * 0.37), 60, calc(255 * 0.63)); }
#NC { fill: rgb(calc(255 * 0.56), 60, calc(255 * 0.44)); }
#ND { fill: rgb(calc(255 * 0.65), 60, calc(255 * 0.35)); }
#OH { fill: rgb(calc(255 * 0.52), 60, calc(255 * 0.48)); }
#OK { fill: rgb(calc(255 * 0.61), 60, calc(255 * 0.39)); }
#OR { fill: rgb(calc(255 * 0.5), 60, calc(255 * 0.5)); }
#PA { fill: rgb(calc(255 * 0.48), 60, calc(255 * 0.52)); }
#RI { fill: rgb(calc(255 * 0.34), 60, calc(255 * 0.66)); }
#SC { fill: rgb(calc(255 * 0.58), 60, calc(255 * 0.42)); }
#SD { fill: rgb(calc(255 * 0.62), 60, calc(255 * 0.38)); }
#TN { fill: rgb(calc(255 * 0.52), 60, calc(255 * 0.48)); }
#TX { fill: rgb(calc(255 * 0.61), 60, calc(255 * 0.39)); }
#UT { fill: rgb(calc(255 * 0.72), 60, calc(255 * 0.28)); }
#VT { fill: rgb(calc(255 * 0.45), 60, calc(255 * 0.55)); }
#VA { fill: rgb(calc(255 * 0.54), 60, calc(255 * 0.46)); }
#WA { fill: rgb(calc(255 * 0.47), 60, calc(255 * 0.53)); }
#WV { fill: rgb(calc(255 * 0.53), 60, calc(255 * 0.47)); }
#WI { fill: rgb(calc(255 * 0.5), 60, calc(255 * 0.5)); }
#WY { fill: rgb(calc(255 * 0.71), 60, calc(255 * 0.29)); }

#AL.blue-yellow { fill: rgb(128, 128, 81); }
#AK.blue-yellow { fill: rgb(139, 139, 68); }
#AZ.blue-yellow { fill: rgb(123, 123, 87); }
#AR.blue-yellow { fill: rgb(123, 123, 87); }
#CA.blue-yellow { fill: rgb(114, 114, 99); }
#CO.blue-yellow { fill: rgb(124, 124, 86); }
#CT.blue-yellow { fill: rgb(111, 111, 103); }
#DE.blue-yellow { fill: rgb(113, 113, 100); }
#DC.blue-yellow { fill: rgb(78, 78, 143); }
#FL.blue-yellow { fill: rgb(120, 120, 91); }
#GA.blue-yellow { fill: rgb(126, 126, 83); }
#HI.blue-yellow { fill: rgb(110, 110, 104); }
#ID.blue-yellow { fill: rgb(142, 142, 64); }
#IL.blue-yellow { fill: rgb(114, 114, 99); }
#IN.blue-yellow { fill: rgb(128, 128, 81); }
#IA.blue-yellow { fill: rgb(120, 120, 91); }
#KS.blue-yellow { fill: rgb(131, 131, 77); }
#KY.blue-yellow { fill: rgb(128, 128, 81); }
#LA.blue-yellow { fill: rgb(124, 124, 86); }
#ME.blue-yellow { fill: rgb(117, 117, 95); }
#MD.blue-yellow { fill: rgb(112, 112, 101); }
#MA.blue-yellow { fill: rgb(104, 104, 111); }
#MI.blue-yellow { fill: rgb(117, 117, 95); }
#MN.blue-yellow { fill: rgb(119, 119, 92); }
#MS.blue-yellow { fill: rgb(129, 129, 79); }
#MO.blue-yellow { fill: rgb(122, 122, 88); }
#MT.blue-yellow { fill: rgb(135, 135, 73); }
#NE.blue-yellow { fill: rgb(136, 136, 72); }
#NV.blue-yellow { fill: rgb(122, 122, 88); }
#NH.blue-yellow { fill: rgb(121, 121, 90); }
#NJ.blue-yellow { fill: rgb(112, 112, 101); }
#NM.blue-yellow { fill: rgb(120, 120, 91); }
#NY.blue-yellow { fill: rgb(106, 106, 108); }
#NC.blue-yellow { fill: rgb(126, 126, 83); }
#ND.blue-yellow { fill: rgb(136, 136, 72); }
#OH.blue-yellow { fill: rgb(122, 122, 88); }
#OK.blue-yellow { fill: rgb(131, 131, 77); }
#OR.blue-yellow { fill: rgb(120, 120, 91); }
#PA.blue-yellow { fill: rgb(118, 118, 94); }
#RI.blue-yellow { fill: rgb(103, 103, 112); }
#SC.blue-yellow { fill: rgb(128, 128, 81); }
#SD.blue-yellow { fill: rgb(132, 132, 75); }
#TN.blue-yellow { fill: rgb(122, 122, 88); }
#TX.blue-yellow { fill: rgb(131, 131, 77); }
#UT.blue-yellow { fill: rgb(143, 143, 62); }
#VT.blue-yellow { fill: rgb(115, 115, 98); }
#VA.blue-yellow { fill: rgb(124, 124, 86); }
#WA.blue-yellow { fill: rgb(117, 117, 95); }
#WV.blue-yellow { fill: rgb(123, 123, 87); }
#WI.blue-yellow { fill: rgb(120, 120, 91); }
#WY.blue-yellow { fill: rgb(142, 142, 64); }

#AL.grayscale { fill: rgb(147, 147, 147); }
#AK.grayscale { fill: rgb(173, 173, 173); }
#AZ.grayscale { fill: rgb(136, 136, 136); }
#AR.grayscale { fill: rgb(135, 135, 135); }
#CA.grayscale { fill: rgb(112, 112, 112); }
#CO.grayscale { fill: rgb(139, 139, 139); }
#CT.grayscale { fill: rgb(104, 104, 104); }
#DE.grayscale { fill: rgb(110, 110, 110); }
#DC.grayscale { fill: rgb(24, 24, 24); }
#FL.grayscale { fill: rgb(128, 128, 128); }
#GA.grayscale { fill: rgb(143, 143, 143); }
#HI.grayscale { fill: rgb(102, 102, 102); }
#ID.grayscale { fill: rgb(181, 181, 181); }
#IL.grayscale { fill: rgb(112, 112, 112); }
#IN.grayscale { fill: rgb(148, 148, 148); }
#IA.grayscale { fill: rgb(127, 127, 127); }
#KS.grayscale { fill: rgb(155, 155, 155); }
#KY.grayscale { fill: rgb(147, 147, 147); }
#LA.grayscale { fill: rgb(138, 138, 138); }
#ME.grayscale { fill: rgb(120, 120, 120); }
#MD.grayscale { fill: rgb(106, 106, 106); }
#MA.grayscale { fill: rgb(90, 90, 90); }
#MI.grayscale { fill: rgb(121, 121, 121); }
#MN.grayscale { fill: rgb(124, 124, 124); }
#MS.grayscale { fill: rgb(149, 149, 149); }
#MO.grayscale { fill: rgb(132, 132, 132); }
#MT.grayscale { fill: rgb(162, 162, 162); }
#NE.grayscale { fill: rgb(166, 166, 166); }
#NV.grayscale { fill: rgb(132, 132, 132); }
#NH.grayscale { fill: rgb(129, 129, 129); }
#NJ.grayscale { fill: rgb(107, 107, 107); }
#NM.grayscale { fill: rgb(127, 127, 127); }
#NY.grayscale { fill: rgb(94, 94, 94); }
#NC.grayscale { fill: rgb(144, 144, 144); }
#ND.grayscale { fill: rgb(165, 165, 165); }
#OH.grayscale { fill: rgb(132, 132, 132); }
#OK.grayscale { fill: rgb(156, 156, 156); }
#OR.grayscale { fill: rgb(127, 127, 127); }
#PA.grayscale { fill: rgb(122, 122, 122); }
#RI.grayscale { fill: rgb(88, 88, 88); }
#SC.grayscale { fill: rgb(148, 148, 148); }
#SD.grayscale { fill: rgb(157, 157, 157); }
#TN.grayscale { fill: rgb(133, 133, 133); }
#TX.grayscale { fill: rgb(155, 155, 155); }
#UT.grayscale { fill: rgb(183, 183, 183); }
#VT.grayscale { fill: rgb(114, 114, 114); }
#VA.grayscale { fill: rgb(138, 138, 138); }
#WA.grayscale { fill: rgb(120, 120, 120); }
#WV.grayscale { fill: rgb(136, 136, 136); }
#WI.grayscale { fill: rgb(127, 127, 127); }
#WY.grayscale { fill: rgb(181, 181, 181); }
