#AL { fill: rgb(calc(255 * 0.576069419213311), 60, calc(255 * 0.423930580786689)); }
#AK { fill: rgb(calc(255 * 0.679369485637292), 60, calc(255 * 0.320630514362708)); }
#AZ { fill: rgb(calc(255 * 0.532825991671399), 60, calc(255 * 0.467174008328601)); }
#AR { fill: rgb(calc(255 * 0.528006895104208), 60, calc(255 * 0.471993104895792)); }
#CA { fill: rgb(calc(255 * 0.437970100009282), 60, calc(255 * 0.562029899990718)); }
#CO { fill: rgb(calc(255 * 0.54485919943279), 60, calc(255 * 0.45514080056721)); }
#CT { fill: rgb(calc(255 * 0.407443419511455), 60, calc(255 * 0.592556580488545)); }
#DE { fill: rgb(calc(255 * 0.432599352147116), 60, calc(255 * 0.567400647852885)); }
#DC { fill: rgb(calc(255 * 0.0951230552222152), 60, calc(255 * 0.904876944777785)); }
#FL { fill: rgb(calc(255 * 0.500046094080336), 60, calc(255 * 0.499953905919664)); }
#GA { fill: rgb(calc(255 * 0.559837536229027), 60, calc(255 * 0.440162463770973)); }
#HI { fill: rgb(calc(255 * 0.401727037195707), 60, calc(255 * 0.598272962804293)); }
#ID { fill: rgb(calc(255 * 0.70848490455744), 60, calc(255 * 0.29151509544256)); }
#IL { fill: rgb(calc(255 * 0.438199896841604), 60, calc(255 * 0.561800103158396)); }
#IN { fill: rgb(calc(255 * 0.580047825325819), 60, calc(255 * 0.419952174674181)); }
#IA { fill: rgb(calc(255 * 0.498372208124818), 60, calc(255 * 0.501627791875182)); }
#KS { fill: rgb(calc(255 * 0.609169074635281), 60, calc(255 * 0.390830925364719)); }
#KY { fill: rgb(calc(255 * 0.577277870040162), 60, calc(255 * 0.422722129959838)); }
#LA { fill: rgb(calc(255 * 0.539392459663472), 60, calc(255 * 0.460607540336528)); }
#ME { fill: rgb(calc(255 * 0.472521584589996), 60, calc(255 * 0.527478415410004)); }
#MD { fill: rgb(calc(255 * 0.415291753994098), 60, calc(255 * 0.584708246005902)); }
#MA { fill: rgb(calc(255 * 0.352106562393662), 60, calc(255 * 0.647893437606338)); }
#MI { fill: rgb(calc(255 * 0.473653935182659), 60, calc(255 * 0.526346064817341)); }
#MN { fill: rgb(calc(255 * 0.487135880241887), 60, calc(255 * 0.512864119758113)); }
#MS { fill: rgb(calc(255 * 0.586054848392463), 60, calc(255 * 0.413945151607537)); }
#MO { fill: rgb(calc(255 * 0.517119486567507), 60, calc(255 * 0.482880513432493)); }
#MT { fill: rgb(calc(255 * 0.636563619786697), 60, calc(255 * 0.363436380213303)); }
#NE { fill: rgb(calc(255 * 0.65179480862085), 60, calc(255 * 0.34820519137915)); }
#NV { fill: rgb(calc(255 * 0.518568384996724), 60, calc(255 * 0.481431615003276)); }
#NH { fill: rgb(calc(255 * 0.506678001952188), 60, calc(255 * 0.493321998047812)); }
#NJ { fill: rgb(calc(255 * 0.417885905832791), 60, calc(255 * 0.582114094167209)); }
#NM { fill: rgb(calc(255 * 0.499680739706909), 60, calc(255 * 0.500319260293091)); }
#NY { fill: rgb(calc(255 * 0.369121147657582), 60, calc(255 * 0.630878852342418)); }
#NC { fill: rgb(calc(255 * 0.564639969815031), 60, calc(255 * 0.43536003018497)); }
#ND { fill: rgb(calc(255 * 0.647273965706163), 60, calc(255 * 0.352726034293837)); }
#OH { fill: rgb(calc(255 * 0.518184316609582), 60, calc(255 * 0.481815683390418)); }
#OK { fill: rgb(calc(255 * 0.610806712221189), 60, calc(255 * 0.389193287778811)); }
#OR { fill: rgb(calc(255 * 0.497641080144694), 60, calc(255 * 0.502358919855306)); }
#PA { fill: rgb(calc(255 * 0.478515212831969), 60, calc(255 * 0.521484787168032)); }
#RI { fill: rgb(calc(255 * 0.343508839324007), 60, calc(255 * 0.656491160675993)); }
#SC { fill: rgb(calc(255 * 0.581530272334846), 60, calc(255 * 0.418469727665154)); }
#SD { fill: rgb(calc(255 * 0.616147125723739), 60, calc(255 * 0.383852874276261)); }
#TN { fill: rgb(calc(255 * 0.51962866785179), 60, calc(255 * 0.48037133214821)); }
#TX { fill: rgb(calc(255 * 0.609562701485629), 60, calc(255 * 0.390437298514371)); }
#UT { fill: rgb(calc(255 * 0.717255054313241), 60, calc(255 * 0.282744945686759)); }
#VT { fill: rgb(calc(255 * 0.445596491032266), 60, calc(255 * 0.554403508967734)); }
#VA { fill: rgb(calc(255 * 0.541472363058333), 60, calc(255 * 0.458527636941668)); }
#WA { fill: rgb(calc(255 * 0.470552289905946), 60, calc(255 * 0.529447710094054)); }
#WV { fill: rgb(calc(255 * 0.532420740159374), 60, calc(255 * 0.467579259840626)); }
#WI { fill: rgb(calc(255 * 0.498849316968422), 60, calc(255 * 0.501150683031578)); }
#WY { fill: rgb(calc(255 * 0.70982305640317), 60, calc(255 * 0.29017694359683)); }

#AL.blue-yellow { fill: rgb(127.911219598184, 127.911219598184, 81.1109755022696); }
#AK.blue-yellow { fill: rgb(138.654426506278, 138.654426506278, 67.6819668671521); }
#AZ.blue-yellow { fill: rgb(123.413903133825, 123.413903133825, 86.7326210827182); }
#AR.blue-yellow { fill: rgb(122.912717090838, 122.912717090838, 87.3591036364529); }
#CA.blue-yellow { fill: rgb(113.548890400965, 113.548890400965, 99.0638869987933); }
#CO.blue-yellow { fill: rgb(124.66535674101, 124.66535674101, 85.1683040737373); }
#CT.blue-yellow { fill: rgb(110.374115629191, 110.374115629191, 103.032355463511); }
#DE.blue-yellow { fill: rgb(112.9903326233, 112.9903326233, 99.762084220875); }
#DC.blue-yellow { fill: rgb(77.8927977431104, 77.8927977431104, 143.634002821112); }
#FL.blue-yellow { fill: rgb(120.004793784355, 120.004793784355, 90.9940077695564); }
#GA.blue-yellow { fill: rgb(126.223103767819, 126.223103767819, 83.2211202902265); }
#HI.blue-yellow { fill: rgb(109.779611868353, 109.779611868353, 103.775485164558); }
#ID.blue-yellow { fill: rgb(141.682430073974, 141.682430073974, 63.8969624075328); }
#IL.blue-yellow { fill: rgb(113.572789271527, 113.572789271527, 99.0340134105915); }
#IN.blue-yellow { fill: rgb(128.324973833885, 128.324973833885, 80.5937827076435); }
#IA.blue-yellow { fill: rgb(119.830709644981, 119.830709644981, 91.2116129437736); }
#KS.blue-yellow { fill: rgb(131.353583762069, 131.353583762069, 76.8080202974135); }
#KY.blue-yellow { fill: rgb(128.036898484177, 128.036898484177, 80.953876894779); }
#LA.blue-yellow { fill: rgb(124.096815805001, 124.096815805001, 85.8789802437486); }
#ME.blue-yellow { fill: rgb(117.14224479736, 117.14224479736, 94.5721940033005); }
#MD.blue-yellow { fill: rgb(111.190342415386, 111.190342415386, 102.012071980767); }
#MA.blue-yellow { fill: rgb(104.619082488941, 104.619082488941, 110.226146888824); }
#MI.blue-yellow { fill: rgb(117.260009258997, 117.260009258997, 94.4249884262543); }
#MN.blue-yellow { fill: rgb(118.662131545156, 118.662131545156, 92.6723355685547); }
#MS.blue-yellow { fill: rgb(128.949704232816, 128.949704232816, 79.8128697089798); }
#MO.blue-yellow { fill: rgb(121.780426603021, 121.780426603021, 88.7744667462241); }
#MT.blue-yellow { fill: rgb(134.202616457817, 134.202616457817, 73.2467294277294); }
#NE.blue-yellow { fill: rgb(135.786660096568, 135.786660096568, 71.2666748792895); }
#NV.blue-yellow { fill: rgb(121.931112039659, 121.931112039659, 88.5861099504259); }
#NH.blue-yellow { fill: rgb(120.694512203028, 120.694512203028, 90.1318597462156); }
#NJ.blue-yellow { fill: rgb(111.46013420661, 111.46013420661, 101.674832241737); }
#NM.blue-yellow { fill: rgb(119.966796929519, 119.966796929519, 91.0415038381019); }
#NY.blue-yellow { fill: rgb(106.388599356389, 106.388599356389, 108.014250804514); }
#NC.blue-yellow { fill: rgb(126.722556860763, 126.722556860763, 82.596803924046); }
#ND.blue-yellow { fill: rgb(135.316492433441, 135.316492433441, 71.8543844581988); }
#OH.blue-yellow { fill: rgb(121.891168927397, 121.891168927397, 88.6360388407544); }
#OK.blue-yellow { fill: rgb(131.523898071004, 131.523898071004, 76.5951274112454); }
#OR.blue-yellow { fill: rgb(119.754672335048, 119.754672335048, 91.3066595811897); }
#PA.blue-yellow { fill: rgb(117.765582134525, 117.765582134525, 93.7930223318441); }
#RI.blue-yellow { fill: rgb(103.724919289697, 103.724919289697, 111.343850887879); }
#SC.blue-yellow { fill: rgb(128.479148322824, 128.479148322824, 80.40106459647); }
#SD.blue-yellow { fill: rgb(132.079301075269, 132.079301075269, 75.900873655914); }
#TN.blue-yellow { fill: rgb(122.041381456586, 122.041381456586, 88.4482731792673); }
#TX.blue-yellow { fill: rgb(131.394520954505, 131.394520954505, 76.7568488068682); }
#UT.blue-yellow { fill: rgb(142.594525648577, 142.594525648577, 62.7568429392786); }
#VT.blue-yellow { fill: rgb(114.342035067356, 114.342035067356, 98.0724561658054); }
#VA.blue-yellow { fill: rgb(124.313125758067, 124.313125758067, 85.6085928024168); }
#WA.blue-yellow { fill: rgb(116.937438150218, 116.937438150218, 94.828202312227); }
#WV.blue-yellow { fill: rgb(123.371756976575, 123.371756976575, 86.7853037792814); }
#WI.blue-yellow { fill: rgb(119.880328964716, 119.880328964716, 91.1495887941051); }
#WY.blue-yellow { fill: rgb(141.82159786593, 141.82159786593, 63.7230026675879); }

#AL.grayscale { fill: rgb(147, 147, 147); }
#AK.grayscale { fill: rgb(173, 173, 173); }
#AZ.grayscale { fill: rgb(136, 136, 136); }
#AR.grayscale { fill: rgb(135, 135, 135); }
#CA.grayscale { fill: rgb(112, 112, 112); }
#CO.grayscale { fill: rgb(139, 139, 139); }
#CT.grayscale { fill: rgb(104, 104, 104); }
#DE.grayscale { fill: rgb(110, 110, 110); }
#DC.grayscale { fill: rgb(24, 24, 24); }
#FL.grayscale { fill: rgb(128, 128, 128); }
#GA.grayscale { fill: rgb(143, 143, 143); }
#HI.grayscale { fill: rgb(102, 102, 102); }
#ID.grayscale { fill: rgb(181, 181, 181); }
#IL.grayscale { fill: rgb(112, 112, 112); }
#IN.grayscale { fill: rgb(148, 148, 148); }
#IA.grayscale { fill: rgb(127, 127, 127); }
#KS.grayscale { fill: rgb(155, 155, 155); }
#KY.grayscale { fill: rgb(147, 147, 147); }
#LA.grayscale { fill: rgb(138, 138, 138); }
#ME.grayscale { fill: rgb(120, 120, 120); }
#MD.grayscale { fill: rgb(106, 106, 106); }
#MA.grayscale { fill: rgb(90, 90, 90); }
#MI.grayscale { fill: rgb(121, 121, 121); }
#MN.grayscale { fill: rgb(124, 124, 124); }
#MS.grayscale { fill: rgb(149, 149, 149); }
#MO.grayscale { fill: rgb(132, 132, 132); }
#MT.grayscale { fill: rgb(162, 162, 162); }
#NE.grayscale { fill: rgb(166, 166, 166); }
#NV.grayscale { fill: rgb(132, 132, 132); }
#NH.grayscale { fill: rgb(129, 129, 129); }
#NJ.grayscale { fill: rgb(107, 107, 107); }
#NM.grayscale { fill: rgb(127, 127, 127); }
#NY.grayscale { fill: rgb(94, 94, 94); }
#NC.grayscale { fill: rgb(144, 144, 144); }
#ND.grayscale { fill: rgb(165, 165, 165); }
#OH.grayscale { fill: rgb(132, 132, 132); }
#OK.grayscale { fill: rgb(156, 156, 156); }
#OR.grayscale { fill: rgb(127, 127, 127); }
#PA.grayscale { fill: rgb(122, 122, 122); }
#RI.grayscale { fill: rgb(88, 88, 88); }
#SC.grayscale { fill: rgb(148, 148, 148); }
#SD.grayscale { fill: rgb(157, 157, 157); }
#TN.grayscale { fill: rgb(133, 133, 133); }
#TX.grayscale { fill: rgb(155, 155, 155); }
#UT.grayscale { fill: rgb(183, 183, 183); }
#VT.grayscale { fill: rgb(114, 114, 114); }
#VA.grayscale { fill: rgb(138, 138, 138); }
#WA.grayscale { fill: rgb(120, 120, 120); }
#WV.grayscale { fill: rgb(136, 136, 136); }
#WI.grayscale { fill: rgb(127, 127, 127); }
#WY.grayscale { fill: rgb(181, 181, 181); }
