#AL { fill: rgb(161, 60, 94); }
#AK { fill: rgb(161, 60, 94); }
#AZ { fill: rgb(140, 60, 115); }
#AR { fill: rgb(140, 60, 115); }
#CA { fill: rgb(115, 60, 140); }
#CO { fill: rgb(133, 60, 122); }
#CT { fill: rgb(115, 60, 140); }
#DE { fill: rgb(117, 60, 138); }
#DC { fill: rgb(23, 60, 232); }
#FL { fill: rgb(135, 60, 120); }
#GA { fill: rgb(148, 60, 107); }
#HI { fill: rgb(117, 60, 138); }
#ID { fill: rgb(176, 60, 79); }
#IL { fill: rgb(115, 60, 140); }
#IN { fill: rgb(153, 60, 102); }
#IA { fill: rgb(128, 60, 128); }
#KS { fill: rgb(161, 60, 94); }
#KY { fill: rgb(153, 60, 102); }
#LA { fill: rgb(145, 60, 110); }
#ME { fill: rgb(115, 60, 140); }
#MD { fill: rgb(110, 60, 145); }
#MA { fill: rgb(94, 60, 161); }
#MI { fill: rgb(122, 60, 133); }
#MN { fill: rgb(122, 60, 133); }
#MS { fill: rgb(153, 60, 102); }
#MO { fill: rgb(138, 60, 117); }
#MT { fill: rgb(156, 60, 99); }
#NE { fill: rgb(171, 60, 84); }
#NV { fill: rgb(130, 60, 125); }
#NH { fill: rgb(125, 60, 130); }
#NJ { fill: rgb(120, 60, 135); }
#NM { fill: rgb(128, 60, 128); }
#NY { fill: rgb(105, 60, 150); }
#NC { fill: rgb(143, 60, 112); }
#ND { fill: rgb(163, 60, 92); }
#OH { fill: rgb(130, 60, 125); }
#OK { fill: rgb(168, 60, 87); }
#OR { fill: rgb(122, 60, 133); }
#PA { fill: rgb(125, 60, 130); }
#RI { fill: rgb(99, 60, 156); }
#SC { fill: rgb(150, 60, 105); }
#SD { fill: rgb(156, 60, 99); }
#TN { fill: rgb(145, 60, 110); }
#TX { fill: rgb(158, 60, 97); }
#UT { fill: rgb(186, 60, 69); }
#VT { fill: rgb(102, 60, 153); }
#VA { fill: rgb(138, 60, 117); }
#WA { fill: rgb(117, 60, 138); }
#WV { fill: rgb(143, 60, 112); }
#WI { fill: rgb(128, 60, 128); }
#WY { fill: rgb(179, 60, 77); }

#AL.blue-yellow { fill: rgb(134, 134, 74); }
#AK.blue-yellow { fill: rgb(134, 134, 74); }
#AZ.blue-yellow { fill: rgb(125, 125, 85); }
#AR.blue-yellow { fill: rgb(125, 125, 85); }
#CA.blue-yellow { fill: rgb(115, 115, 98); }
#CO.blue-yellow { fill: rgb(122, 122, 88); }
#CT.blue-yellow { fill: rgb(115, 115, 98); }
#DE.blue-yellow { fill: rgb(116, 116, 96); }
#DC.blue-yellow { fill: rgb(77, 77, 144); }
#FL.blue-yellow { fill: rgb(123, 123, 87); }
#GA.blue-yellow { fill: rgb(128, 128, 81); }
#HI.blue-yellow { fill: rgb(116, 116, 96); }
#ID.blue-yellow { fill: rgb(140, 140, 66); }
#IL.blue-yellow { fill: rgb(115, 115, 98); }
#IN.blue-yellow { fill: rgb(130, 130, 78); }
#IA.blue-yellow { fill: rgb(120, 120, 91); }
#KS.blue-yellow { fill: rgb(134, 134, 74); }
#KY.blue-yellow { fill: rgb(130, 130, 78); }
#LA.blue-yellow { fill: rgb(127, 127, 82); }
#ME.blue-yellow { fill: rgb(115, 115, 98); }
#MD.blue-yellow { fill: rgb(113, 113, 100); }
#MA.blue-yellow { fill: rgb(106, 106, 108); }
#MI.blue-yellow { fill: rgb(118, 118, 94); }
#MN.blue-yellow { fill: rgb(118, 118, 94); }
#MS.blue-yellow { fill: rgb(130, 130, 78); }
#MO.blue-yellow { fill: rgb(124, 124, 86); }
#MT.blue-yellow { fill: rgb(131, 131, 77); }
#NE.blue-yellow { fill: rgb(138, 138, 69); }
#NV.blue-yellow { fill: rgb(121, 121, 90); }
#NH.blue-yellow { fill: rgb(119, 119, 92); }
#NJ.blue-yellow { fill: rgb(117, 117, 95); }
#NM.blue-yellow { fill: rgb(120, 120, 91); }
#NY.blue-yellow { fill: rgb(111, 111, 103); }
#NC.blue-yellow { fill: rgb(126, 126, 83); }
#ND.blue-yellow { fill: rgb(135, 135, 73); }
#OH.blue-yellow { fill: rgb(121, 121, 90); }
#OK.blue-yellow { fill: rgb(137, 137, 70); }
#OR.blue-yellow { fill: rgb(118, 118, 94); }
#PA.blue-yellow { fill: rgb(119, 119, 92); }
#RI.blue-yellow { fill: rgb(109, 109, 105); }
#SC.blue-yellow { fill: rgb(129, 129, 79); }
#SD.blue-yellow { fill: rgb(131, 131, 77); }
#TN.blue-yellow { fill: rgb(127, 127, 82); }
#TX.blue-yellow { fill: rgb(132, 132, 75); }
#UT.blue-yellow { fill: rgb(144, 144, 61); }
#VT.blue-yellow { fill: rgb(110, 110, 104); }
#VA.blue-yellow { fill: rgb(124, 124, 86); }
#WA.blue-yellow { fill: rgb(116, 116, 96); }
#WV.blue-yellow { fill: rgb(126, 126, 83); }
#WI.blue-yellow { fill: rgb(120, 120, 91); }
#WY.blue-yellow { fill: rgb(141, 141, 65); }

#AL.grayscale { fill: rgb(160, 160, 160); }
#AK.grayscale { fill: rgb(161, 161, 161); }
#AZ.grayscale { fill: rgb(141, 141, 141); }
#AR.grayscale { fill: rgb(140, 140, 140); }
#CA.grayscale { fill: rgb(115, 115, 115); }
#CO.grayscale { fill: rgb(134, 134, 134); }
#CT.grayscale { fill: rgb(114, 114, 114); }
#DE.grayscale { fill: rgb(118, 118, 118); }
#DC.grayscale { fill: rgb(24, 24, 24); }
#FL.grayscale { fill: rgb(134, 134, 134); }
#GA.grayscale { fill: rgb(149, 149, 149); }
#HI.grayscale { fill: rgb(116, 116, 116); }
#ID.grayscale { fill: rgb(177, 177, 177); }
#IL.grayscale { fill: rgb(114, 114, 114); }
#IN.grayscale { fill: rgb(154, 154, 154); }
#IA.grayscale { fill: rgb(128, 128, 128); }
#KS.grayscale { fill: rgb(160, 160, 160); }
#KY.grayscale { fill: rgb(153, 153, 153); }
#LA.grayscale { fill: rgb(146, 146, 146); }
#ME.grayscale { fill: rgb(116, 116, 116); }
#MD.grayscale { fill: rgb(111, 111, 111); }
#MA.grayscale { fill: rgb(95, 95, 95); }
#MI.grayscale { fill: rgb(123, 123, 123); }
#MN.grayscale { fill: rgb(123, 123, 123); }
#MS.grayscale { fill: rgb(153, 153, 153); }
#MO.grayscale { fill: rgb(137, 137, 137); }
#MT.grayscale { fill: rgb(154, 154, 154); }
#NE.grayscale { fill: rgb(170, 170, 170); }
#NV.grayscale { fill: rgb(131, 131, 131); }
#NH.grayscale { fill: rgb(126, 126, 126); }
#NJ.grayscale { fill: rgb(119, 119, 119); }
#NM.grayscale { fill: rgb(129, 129, 129); }
#NY.grayscale { fill: rgb(104, 104, 104); }
#NC.grayscale { fill: rgb(143, 143, 143); }
#ND.grayscale { fill: rgb(163, 163, 163); }
#OH.grayscale { fill: rgb(130, 130, 130); }
#OK.grayscale { fill: rgb(167, 167, 167); }
#OR.grayscale { fill: rgb(122, 122, 122); }
#PA.grayscale { fill: rgb(124, 124, 124); }
#RI.grayscale { fill: rgb(101, 101, 101); }
#SC.grayscale { fill: rgb(150, 150, 150); }
#SD.grayscale { fill: rgb(155, 155, 155); }
#TN.grayscale { fill: rgb(146, 146, 146); }
#TX.grayscale { fill: rgb(157, 157, 157); }
#UT.grayscale { fill: rgb(187, 187, 187); }
#VT.grayscale { fill: rgb(101, 101, 101); }
#VA.grayscale { fill: rgb(138, 138, 138); }
#WA.grayscale { fill: rgb(118, 118, 118); }
#WV.grayscale { fill: rgb(144, 144, 144); }
#WI.grayscale { fill: rgb(127, 127, 127); }
#WY.grayscale { fill: rgb(179, 179, 179); }

/* Sample of traditional 100% red and blue map */
#AL.traditional { fill: rgb(255,0,0); }
#AK.traditional { fill: rgb(255,0,0); }
#AZ.traditional { fill: rgb(255,0,0); }
#AR.traditional { fill: rgb(255,0,0); }
#CA.traditional { fill: rgb(0,0,255); }
#CO.traditional { fill: rgb(255,0,0); }
#CT.traditional { fill: rgb(0,0,255); }
#DE.traditional { fill: rgb(0,0,255); }
#DC.traditional { fill: rgb(0,0,255); }
#FL.traditional { fill: rgb(255,0,0); }
#GA.traditional { fill: rgb(255,0,0); }
#HI.traditional { fill: rgb(0,0,255); }
#ID.traditional { fill: rgb(255,0,0); }
#IL.traditional { fill: rgb(0,0,255); }
#IN.traditional { fill: rgb(255,0,0); }
#IA.traditional { fill: rgb(255,0,0); }
#KS.traditional { fill: rgb(255,0,0); }
#KY.traditional { fill: rgb(255,0,0); }
#LA.traditional { fill: rgb(255,0,0); }
#ME.traditional { fill: rgb(0,0,255); }
#MD.traditional { fill: rgb(0,0,255); }
#MA.traditional { fill: rgb(0,0,255); }
#MI.traditional { fill: rgb(0,0,255); }
#MN.traditional { fill: rgb(0,0,255); }
#MS.traditional { fill: rgb(255,0,0); }
#MO.traditional { fill: rgb(255,0,0); }
#MT.traditional { fill: rgb(255,0,0); }
#NE.traditional { fill: rgb(255,0,0); }
#NV.traditional { fill: rgb(255,0,0); }
#NH.traditional { fill: rgb(0,0,255); }
#NJ.traditional { fill: rgb(0,0,255); }
#NM.traditional { fill: rgb(255,0,0); }
#NY.traditional { fill: rgb(0,0,255); }
#NC.traditional { fill: rgb(255,0,0); }
#ND.traditional { fill: rgb(255,0,0); }
#OH.traditional { fill: rgb(255,0,0); }
#OK.traditional { fill: rgb(255,0,0); }
#OR.traditional { fill: rgb(0,0,255); }
#PA.traditional { fill: rgb(0,0,255); }
#RI.traditional { fill: rgb(0,0,255); }
#SC.traditional { fill: rgb(255,0,0); }
#SD.traditional { fill: rgb(255,0,0); }
#TN.traditional { fill: rgb(255,0,0); }
#TX.traditional { fill: rgb(255,0,0); }
#UT.traditional { fill: rgb(255,0,0); }
#VT.traditional { fill: rgb(0,0,255); }
#VA.traditional { fill: rgb(255,0,0); }
#WA.traditional { fill: rgb(0,0,255); }
#WV.traditional { fill: rgb(255,0,0); }
#WI.traditional { fill: rgb(0,0,255); }
#WY.traditional { fill: rgb(255,0,0); }