#AL { fill: rgb(calc(255 * 0.628977713522823), 60, calc(255 * 0.371022286477178)); }
#AK { fill: rgb(calc(255 * 0.632262829812463), 60, calc(255 * 0.367737170187537)); }
#AZ { fill: rgb(calc(255 * 0.552750050304883), 60, calc(255 * 0.447249949695117)); }
#AR { fill: rgb(calc(255 * 0.549357482516678), 60, calc(255 * 0.450642517483322)); }
#CA { fill: rgb(calc(255 * 0.449586795471775), 60, calc(255 * 0.550413204528225)); }
#CO { fill: rgb(calc(255 * 0.523662295582426), 60, calc(255 * 0.476337704417574)); }
#CT { fill: rgb(calc(255 * 0.447250524394159), 60, calc(255 * 0.552749475605841)); }
#DE { fill: rgb(calc(255 * 0.461684937549084), 60, calc(255 * 0.538315062450916)); }
#DC { fill: rgb(calc(255 * 0.0947972135256393), 60, calc(255 * 0.905202786474361)); }
#FL { fill: rgb(calc(255 * 0.525236795756688), 60, calc(255 * 0.474763204243312)); }
#GA { fill: rgb(calc(255 * 0.583542326964096), 60, calc(255 * 0.416457673035904)); }
#HI { fill: rgb(calc(255 * 0.455955519970697), 60, calc(255 * 0.544044480029303)); }
#ID { fill: rgb(calc(255 * 0.693227381833643), 60, calc(255 * 0.306772618166357)); }
#IL { fill: rgb(calc(255 * 0.447913659504466), 60, calc(255 * 0.552086340495535)); }
#IN { fill: rgb(calc(255 * 0.604234762496585), 60, calc(255 * 0.395765237503415)); }
#IA { fill: rgb(calc(255 * 0.503366792627129), 60, calc(255 * 0.496633207372871)); }
#KS { fill: rgb(calc(255 * 0.628670987810822), 60, calc(255 * 0.371329012189178)); }
#KY { fill: rgb(calc(255 * 0.600076199154739), 60, calc(255 * 0.399923800845261)); }
#LA { fill: rgb(calc(255 * 0.573309412692435), 60, calc(255 * 0.426690587307565)); }
#ME { fill: rgb(calc(255 * 0.454169835896914), 60, calc(255 * 0.545830164103086)); }
#MD { fill: rgb(calc(255 * 0.434344157924988), 60, calc(255 * 0.565655842075012)); }
#MA { fill: rgb(calc(255 * 0.372571444870081), 60, calc(255 * 0.627428555129919)); }
#MI { fill: rgb(calc(255 * 0.482741555320348), 60, calc(255 * 0.517258444679652)); }
#MN { fill: rgb(calc(255 * 0.482390893893311), 60, calc(255 * 0.51760910610669)); }
#MS { fill: rgb(calc(255 * 0.599244144085034), 60, calc(255 * 0.400755855914966)); }
#MO { fill: rgb(calc(255 * 0.536197126654398), 60, calc(255 * 0.463802873345602)); }
#MT { fill: rgb(calc(255 * 0.605000761756634), 60, calc(255 * 0.394999238243366)); }
#NE { fill: rgb(calc(255 * 0.668473372595947), 60, calc(255 * 0.331526627404053)); }
#NV { fill: rgb(calc(255 * 0.513175957248615), 60, calc(255 * 0.486824042751385)); }
#NH { fill: rgb(calc(255 * 0.493097113798627), 60, calc(255 * 0.506902886201373)); }
#NJ { fill: rgb(calc(255 * 0.466294636811578), 60, calc(255 * 0.533705363188422)); }
#NM { fill: rgb(calc(255 * 0.504003358863549), 60, calc(255 * 0.495996641136451)); }
#NY { fill: rgb(calc(255 * 0.407122342959801), 60, calc(255 * 0.592877657040199)); }
#NC { fill: rgb(calc(255 * 0.562419720018411), 60, calc(255 * 0.437580279981589)); }
#ND { fill: rgb(calc(255 * 0.639093541499433), 60, calc(255 * 0.360906458500567)); }
#OH { fill: rgb(calc(255 * 0.510587607247719), 60, calc(255 * 0.489412392752282)); }
#OK { fill: rgb(calc(255 * 0.655704016647561), 60, calc(255 * 0.344295983352439)); }
#OR { fill: rgb(calc(255 * 0.478913742255499), 60, calc(255 * 0.521086257744501)); }
#PA { fill: rgb(calc(255 * 0.487417179029376), 60, calc(255 * 0.512582820970624)); }
#RI { fill: rgb(calc(255 * 0.394220297520353), 60, calc(255 * 0.605779702479647)); }
#SC { fill: rgb(calc(255 * 0.586353586014142), 60, calc(255 * 0.413646413985858)); }
#SD { fill: rgb(calc(255 * 0.609132908010937), 60, calc(255 * 0.390867091989063)); }
#TN { fill: rgb(calc(255 * 0.571854454547407), 60, calc(255 * 0.428145545452593)); }
#TX { fill: rgb(calc(255 * 0.615101918971099), 60, calc(255 * 0.384898081028901)); }
#UT { fill: rgb(calc(255 * 0.733464391601221), 60, calc(255 * 0.26653560839878)); }
#VT { fill: rgb(calc(255 * 0.396989978607488), 60, calc(255 * 0.603010021392512)); }
#VA { fill: rgb(calc(255 * 0.541336967135301), 60, calc(255 * 0.458663032864699)); }
#WA { fill: rgb(calc(255 * 0.46353462316547), 60, calc(255 * 0.53646537683453)); }
#WV { fill: rgb(calc(255 * 0.564797106297455), 60, calc(255 * 0.435202893702545)); }
#WI { fill: rgb(calc(255 * 0.498081967257308), 60, calc(255 * 0.501918032742692)); }
#WY { fill: rgb(calc(255 * 0.703127031731717), 60, calc(255 * 0.296872968268283)); }