#AL { fill: rgb(calc(255 * 0.608909027535727), 60, calc(255 * 0.391090972464273)); }
#AK { fill: rgb(calc(255 * 0.610647849165971), 60, calc(255 * 0.389352150834029)); }
#AZ { fill: rgb(calc(255 * 0.543139007196163), 60, calc(255 * 0.456860992803837)); }
#AR { fill: rgb(calc(255 * 0.601717206107173), 60, calc(255 * 0.398282793892827)); }
#CA { fill: rgb(calc(255 * 0.377215504084146), 60, calc(255 * 0.622784495915854)); }
#CO { fill: rgb(calc(255 * 0.454491923419164), 60, calc(255 * 0.545508076580837)); }
#CT { fill: rgb(calc(255 * 0.386816617502458), 60, calc(255 * 0.613183382497542)); }
#DE { fill: rgb(calc(255 * 0.373618613501114), 60, calc(255 * 0.626381386498886)); }
#DC { fill: rgb(calc(255 * 0.0659923166658434), 60, calc(255 * 0.934007683334157)); }
#FL { fill: rgb(calc(255 * 0.485803399691007), 60, calc(255 * 0.514196600308993)); }
#GA { fill: rgb(calc(255 * 0.526283355108118), 60, calc(255 * 0.473716644891882)); }
#HI { fill: rgb(calc(255 * 0.270062741215446), 60, calc(255 * 0.729937258784554)); }
#ID { fill: rgb(calc(255 * 0.630245898050206), 60, calc(255 * 0.369754101949795)); }
#IL { fill: rgb(calc(255 * 0.372657359554406), 60, calc(255 * 0.627342640445594)); }
#IN { fill: rgb(calc(255 * 0.494780465546219), 60, calc(255 * 0.505219534453781)); }
#IA { fill: rgb(calc(255 * 0.451512222105327), 60, calc(255 * 0.548487777894674)); }
#KS { fill: rgb(calc(255 * 0.576122758189094), 60, calc(255 * 0.423877241810906)); }
#KY { fill: rgb(calc(255 * 0.582334275877046), 60, calc(255 * 0.417665724122954)); }
#LA { fill: rgb(calc(255 * 0.594571741615854), 60, calc(255 * 0.405428258384146)); }
#ME { fill: rgb(calc(255 * 0.411704750165924), 60, calc(255 * 0.588295249834076)); }
#MD { fill: rgb(calc(255 * 0.370699127071145), 60, calc(255 * 0.629300872928855)); }
#MA { fill: rgb(calc(255 * 0.36802921786647), 60, calc(255 * 0.63197078213353)); }
#MI { fill: rgb(calc(255 * 0.416286984238455), 60, calc(255 * 0.583713015761545)); }
#MN { fill: rgb(calc(255 * 0.447706250046073), 60, calc(255 * 0.552293749953927)); }
#MS { fill: rgb(calc(255 * 0.566419309928638), 60, calc(255 * 0.433580690071362)); }
#MO { fill: rgb(calc(255 * 0.500675791496766), 60, calc(255 * 0.499324208503234)); }
#MT { fill: rgb(calc(255 * 0.511694032839407), 60, calc(255 * 0.488305967160593)); }
#NE { fill: rgb(calc(255 * 0.576090744221656), 60, calc(255 * 0.423909255778344)); }
#NV { fill: rgb(calc(255 * 0.436132618748039), 60, calc(255 * 0.563867381251961)); }
#NH { fill: rgb(calc(255 * 0.451314588798905), 60, calc(255 * 0.548685411201095)); }
#NJ { fill: rgb(calc(255 * 0.421353701285761), 60, calc(255 * 0.578646298714239)); }
#NM { fill: rgb(calc(255 * 0.423350999812024), 60, calc(255 * 0.576649000187976)); }
#NY { fill: rgb(calc(255 * 0.364233188968731), 60, calc(255 * 0.635766811031269)); }
#NC { fill: rgb(calc(255 * 0.498340366999327), 60, calc(255 * 0.501659633000673)); }
#ND { fill: rgb(calc(255 * 0.544086562819681), 60, calc(255 * 0.455913437180319)); }
#OH { fill: rgb(calc(255 * 0.476661592377459), 60, calc(255 * 0.523338407622541)); }
#OK { fill: rgb(calc(255 * 0.656450811226935), 60, calc(255 * 0.343549188773065)); }
#OR { fill: rgb(calc(255 * 0.415862788227728), 60, calc(255 * 0.584137211772272)); }
#PA { fill: rgb(calc(255 * 0.447702961845156), 60, calc(255 * 0.552297038154845)); }
#RI { fill: rgb(calc(255 * 0.358018624908542), 60, calc(255 * 0.641981375091458)); }
#SC { fill: rgb(calc(255 * 0.545444291892091), 60, calc(255 * 0.454555708107909)); }
#SD { fill: rgb(calc(255 * 0.542957072341154), 60, calc(255 * 0.457042927658846)); }
#TN { fill: rgb(calc(255 * 0.576314718023545), 60, calc(255 * 0.423685281976455)); }
#TX { fill: rgb(calc(255 * 0.559359367509407), 60, calc(255 * 0.440640632490593)); }
#UT { fill: rgb(calc(255 * 0.645263613727401), 60, calc(255 * 0.354736386272599)); }
#VT { fill: rgb(calc(255 * 0.311008182606619), 60, calc(255 * 0.688991817393381)); }
#VA { fill: rgb(calc(255 * 0.468174155938724), 60, calc(255 * 0.531825844061276)); }
#WA { fill: rgb(calc(255 * 0.412479731978911), 60, calc(255 * 0.58752026802109)); }
#WV { fill: rgb(calc(255 * 0.566737437671373), 60, calc(255 * 0.433262562328628)); }
#WI { fill: rgb(calc(255 * 0.429443217521816), 60, calc(255 * 0.570556782478184)); }
#WY { fill: rgb(calc(255 * 0.665620233550959), 60, calc(255 * 0.334379766449041)); }