#AL { fill: rgb(calc(255 * 0.608909027535727), 60, calc(255 * 0.391090972464273)); }
#AK { fill: rgb(calc(255 * 0.610647849165971), 60, calc(255 * 0.389352150834029)); }
#AZ { fill: rgb(calc(255 * 0.543139007196163), 60, calc(255 * 0.456860992803837)); }
#AR { fill: rgb(calc(255 * 0.601717206107173), 60, calc(255 * 0.398282793892827)); }
#CA { fill: rgb(calc(255 * 0.377215504084146), 60, calc(255 * 0.622784495915854)); }
#CO { fill: rgb(calc(255 * 0.454491923419164), 60, calc(255 * 0.545508076580837)); }
#CT { fill: rgb(calc(255 * 0.386816617502458), 60, calc(255 * 0.613183382497542)); }
#DE { fill: rgb(calc(255 * 0.373618613501114), 60, calc(255 * 0.626381386498886)); }
#DC { fill: rgb(calc(255 * 0.0659923166658434), 60, calc(255 * 0.934007683334157)); }
#FL { fill: rgb(calc(255 * 0.485803399691007), 60, calc(255 * 0.514196600308993)); }
#GA { fill: rgb(calc(255 * 0.526283355108118), 60, calc(255 * 0.473716644891882)); }
#HI { fill: rgb(calc(255 * 0.270062741215446), 60, calc(255 * 0.729937258784554)); }
#ID { fill: rgb(calc(255 * 0.630245898050206), 60, calc(255 * 0.369754101949795)); }
#IL { fill: rgb(calc(255 * 0.372657359554406), 60, calc(255 * 0.627342640445594)); }
#IN { fill: rgb(calc(255 * 0.494780465546219), 60, calc(255 * 0.505219534453781)); }
#IA { fill: rgb(calc(255 * 0.451512222105327), 60, calc(255 * 0.548487777894674)); }
#KS { fill: rgb(calc(255 * 0.576122758189094), 60, calc(255 * 0.423877241810906)); }
#KY { fill: rgb(calc(255 * 0.582334275877046), 60, calc(255 * 0.417665724122954)); }
#LA { fill: rgb(calc(255 * 0.594571741615854), 60, calc(255 * 0.405428258384146)); }
#ME { fill: rgb(calc(255 * 0.411704750165924), 60, calc(255 * 0.588295249834076)); }
#MD { fill: rgb(calc(255 * 0.370699127071145), 60, calc(255 * 0.629300872928855)); }
#MA { fill: rgb(calc(255 * 0.36802921786647), 60, calc(255 * 0.63197078213353)); }
#MI { fill: rgb(calc(255 * 0.416286984238455), 60, calc(255 * 0.583713015761545)); }
#MN { fill: rgb(calc(255 * 0.447706250046073), 60, calc(255 * 0.552293749953927)); }
#MS { fill: rgb(calc(255 * 0.566419309928638), 60, calc(255 * 0.433580690071362)); }
#MO { fill: rgb(calc(255 * 0.500675791496766), 60, calc(255 * 0.499324208503234)); }
#MT { fill: rgb(calc(255 * 0.511694032839407), 60, calc(255 * 0.488305967160593)); }
#NE { fill: rgb(calc(255 * 0.576090744221656), 60, calc(255 * 0.423909255778344)); }
#NV { fill: rgb(calc(255 * 0.436132618748039), 60, calc(255 * 0.563867381251961)); }
#NH { fill: rgb(calc(255 * 0.451314588798905), 60, calc(255 * 0.548685411201095)); }
#NJ { fill: rgb(calc(255 * 0.421353701285761), 60, calc(255 * 0.578646298714239)); }
#NM { fill: rgb(calc(255 * 0.423350999812024), 60, calc(255 * 0.576649000187976)); }
#NY { fill: rgb(calc(255 * 0.364233188968731), 60, calc(255 * 0.635766811031269)); }
#NC { fill: rgb(calc(255 * 0.498340366999327), 60, calc(255 * 0.501659633000673)); }
#ND { fill: rgb(calc(255 * 0.544086562819681), 60, calc(255 * 0.455913437180319)); }
#OH { fill: rgb(calc(255 * 0.476661592377459), 60, calc(255 * 0.523338407622541)); }
#OK { fill: rgb(calc(255 * 0.656450811226935), 60, calc(255 * 0.343549188773065)); }
#OR { fill: rgb(calc(255 * 0.415862788227728), 60, calc(255 * 0.584137211772272)); }
#PA { fill: rgb(calc(255 * 0.447702961845156), 60, calc(255 * 0.552297038154845)); }
#RI { fill: rgb(calc(255 * 0.358018624908542), 60, calc(255 * 0.641981375091458)); }
#SC { fill: rgb(calc(255 * 0.545444291892091), 60, calc(255 * 0.454555708107909)); }
#SD { fill: rgb(calc(255 * 0.542957072341154), 60, calc(255 * 0.457042927658846)); }
#TN { fill: rgb(calc(255 * 0.576314718023545), 60, calc(255 * 0.423685281976455)); }
#TX { fill: rgb(calc(255 * 0.559359367509407), 60, calc(255 * 0.440640632490593)); }
#UT { fill: rgb(calc(255 * 0.645263613727401), 60, calc(255 * 0.354736386272599)); }
#VT { fill: rgb(calc(255 * 0.311008182606619), 60, calc(255 * 0.688991817393381)); }
#VA { fill: rgb(calc(255 * 0.468174155938724), 60, calc(255 * 0.531825844061276)); }
#WA { fill: rgb(calc(255 * 0.412479731978911), 60, calc(255 * 0.58752026802109)); }
#WV { fill: rgb(calc(255 * 0.566737437671373), 60, calc(255 * 0.433262562328628)); }
#WI { fill: rgb(calc(255 * 0.429443217521816), 60, calc(255 * 0.570556782478184)); }
#WY { fill: rgb(calc(255 * 0.665620233550959), 60, calc(255 * 0.334379766449041)); }

#AL.blue-yellow { fill: rgb(131.326538863716, 131.326538863716, 76.8418264203555); }
#AK.blue-yellow { fill: rgb(131.507376313261, 131.507376313261, 76.6157796084238); }
#AZ.blue-yellow { fill: rgb(124.486456748401, 124.486456748401, 85.3919290644988); }
#AR.blue-yellow { fill: rgb(130.578589435146, 130.578589435146, 77.7767632060676); }
#CA.blue-yellow { fill: rgb(107.230412424751, 107.230412424751, 106.961984469061); }
#CO.blue-yellow { fill: rgb(115.267160035593, 115.267160035593, 96.9160499555088); }
#CT.blue-yellow { fill: rgb(108.228928220256, 108.228928220256, 105.71383972468); }
#DE.blue-yellow { fill: rgb(106.856335804116, 106.856335804116, 107.429580244855); }
#DC.blue-yellow { fill: rgb(74.8632009332477, 74.8632009332477, 147.42099883344); }
#FL.blue-yellow { fill: rgb(118.523553567865, 118.523553567865, 92.8455580401691); }
#GA.blue-yellow { fill: rgb(122.733468931244, 122.733468931244, 87.5831638359447); }
#HI.blue-yellow { fill: rgb(96.0865250864064, 96.0865250864064, 120.891843641992); }
#ID.blue-yellow { fill: rgb(133.545573397221, 133.545573397221, 74.0680332534733); }
#IL.blue-yellow { fill: rgb(106.756365393658, 106.756365393658, 107.554543257927); }
#IN.blue-yellow { fill: rgb(119.457168416807, 119.457168416807, 91.6785394789915); }
#IA.blue-yellow { fill: rgb(114.957271098954, 114.957271098954, 97.3034111263076); }
#KS.blue-yellow { fill: rgb(127.916766851666, 127.916766851666, 81.1040414354177); }
#KY.blue-yellow { fill: rgb(128.562764691213, 128.562764691213, 80.296544135984); }
#LA.blue-yellow { fill: rgb(129.835461128049, 129.835461128049, 78.705673589939); }
#ME.blue-yellow { fill: rgb(110.817294017256, 110.817294017256, 102.47838247843); }
#MD.blue-yellow { fill: rgb(106.552709215399, 106.552709215399, 107.809113480751); }
#MA.blue-yellow { fill: rgb(106.275038658113, 106.275038658113, 108.156201677359); }
#MI.blue-yellow { fill: rgb(111.293846360799, 111.293846360799, 101.882692049001); }
#MN.blue-yellow { fill: rgb(114.561450004792, 114.561450004792, 97.7981874940106); }
#MS.blue-yellow { fill: rgb(126.907608232578, 126.907608232578, 82.365489709277); }
#MO.blue-yellow { fill: rgb(120.070282315664, 120.070282315664, 90.9121471054204); }
#MT.blue-yellow { fill: rgb(121.216179415298, 121.216179415298, 89.4797757308771); }
#NE.blue-yellow { fill: rgb(127.913437399052, 127.913437399052, 81.1082032511847); }
#NV.blue-yellow { fill: rgb(113.357792349796, 113.357792349796, 99.3027595627549); }
#NH.blue-yellow { fill: rgb(114.936717235086, 114.936717235086, 97.3291034561424); }
#NJ.blue-yellow { fill: rgb(111.820784933719, 111.820784933719, 101.224018832851); }
#NM.blue-yellow { fill: rgb(112.028503980451, 112.028503980451, 100.964370024437); }
#NY.blue-yellow { fill: rgb(105.880251652748, 105.880251652748, 108.649685434065); }
#NC.blue-yellow { fill: rgb(119.82739816793, 119.82739816793, 91.2157522900875); }
#ND.blue-yellow { fill: rgb(124.585002533247, 124.585002533247, 85.2687468334414); }
#OH.blue-yellow { fill: rgb(117.572805607256, 117.572805607256, 94.0339929909304); }
#OK.blue-yellow { fill: rgb(136.270884367601, 136.270884367601, 70.6613945404985); }
#OR.blue-yellow { fill: rgb(111.249729975684, 111.249729975684, 101.937837530395); }
#PA.blue-yellow { fill: rgb(114.561108031896, 114.561108031896, 97.7986149601298); }
#RI.blue-yellow { fill: rgb(105.233936990488, 105.233936990488, 109.45757876189); }
#SC.blue-yellow { fill: rgb(124.726206356778, 124.726206356778, 85.0922420540281); }
#SD.blue-yellow { fill: rgb(124.46753552348, 124.46753552348, 85.41558059565); }
#TN.blue-yellow { fill: rgb(127.936730674449, 127.936730674449, 81.0790866569392); }
#TX.blue-yellow { fill: rgb(126.173374220978, 126.173374220978, 83.2832822237771); }
#UT.blue-yellow { fill: rgb(135.10741582765, 135.10741582765, 72.1157302154379); }
#VT.blue-yellow { fill: rgb(100.344850991088, 100.344850991088, 115.56893626114); }
#VA.blue-yellow { fill: rgb(116.690112217627, 116.690112217627, 95.1373597279658); }
#WA.blue-yellow { fill: rgb(110.897892125807, 110.897892125807, 102.377634842742); }
#WV.blue-yellow { fill: rgb(126.940693517823, 126.940693517823, 82.3241331027216); }
#WI.blue-yellow { fill: rgb(112.662094622269, 112.662094622269, 100.172381722164); }
#WY.blue-yellow { fill: rgb(137.2245042893, 137.2245042893, 69.4693696383753); }