#AL { fill: rgb(calc(255 * 0.612162285334377), 60, calc(255 * 0.387837714665623)); }
#AK { fill: rgb(calc(255 * 0.573152904815604), 60, calc(255 * 0.426847095184396)); }
#AZ { fill: rgb(calc(255 * 0.546133802237032), 60, calc(255 * 0.453866197762968)); }
#AR { fill: rgb(calc(255 * 0.621544053512296), 60, calc(255 * 0.378455946487704)); }
#CA { fill: rgb(calc(255 * 0.381271888367034), 60, calc(255 * 0.618728111632966)); }
#CO { fill: rgb(calc(255 * 0.472520116857975), 60, calc(255 * 0.527479883142025)); }
#CT { fill: rgb(calc(255 * 0.412274225230929), 60, calc(255 * 0.587725774769071)); }
#DE { fill: rgb(calc(255 * 0.405530450807218), 60, calc(255 * 0.594469549192782)); }
#DC { fill: rgb(calc(255 * 0.0741235079788248), 60, calc(255 * 0.925876492021175)); }
#FL { fill: rgb(calc(255 * 0.495577478606338), 60, calc(255 * 0.504422521393662)); }
#GA { fill: rgb(calc(255 * 0.539566490980567), 60, calc(255 * 0.460433509019433)); }
#HI { fill: rgb(calc(255 * 0.282961514989256), 60, calc(255 * 0.717038485010744)); }
#ID { fill: rgb(calc(255 * 0.664213868435753), 60, calc(255 * 0.335786131564247)); }
#IL { fill: rgb(calc(255 * 0.414224766078831), 60, calc(255 * 0.585775233921169)); }
#IN { fill: rgb(calc(255 * 0.552003745973273), 60, calc(255 * 0.447996254026727)); }
#IA { fill: rgb(calc(255 * 0.470406480718998), 60, calc(255 * 0.529593519281002)); }
#KS { fill: rgb(calc(255 * 0.611133267452531), 60, calc(255 * 0.388866732547469)); }
#KY { fill: rgb(calc(255 * 0.615427723938049), 60, calc(255 * 0.384572276061951)); }
#LA { fill: rgb(calc(255 * 0.58746825614114), 60, calc(255 * 0.41253174385886)); }
#ME { fill: rgb(calc(255 * 0.421400786064229), 60, calc(255 * 0.578599213935771)); }
#MD { fill: rgb(calc(255 * 0.36678274213094), 60, calc(255 * 0.63321725786906)); }
#MA { fill: rgb(calc(255 * 0.3821431925094), 60, calc(255 * 0.6178568074906)); }
#MI { fill: rgb(calc(255 * 0.451994679288221), 60, calc(255 * 0.548005320711779)); }
#MN { fill: rgb(calc(255 * 0.460587735383018), 60, calc(255 * 0.539412264616982)); }
#MS { fill: rgb(calc(255 * 0.558018991987878), 60, calc(255 * 0.441981008012122)); }
#MO { fill: rgb(calc(255 * 0.5477866675338), 60, calc(255 * 0.4522133324662)); }
#MT { fill: rgb(calc(255 * 0.570342318638815), 60, calc(255 * 0.429657681361185)); }
#NE { fill: rgb(calc(255 * 0.611293902682254), 60, calc(255 * 0.388706097317746)); }
#NV { fill: rgb(calc(255 * 0.465924578366535), 60, calc(255 * 0.534075421633465)); }
#NH { fill: rgb(calc(255 * 0.471662480217419), 60, calc(255 * 0.528337519782581)); }
#NJ { fill: rgb(calc(255 * 0.410131488626904), 60, calc(255 * 0.589868511373096)); }
#NM { fill: rgb(calc(255 * 0.447047953530913), 60, calc(255 * 0.552952046469087)); }
#NY { fill: rgb(calc(255 * 0.356991054693032), 60, calc(255 * 0.643008945306968)); }
#NC { fill: rgb(calc(255 * 0.51034034903005), 60, calc(255 * 0.48965965096995)); }
#ND { fill: rgb(calc(255 * 0.601178951404198), 60, calc(255 * 0.398821048595802)); }
#OH { fill: rgb(calc(255 * 0.48485447463048), 60, calc(255 * 0.51514552536952)); }
#OK { fill: rgb(calc(255 * 0.667723197430166), 60, calc(255 * 0.332276802569834)); }
#OR { fill: rgb(calc(255 * 0.437288328212526), 60, calc(255 * 0.562711671787474)); }
#PA { fill: rgb(calc(255 * 0.472680659981082), 60, calc(255 * 0.527319340018918)); }
#RI { fill: rgb(calc(255 * 0.359832540211179), 60, calc(255 * 0.640167459788821)); }
#SC { fill: rgb(calc(255 * 0.553082547045654), 60, calc(255 * 0.446917452954346)); }
#SD { fill: rgb(calc(255 * 0.592184991381953), 60, calc(255 * 0.407815008618048)); }
#TN { fill: rgb(calc(255 * 0.60351071526294), 60, calc(255 * 0.39648928473706)); }
#TX { fill: rgb(calc(255 * 0.580078972151064), 60, calc(255 * 0.419921027848936)); }
#UT { fill: rgb(calc(255 * 0.746261888951475), 60, calc(255 * 0.253738111048525)); }
#VT { fill: rgb(calc(255 * 0.317527411736094), 60, calc(255 * 0.682472588263906)); }
#VA { fill: rgb(calc(255 * 0.480326233112355), 60, calc(255 * 0.519673766887645)); }
#WA { fill: rgb(calc(255 * 0.423717017293782), 60, calc(255 * 0.576282982706219)); }
#WV { fill: rgb(calc(255 * 0.636742976320427), 60, calc(255 * 0.363257023679573)); }
#WI { fill: rgb(calc(255 * 0.464836175956627), 60, calc(255 * 0.535163824043374)); }
#WY { fill: rgb(calc(255 * 0.711606340115214), 60, calc(255 * 0.288393659884786)); }

#AL.blue-yellow { fill: rgb(131.664877674775, 131.664877674775, 76.418902906531); }
#AK.blue-yellow { fill: rgb(127.607902100823, 127.607902100823, 81.4901223739715); }
#AZ.blue-yellow { fill: rgb(124.797915432651, 124.797915432651, 85.0026057091858); }
#AR.blue-yellow { fill: rgb(132.640581565279, 132.640581565279, 75.1992730434015); }
#CA.blue-yellow { fill: rgb(107.652276390172, 107.652276390172, 106.434654512286); }
#CO.blue-yellow { fill: rgb(117.142092153229, 117.142092153229, 94.5723848084633); }
#CT.blue-yellow { fill: rgb(110.876519424017, 110.876519424017, 102.404350719979); }
#DE.blue-yellow { fill: rgb(110.175166883951, 110.175166883951, 103.281041395062); }
#DC.blue-yellow { fill: rgb(75.7088448297978, 75.7088448297978, 146.363943962753); }
#FL.blue-yellow { fill: rgb(119.540057775059, 119.540057775059, 91.5749277811761); }
#GA.blue-yellow { fill: rgb(124.114915061979, 124.114915061979, 85.8563561725263); }
#HI.blue-yellow { fill: rgb(97.4279975588826, 97.4279975588826, 119.215003051397); }
#ID.blue-yellow { fill: rgb(137.078242317318, 137.078242317318, 69.6521971033521); }
#IL.blue-yellow { fill: rgb(111.079375672198, 111.079375672198, 102.150780409752); }
#IN.blue-yellow { fill: rgb(125.40838958122, 125.40838958122, 84.2395130234745); }
#IA.blue-yellow { fill: rgb(116.922273994776, 116.922273994776, 94.8471575065302); }
#KS.blue-yellow { fill: rgb(131.557859815063, 131.557859815063, 76.552675231171); }
#KY.blue-yellow { fill: rgb(132.004483289557, 132.004483289557, 75.9943958880536); }
#LA.blue-yellow { fill: rgb(129.096698638679, 129.096698638679, 79.6291267016518); }
#ME.blue-yellow { fill: rgb(111.82568175068, 111.82568175068, 101.21789781165); }
#MD.blue-yellow { fill: rgb(106.145405181618, 106.145405181618, 108.318243522978); }
#MA.blue-yellow { fill: rgb(107.742892020978, 107.742892020978, 106.321384973778); }
#MI.blue-yellow { fill: rgb(115.007446645975, 115.007446645975, 97.2406916925312); }
#MN.blue-yellow { fill: rgb(115.901124479834, 115.901124479834, 96.1235944002077); }
#MS.blue-yellow { fill: rgb(126.033975166739, 126.033975166739, 83.4575310415759); }
#MO.blue-yellow { fill: rgb(124.969813423515, 124.969813423515, 84.787733220606); }
#MT.blue-yellow { fill: rgb(127.315601138437, 127.315601138437, 81.8554985769541); }
#NE.blue-yellow { fill: rgb(131.574565878954, 131.574565878954, 76.531792651307); }
#NV.blue-yellow { fill: rgb(116.45615615012, 116.45615615012, 95.4298048123505); }
#NH.blue-yellow { fill: rgb(117.052897942612, 117.052897942612, 94.6838775717355); }
#NJ.blue-yellow { fill: rgb(110.653674817198, 110.653674817198, 102.682906478502); }
#NM.blue-yellow { fill: rgb(114.492987167215, 114.492987167215, 97.8837660409813); }
#NY.blue-yellow { fill: rgb(105.127069688075, 105.127069688075, 109.591162889906); }
#NC.blue-yellow { fill: rgb(121.075396299125, 121.075396299125, 89.6557546260935); }
#ND.blue-yellow { fill: rgb(130.522610946037, 130.522610946037, 77.8467363174542); }
#OH.blue-yellow { fill: rgb(118.42486536157, 118.42486536157, 92.9689182980376); }
#OK.blue-yellow { fill: rgb(137.443212532737, 137.443212532737, 69.1959843340785); }
#OR.blue-yellow { fill: rgb(113.477986134103, 113.477986134103, 99.1525173323716); }
#PA.blue-yellow { fill: rgb(117.158788638033, 117.158788638033, 94.5515142024594); }
#RI.blue-yellow { fill: rgb(105.422584181963, 105.422584181963, 109.221769772547); }
#SC.blue-yellow { fill: rgb(125.520584892748, 125.520584892748, 84.099268884065); }
#SD.blue-yellow { fill: rgb(129.587239103723, 129.587239103723, 79.0159511203462); }
#TN.blue-yellow { fill: rgb(130.765114387346, 130.765114387346, 77.5436070158177); }
#TX.blue-yellow { fill: rgb(128.328213103711, 128.328213103711, 80.5897336203617); }
#UT.blue-yellow { fill: rgb(145.611236450953, 145.611236450953, 58.9859544363083); }
#VT.blue-yellow { fill: rgb(101.022850820554, 101.022850820554, 114.721436474308); }
#VA.blue-yellow { fill: rgb(117.953928243685, 117.953928243685, 93.5575896953938); }
#WA.blue-yellow { fill: rgb(112.066569798553, 112.066569798553, 100.916787751808); }
#WV.blue-yellow { fill: rgb(134.221269537324, 134.221269537324, 73.2234130783444); }
#WI.blue-yellow { fill: rgb(116.342962299489, 116.342962299489, 95.5712971256386); }
#WY.blue-yellow { fill: rgb(142.007059371982, 142.007059371982, 63.4911757850221); }
