#AL { fill: rgb(calc(255 * 0.612162285334377), 60, calc(255 * 0.387837714665623)); }
#AK { fill: rgb(calc(255 * 0.573152904815604), 60, calc(255 * 0.426847095184396)); }
#AZ { fill: rgb(calc(255 * 0.546133802237032), 60, calc(255 * 0.453866197762968)); }
#AR { fill: rgb(calc(255 * 0.621544053512296), 60, calc(255 * 0.378455946487704)); }
#CA { fill: rgb(calc(255 * 0.381271888367034), 60, calc(255 * 0.618728111632966)); }
#CO { fill: rgb(calc(255 * 0.472520116857975), 60, calc(255 * 0.527479883142025)); }
#CT { fill: rgb(calc(255 * 0.412274225230929), 60, calc(255 * 0.587725774769071)); }
#DE { fill: rgb(calc(255 * 0.405530450807218), 60, calc(255 * 0.594469549192782)); }
#DC { fill: rgb(calc(255 * 0.0741235079788248), 60, calc(255 * 0.925876492021175)); }
#FL { fill: rgb(calc(255 * 0.495577478606338), 60, calc(255 * 0.504422521393662)); }
#GA { fill: rgb(calc(255 * 0.539566490980567), 60, calc(255 * 0.460433509019433)); }
#HI { fill: rgb(calc(255 * 0.282961514989256), 60, calc(255 * 0.717038485010744)); }
#ID { fill: rgb(calc(255 * 0.664213868435753), 60, calc(255 * 0.335786131564247)); }
#IL { fill: rgb(calc(255 * 0.414224766078831), 60, calc(255 * 0.585775233921169)); }
#IN { fill: rgb(calc(255 * 0.552003745973273), 60, calc(255 * 0.447996254026727)); }
#IA { fill: rgb(calc(255 * 0.470406480718998), 60, calc(255 * 0.529593519281002)); }
#KS { fill: rgb(calc(255 * 0.611133267452531), 60, calc(255 * 0.388866732547469)); }
#KY { fill: rgb(calc(255 * 0.615427723938049), 60, calc(255 * 0.384572276061951)); }
#LA { fill: rgb(calc(255 * 0.58746825614114), 60, calc(255 * 0.41253174385886)); }
#ME { fill: rgb(calc(255 * 0.421400786064229), 60, calc(255 * 0.578599213935771)); }
#MD { fill: rgb(calc(255 * 0.36678274213094), 60, calc(255 * 0.63321725786906)); }
#MA { fill: rgb(calc(255 * 0.3821431925094), 60, calc(255 * 0.6178568074906)); }
#MI { fill: rgb(calc(255 * 0.451994679288221), 60, calc(255 * 0.548005320711779)); }
#MN { fill: rgb(calc(255 * 0.460587735383018), 60, calc(255 * 0.539412264616982)); }
#MS { fill: rgb(calc(255 * 0.558018991987878), 60, calc(255 * 0.441981008012122)); }
#MO { fill: rgb(calc(255 * 0.5477866675338), 60, calc(255 * 0.4522133324662)); }
#MT { fill: rgb(calc(255 * 0.570342318638815), 60, calc(255 * 0.429657681361185)); }
#NE { fill: rgb(calc(255 * 0.611293902682254), 60, calc(255 * 0.388706097317746)); }
#NV { fill: rgb(calc(255 * 0.465924578366535), 60, calc(255 * 0.534075421633465)); }
#NH { fill: rgb(calc(255 * 0.471662480217419), 60, calc(255 * 0.528337519782581)); }
#NJ { fill: rgb(calc(255 * 0.410131488626904), 60, calc(255 * 0.589868511373096)); }
#NM { fill: rgb(calc(255 * 0.447047953530913), 60, calc(255 * 0.552952046469087)); }
#NY { fill: rgb(calc(255 * 0.356991054693032), 60, calc(255 * 0.643008945306968)); }
#NC { fill: rgb(calc(255 * 0.51034034903005), 60, calc(255 * 0.48965965096995)); }
#ND { fill: rgb(calc(255 * 0.601178951404198), 60, calc(255 * 0.398821048595802)); }
#OH { fill: rgb(calc(255 * 0.48485447463048), 60, calc(255 * 0.51514552536952)); }
#OK { fill: rgb(calc(255 * 0.667723197430166), 60, calc(255 * 0.332276802569834)); }
#OR { fill: rgb(calc(255 * 0.437288328212526), 60, calc(255 * 0.562711671787474)); }
#PA { fill: rgb(calc(255 * 0.472680659981082), 60, calc(255 * 0.527319340018918)); }
#RI { fill: rgb(calc(255 * 0.359832540211179), 60, calc(255 * 0.640167459788821)); }
#SC { fill: rgb(calc(255 * 0.553082547045654), 60, calc(255 * 0.446917452954346)); }
#SD { fill: rgb(calc(255 * 0.592184991381953), 60, calc(255 * 0.407815008618048)); }
#TN { fill: rgb(calc(255 * 0.60351071526294), 60, calc(255 * 0.39648928473706)); }
#TX { fill: rgb(calc(255 * 0.580078972151064), 60, calc(255 * 0.419921027848936)); }
#UT { fill: rgb(calc(255 * 0.746261888951475), 60, calc(255 * 0.253738111048525)); }
#VT { fill: rgb(calc(255 * 0.317527411736094), 60, calc(255 * 0.682472588263906)); }
#VA { fill: rgb(calc(255 * 0.480326233112355), 60, calc(255 * 0.519673766887645)); }
#WA { fill: rgb(calc(255 * 0.423717017293782), 60, calc(255 * 0.576282982706219)); }
#WV { fill: rgb(calc(255 * 0.636742976320427), 60, calc(255 * 0.363257023679573)); }
#WI { fill: rgb(calc(255 * 0.464836175956627), 60, calc(255 * 0.535163824043374)); }
#WY { fill: rgb(calc(255 * 0.711606340115214), 60, calc(255 * 0.288393659884786)); }