#AL { fill: rgb(156, 60, 99); }
#AK { fill: rgb(145, 60, 110); }
#AZ { fill: rgb(140, 60, 115); }
#AR { fill: rgb(158, 60, 97); }
#CA { fill: rgb(97, 60, 158); }
#CO { fill: rgb(120, 60, 135); }
#CT { fill: rgb(105, 60, 150); }
#DE { fill: rgb(105, 60, 150); }
#DC { fill: rgb(18, 60, 237); }
#FL { fill: rgb(128, 60, 128); }
#GA { fill: rgb(138, 60, 117); }
#HI { fill: rgb(71, 60, 184); }
#ID { fill: rgb(168, 60, 87); }
#IL { fill: rgb(105, 60, 150); }
#IN { fill: rgb(140, 60, 115); }
#IA { fill: rgb(120, 60, 135); }
#KS { fill: rgb(156, 60, 99); }
#KY { fill: rgb(158, 60, 97); }
#LA { fill: rgb(150, 60, 105); }
#ME { fill: rgb(107, 60, 148); }
#MD { fill: rgb(94, 60, 161); }
#MA { fill: rgb(97, 60, 158); }
#MI { fill: rgb(115, 60, 140); }
#MN { fill: rgb(117, 60, 138); }
#MS { fill: rgb(143, 60, 112); }
#MO { fill: rgb(140, 60, 115); }
#MT { fill: rgb(145, 60, 110); }
#NE { fill: rgb(156, 60, 99); }
#NV { fill: rgb(120, 60, 135); }
#NH { fill: rgb(120, 60, 135); }
#NJ { fill: rgb(105, 60, 150); }
#NM { fill: rgb(115, 60, 140); }
#NY { fill: rgb(92, 60, 163); }
#NC { fill: rgb(130, 60, 125); }
#ND { fill: rgb(153, 60, 102); }
#OH { fill: rgb(122, 60, 133); }
#OK { fill: rgb(171, 60, 84); }
#OR { fill: rgb(112, 60, 143); }
#PA { fill: rgb(120, 60, 135); }
#RI { fill: rgb(92, 60, 163); }
#SC { fill: rgb(140, 60, 115); }
#SD { fill: rgb(150, 60, 105); }
#TN { fill: rgb(153, 60, 102); }
#TX { fill: rgb(148, 60, 107); }
#UT { fill: rgb(191, 60, 64); }
#VT { fill: rgb(82, 60, 173); }
#VA { fill: rgb(122, 60, 133); }
#WA { fill: rgb(107, 60, 148); }
#WV { fill: rgb(163, 60, 92); }
#WI { fill: rgb(117, 60, 138); }
#WY { fill: rgb(181, 60, 74); }

#AL.blue-yellow { fill: rgb(131, 131, 77); }
#AK.blue-yellow { fill: rgb(127, 127, 82); }
#AZ.blue-yellow { fill: rgb(125, 125, 85); }
#AR.blue-yellow { fill: rgb(132, 132, 75); }
#CA.blue-yellow { fill: rgb(108, 108, 107); }
#CO.blue-yellow { fill: rgb(117, 117, 95); }
#CT.blue-yellow { fill: rgb(111, 111, 103); }
#DE.blue-yellow { fill: rgb(111, 111, 103); }
#DC.blue-yellow { fill: rgb(75, 75, 147); }
#FL.blue-yellow { fill: rgb(120, 120, 91); }
#GA.blue-yellow { fill: rgb(124, 124, 86); }
#HI.blue-yellow { fill: rgb(97, 97, 120); }
#ID.blue-yellow { fill: rgb(137, 137, 70); }
#IL.blue-yellow { fill: rgb(111, 111, 103); }
#IN.blue-yellow { fill: rgb(125, 125, 85); }
#IA.blue-yellow { fill: rgb(117, 117, 95); }
#KS.blue-yellow { fill: rgb(131, 131, 77); }
#KY.blue-yellow { fill: rgb(132, 132, 75); }
#LA.blue-yellow { fill: rgb(129, 129, 79); }
#ME.blue-yellow { fill: rgb(112, 112, 101); }
#MD.blue-yellow { fill: rgb(106, 106, 108); }
#MA.blue-yellow { fill: rgb(108, 108, 107); }
#MI.blue-yellow { fill: rgb(115, 115, 98); }
#MN.blue-yellow { fill: rgb(116, 116, 96); }
#MS.blue-yellow { fill: rgb(126, 126, 83); }
#MO.blue-yellow { fill: rgb(125, 125, 85); }
#MT.blue-yellow { fill: rgb(127, 127, 82); }
#NE.blue-yellow { fill: rgb(131, 131, 77); }
#NV.blue-yellow { fill: rgb(117, 117, 95); }
#NH.blue-yellow { fill: rgb(117, 117, 95); }
#NJ.blue-yellow { fill: rgb(111, 111, 103); }
#NM.blue-yellow { fill: rgb(115, 115, 98); }
#NY.blue-yellow { fill: rgb(105, 105, 109); }
#NC.blue-yellow { fill: rgb(121, 121, 90); }
#ND.blue-yellow { fill: rgb(130, 130, 78); }
#OH.blue-yellow { fill: rgb(118, 118, 94); }
#OK.blue-yellow { fill: rgb(138, 138, 69); }
#OR.blue-yellow { fill: rgb(114, 114, 99); }
#PA.blue-yellow { fill: rgb(117, 117, 95); }
#RI.blue-yellow { fill: rgb(105, 105, 109); }
#SC.blue-yellow { fill: rgb(125, 125, 85); }
#SD.blue-yellow { fill: rgb(129, 129, 79); }
#TN.blue-yellow { fill: rgb(130, 130, 78); }
#TX.blue-yellow { fill: rgb(128, 128, 81); }
#UT.blue-yellow { fill: rgb(146, 146, 59); }
#VT.blue-yellow { fill: rgb(101, 101, 114); }
#VA.blue-yellow { fill: rgb(118, 118, 94); }
#WA.blue-yellow { fill: rgb(112, 112, 101); }
#WV.blue-yellow { fill: rgb(135, 135, 73); }
#WI.blue-yellow { fill: rgb(116, 116, 96); }
#WY.blue-yellow { fill: rgb(142, 142, 64); }

#AL.grayscale { fill: rgb(156, 156, 156); }
#AK.grayscale { fill: rgb(146, 146, 146); }
#AZ.grayscale { fill: rgb(139, 139, 139); }
#AR.grayscale { fill: rgb(158, 158, 158); }
#CA.grayscale { fill: rgb(97, 97, 97); }
#CO.grayscale { fill: rgb(120, 120, 120); }
#CT.grayscale { fill: rgb(105, 105, 105); }
#DE.grayscale { fill: rgb(103, 103, 103); }
#DC.grayscale { fill: rgb(19, 19, 19); }
#FL.grayscale { fill: rgb(126, 126, 126); }
#GA.grayscale { fill: rgb(138, 138, 138); }
#HI.grayscale { fill: rgb(72, 72, 72); }
#ID.grayscale { fill: rgb(169, 169, 169); }
#IL.grayscale { fill: rgb(106, 106, 106); }
#IN.grayscale { fill: rgb(141, 141, 141); }
#IA.grayscale { fill: rgb(120, 120, 120); }
#KS.grayscale { fill: rgb(156, 156, 156); }
#KY.grayscale { fill: rgb(157, 157, 157); }
#LA.grayscale { fill: rgb(150, 150, 150); }
#ME.grayscale { fill: rgb(107, 107, 107); }
#MD.grayscale { fill: rgb(94, 94, 94); }
#MA.grayscale { fill: rgb(97, 97, 97); }
#MI.grayscale { fill: rgb(115, 115, 115); }
#MN.grayscale { fill: rgb(117, 117, 117); }
#MS.grayscale { fill: rgb(142, 142, 142); }
#MO.grayscale { fill: rgb(140, 140, 140); }
#MT.grayscale { fill: rgb(145, 145, 145); }
#NE.grayscale { fill: rgb(156, 156, 156); }
#NV.grayscale { fill: rgb(119, 119, 119); }
#NH.grayscale { fill: rgb(120, 120, 120); }
#NJ.grayscale { fill: rgb(105, 105, 105); }
#NM.grayscale { fill: rgb(114, 114, 114); }
#NY.grayscale { fill: rgb(91, 91, 91); }
#NC.grayscale { fill: rgb(130, 130, 130); }
#ND.grayscale { fill: rgb(153, 153, 153); }
#OH.grayscale { fill: rgb(124, 124, 124); }
#OK.grayscale { fill: rgb(170, 170, 170); }
#OR.grayscale { fill: rgb(112, 112, 112); }
#PA.grayscale { fill: rgb(121, 121, 121); }
#RI.grayscale { fill: rgb(92, 92, 92); }
#SC.grayscale { fill: rgb(141, 141, 141); }
#SD.grayscale { fill: rgb(151, 151, 151); }
#TN.grayscale { fill: rgb(154, 154, 154); }
#TX.grayscale { fill: rgb(148, 148, 148); }
#UT.grayscale { fill: rgb(190, 190, 190); }
#VT.grayscale { fill: rgb(81, 81, 81); }
#VA.grayscale { fill: rgb(122, 122, 122); }
#WA.grayscale { fill: rgb(108, 108, 108); }
#WV.grayscale { fill: rgb(162, 162, 162); }
#WI.grayscale { fill: rgb(119, 119, 119); }
#WY.grayscale { fill: rgb(181, 181, 181); }
