#AL { fill: rgb(calc(255 * 0.643741435939607), 60, calc(255 * 0.356258564060393)); }
#AK { fill: rgb(calc(255 * 0.583856547110681), 60, calc(255 * 0.416143452889319)); }
#AZ { fill: rgb(calc(255 * 0.518900234010395), 60, calc(255 * 0.481099765989605)); }
#AR { fill: rgb(calc(255 * 0.642851376897705), 60, calc(255 * 0.357148623102295)); }
#CA { fill: rgb(calc(255 * 0.338717794572701), 60, calc(255 * 0.661282205427299)); }
#CO { fill: rgb(calc(255 * 0.473166666273176), 60, calc(255 * 0.526833333726824)); }
#CT { fill: rgb(calc(255 * 0.428584524827364), 60, calc(255 * 0.571415475172636)); }
#DE { fill: rgb(calc(255 * 0.440013785563188), 60, calc(255 * 0.559986214436812)); }
#DC { fill: rgb(calc(255 * 0.0430481165814592), 60, calc(255 * 0.956951883418541)); }
#FL { fill: rgb(calc(255 * 0.506188354727755), 60, calc(255 * 0.493811645272245)); }
#GA { fill: rgb(calc(255 * 0.526611725993032), 60, calc(255 * 0.473388274006968)); }
#HI { fill: rgb(calc(255 * 0.325586625494645), 60, calc(255 * 0.674413374505355)); }
#ID { fill: rgb(calc(255 * 0.683101766808056), 60, calc(255 * 0.316898233191944)); }
#IL { fill: rgb(calc(255 * 0.409799486092885), 60, calc(255 * 0.590200513907115)); }
#IN { fill: rgb(calc(255 * 0.601173095245081), 60, calc(255 * 0.398826904754919)); }
#IA { fill: rgb(calc(255 * 0.550635478451203), 60, calc(255 * 0.449364521548797)); }
#KS { fill: rgb(calc(255 * 0.611114703426067), 60, calc(255 * 0.388885296573933)); }
#KY { fill: rgb(calc(255 * 0.656706290175099), 60, calc(255 * 0.343293709824901)); }
#LA { fill: rgb(calc(255 * 0.601716772378078), 60, calc(255 * 0.398283227621922)); }
#ME { fill: rgb(calc(255 * 0.484032088708375), 60, calc(255 * 0.515967911291625)); }
#MD { fill: rgb(calc(255 * 0.359837503152306), 60, calc(255 * 0.640162496847694)); }
#MA { fill: rgb(calc(255 * 0.353487213103705), 60, calc(255 * 0.646512786896295)); }
#MI { fill: rgb(calc(255 * 0.501176682169616), 60, calc(255 * 0.498823317830385)); }
#MN { fill: rgb(calc(255 * 0.491681430663847), 60, calc(255 * 0.508318569336154)); }
#MS { fill: rgb(calc(255 * 0.590898473240601), 60, calc(255 * 0.409101526759399)); }
#MO { fill: rgb(calc(255 * 0.598185609955661), 60, calc(255 * 0.401814390044339)); }
#MT { fill: rgb(calc(255 * 0.611096643170244), 60, calc(255 * 0.388903356829756)); }
#NE { fill: rgb(calc(255 * 0.635476741131776), 60, calc(255 * 0.364523258868224)); }
#NV { fill: rgb(calc(255 * 0.487062905800148), 60, calc(255 * 0.512937094199852)); }
#NH { fill: rgb(calc(255 * 0.498029715576193), 60, calc(255 * 0.501970284423807)); }
#NJ { fill: rgb(calc(255 * 0.427158098570987), 60, calc(255 * 0.572841901429013)); }
#NM { fill: rgb(calc(255 * 0.453492050656759), 60, calc(255 * 0.546507949343241)); }
#NY { fill: rgb(calc(255 * 0.382275588157694), 60, calc(255 * 0.617724411842306)); }
#NC { fill: rgb(calc(255 * 0.519037458037187), 60, calc(255 * 0.480962541962813)); }
#ND { fill: rgb(calc(255 * 0.698092428965197), 60, calc(255 * 0.301907571034803)); }
#OH { fill: rgb(calc(255 * 0.542676845771359), 60, calc(255 * 0.457323154228641)); }
#OK { fill: rgb(calc(255 * 0.693047372383281), 60, calc(255 * 0.306952627616719)); }
#OR { fill: rgb(calc(255 * 0.438441610549456), 60, calc(255 * 0.561558389450544)); }
#PA { fill: rgb(calc(255 * 0.503755358074902), 60, calc(255 * 0.496244641925098)); }
#RI { fill: rgb(calc(255 * 0.416892959073402), 60, calc(255 * 0.583107040926598)); }
#SC { fill: rgb(calc(255 * 0.57460256360524), 60, calc(255 * 0.42539743639476)); }
#SD { fill: rgb(calc(255 * 0.659718580794313), 60, calc(255 * 0.340281419205688)); }
#TN { fill: rgb(calc(255 * 0.63624343045262), 60, calc(255 * 0.36375656954738)); }
#TX { fill: rgb(calc(255 * 0.54713225577972), 60, calc(255 * 0.45286774422028)); }
#UT { fill: rgb(calc(255 * 0.623836582084908), 60, calc(255 * 0.376163417915092)); }
#VT { fill: rgb(calc(255 * 0.348135736761796), 60, calc(255 * 0.651864263238204)); }
#VA { fill: rgb(calc(255 * 0.471736237228453), 60, calc(255 * 0.528263762771547)); }
#WA { fill: rgb(calc(255 * 0.412130687999352), 60, calc(255 * 0.587869312000648)); }
#WV { fill: rgb(calc(255 * 0.721610522512958), 60, calc(255 * 0.278389477487042)); }
#WI { fill: rgb(calc(255 * 0.504079890380297), 60, calc(255 * 0.495920109619703)); }
#WY { fill: rgb(calc(255 * 0.757053196291538), 60, calc(255 * 0.242946803708462)); }

#AL.blue-yellow { fill: rgb(134.949109337719, 134.949109337719, 72.313613327851); }
#AK.blue-yellow { fill: rgb(128.721080899511, 128.721080899511, 80.0986488756115); }
#AZ.blue-yellow { fill: rgb(121.965624337081, 121.965624337081, 88.5429695786487); }
#AR.blue-yellow { fill: rgb(134.856543197361, 134.856543197361, 72.4293210032984); }
#CA.blue-yellow { fill: rgb(103.226650635561, 103.226650635561, 111.966686705549); }
#CO.blue-yellow { fill: rgb(117.20933329241, 117.20933329241, 94.4883333844872); }
#CT.blue-yellow { fill: rgb(112.572790582046, 112.572790582046, 100.284011772443); }
#DE.blue-yellow { fill: rgb(113.761433698572, 113.761433698572, 98.7982078767856); }
#DC.blue-yellow { fill: rgb(72.4770041244718, 72.4770041244718, 150.40374484441); }
#FL.blue-yellow { fill: rgb(120.643588891687, 120.643588891687, 90.1955138853919); }
#GA.blue-yellow { fill: rgb(122.767619503275, 122.767619503275, 87.5404756209058); }
#HI.blue-yellow { fill: rgb(101.861009051443, 101.861009051443, 113.673738685696); }
#ID.blue-yellow { fill: rgb(139.042583748038, 139.042583748038, 67.1967703149527); }
#IL.blue-yellow { fill: rgb(110.61914655366, 110.61914655366, 102.726066807925); }
#IN.blue-yellow { fill: rgb(130.522001905488, 130.522001905488, 77.8474976181395); }
#IA.blue-yellow { fill: rgb(125.266089758925, 125.266089758925, 84.4173878013436); }
#KS.blue-yellow { fill: rgb(131.555929156311, 131.555929156311, 76.5550885546113); }
#KY.blue-yellow { fill: rgb(136.29745417821, 136.29745417821, 70.6281822772372); }
#LA.blue-yellow { fill: rgb(130.57854432732, 130.57854432732, 77.7768195908499); }
#ME.blue-yellow { fill: rgb(118.339337225671, 118.339337225671, 93.0758284679113); }
#MD.blue-yellow { fill: rgb(105.42310032784, 105.42310032784, 109.2211245902); }
#MA.blue-yellow { fill: rgb(104.762670162785, 104.762670162785, 110.046662296518); }
#MI.blue-yellow { fill: rgb(120.12237494564, 120.12237494564, 90.84703131795); }
#MN.blue-yellow { fill: rgb(119.13486878904, 119.13486878904, 92.0814140137); }
#MS.blue-yellow { fill: rgb(129.453441217022, 129.453441217022, 79.1831984787219); }
#MO.blue-yellow { fill: rgb(130.211303435389, 130.211303435389, 78.2358707057641); }
#MT.blue-yellow { fill: rgb(131.554050889705, 131.554050889705, 76.5574363878682); }
#NE.blue-yellow { fill: rgb(134.089581077705, 134.089581077705, 73.3880236528692); }
#NV.blue-yellow { fill: rgb(118.654542203215, 118.654542203215, 92.6818222459808); }
#NH.blue-yellow { fill: rgb(119.795090419924, 119.795090419924, 91.2561369750949); }
#NJ.blue-yellow { fill: rgb(112.424442251383, 112.424442251383, 100.469447185772); }
#NM.blue-yellow { fill: rgb(115.163173268303, 115.163173268303, 97.0460334146214); }
#NY.blue-yellow { fill: rgb(107.7566611684, 107.7566611684, 106.3041735395); }
#NC.blue-yellow { fill: rgb(121.979895635867, 121.979895635867, 88.5251304551657); }
#ND.blue-yellow { fill: rgb(140.601612612381, 140.601612612381, 65.2479842345243); }
#OH.blue-yellow { fill: rgb(124.438391960221, 124.438391960221, 85.4520100497233); }
#OK.blue-yellow { fill: rgb(140.076926727861, 140.076926727861, 65.9038415901734); }
#OR.blue-yellow { fill: rgb(113.597927497143, 113.597927497143, 99.0025906285707); }
#PA.blue-yellow { fill: rgb(120.39055723979, 120.39055723979, 90.5118034502628); }
#RI.blue-yellow { fill: rgb(111.356867743634, 111.356867743634, 101.803915320458); }
#SC.blue-yellow { fill: rgb(127.758666614945, 127.758666614945, 81.3016667313188); }
#SD.blue-yellow { fill: rgb(136.610732402609, 136.610732402609, 70.2365844967394); }
#TN.blue-yellow { fill: rgb(134.169316767072, 134.169316767072, 73.2883540411594); }
#TX.blue-yellow { fill: rgb(124.901754601091, 124.901754601091, 84.8728067486364); }
#UT.blue-yellow { fill: rgb(132.87900453683, 132.87900453683, 74.901244328962); }
#VT.blue-yellow { fill: rgb(104.206116623227, 104.206116623227, 110.742354220966); }
#VA.blue-yellow { fill: rgb(117.060568671759, 117.060568671759, 94.6742891603011); }
#WA.blue-yellow { fill: rgb(110.861591551933, 110.861591551933, 102.423010560084); }
#WV.blue-yellow { fill: rgb(143.047494341348, 143.047494341348, 62.1906320733155); }
#WI.blue-yellow { fill: rgb(120.424308599551, 120.424308599551, 90.4696142505614); }
#WY.blue-yellow { fill: rgb(146.73353241432, 146.73353241432, 57.5830844821001); }

#AL.grayscale { fill: rgb(164, 164, 164); }
#AK.grayscale { fill: rgb(149, 149, 149); }
#AZ.grayscale { fill: rgb(132, 132, 132); }
#AR.grayscale { fill: rgb(164, 164, 164); }
#CA.grayscale { fill: rgb(86, 86, 86); }
#CO.grayscale { fill: rgb(121, 121, 121); }
#CT.grayscale { fill: rgb(109, 109, 109); }
#DE.grayscale { fill: rgb(112, 112, 112); }
#DC.grayscale { fill: rgb(11, 11, 11); }
#FL.grayscale { fill: rgb(129, 129, 129); }
#GA.grayscale { fill: rgb(134, 134, 134); }
#HI.grayscale { fill: rgb(83, 83, 83); }
#ID.grayscale { fill: rgb(174, 174, 174); }
#IL.grayscale { fill: rgb(104, 104, 104); }
#IN.grayscale { fill: rgb(153, 153, 153); }
#IA.grayscale { fill: rgb(140, 140, 140); }
#KS.grayscale { fill: rgb(156, 156, 156); }
#KY.grayscale { fill: rgb(167, 167, 167); }
#LA.grayscale { fill: rgb(153, 153, 153); }
#ME.grayscale { fill: rgb(123, 123, 123); }
#MD.grayscale { fill: rgb(92, 92, 92); }
#MA.grayscale { fill: rgb(90, 90, 90); }
#MI.grayscale { fill: rgb(128, 128, 128); }
#MN.grayscale { fill: rgb(125, 125, 125); }
#MS.grayscale { fill: rgb(151, 151, 151); }
#MO.grayscale { fill: rgb(153, 153, 153); }
#MT.grayscale { fill: rgb(156, 156, 156); }
#NE.grayscale { fill: rgb(162, 162, 162); }
#NV.grayscale { fill: rgb(124, 124, 124); }
#NH.grayscale { fill: rgb(127, 127, 127); }
#NJ.grayscale { fill: rgb(109, 109, 109); }
#NM.grayscale { fill: rgb(116, 116, 116); }
#NY.grayscale { fill: rgb(97, 97, 97); }
#NC.grayscale { fill: rgb(132, 132, 132); }
#ND.grayscale { fill: rgb(178, 178, 178); }
#OH.grayscale { fill: rgb(138, 138, 138); }
#OK.grayscale { fill: rgb(177, 177, 177); }
#OR.grayscale { fill: rgb(112, 112, 112); }
#PA.grayscale { fill: rgb(128, 128, 128); }
#RI.grayscale { fill: rgb(106, 106, 106); }
#SC.grayscale { fill: rgb(147, 147, 147); }
#SD.grayscale { fill: rgb(168, 168, 168); }
#TN.grayscale { fill: rgb(162, 162, 162); }
#TX.grayscale { fill: rgb(140, 140, 140); }
#UT.grayscale { fill: rgb(159, 159, 159); }
#VT.grayscale { fill: rgb(89, 89, 89); }
#VA.grayscale { fill: rgb(120, 120, 120); }
#WA.grayscale { fill: rgb(105, 105, 105); }
#WV.grayscale { fill: rgb(184, 184, 184); }
#WI.grayscale { fill: rgb(129, 129, 129); }
#WY.grayscale { fill: rgb(193, 193, 193); }
