#AL { fill: rgb(163, 60, 92); }
#AK { fill: rgb(148, 60, 107); }
#AZ { fill: rgb(133, 60, 122); }
#AR { fill: rgb(163, 60, 92); }
#CA { fill: rgb(87, 60, 168); }
#CO { fill: rgb(120, 60, 135); }
#CT { fill: rgb(110, 60, 145); }
#DE { fill: rgb(112, 60, 143); }
#DC { fill: rgb(10, 60, 245); }
#FL { fill: rgb(130, 60, 125); }
#GA { fill: rgb(135, 60, 120); }
#HI { fill: rgb(84, 60, 171); }
#ID { fill: rgb(173, 60, 82); }
#IL { fill: rgb(105, 60, 150); }
#IN { fill: rgb(153, 60, 102); }
#IA { fill: rgb(140, 60, 115); }
#KS { fill: rgb(156, 60, 99); }
#KY { fill: rgb(168, 60, 87); }
#LA { fill: rgb(153, 60, 102); }
#ME { fill: rgb(122, 60, 133); }
#MD { fill: rgb(92, 60, 163); }
#MA { fill: rgb(89, 60, 166); }
#MI { fill: rgb(128, 60, 128); }
#MN { fill: rgb(125, 60, 130); }
#MS { fill: rgb(150, 60, 105); }
#MO { fill: rgb(153, 60, 102); }
#MT { fill: rgb(156, 60, 99); }
#NE { fill: rgb(163, 60, 92); }
#NV { fill: rgb(125, 60, 130); }
#NH { fill: rgb(128, 60, 128); }
#NJ { fill: rgb(110, 60, 145); }
#NM { fill: rgb(115, 60, 140); }
#NY { fill: rgb(97, 60, 158); }
#NC { fill: rgb(133, 60, 122); }
#ND { fill: rgb(179, 60, 77); }
#OH { fill: rgb(138, 60, 117); }
#OK { fill: rgb(176, 60, 79); }
#OR { fill: rgb(112, 60, 143); }
#PA { fill: rgb(128, 60, 128); }
#RI { fill: rgb(107, 60, 148); }
#SC { fill: rgb(145, 60, 110); }
#SD { fill: rgb(168, 60, 87); }
#TN { fill: rgb(163, 60, 92); }
#TX { fill: rgb(140, 60, 115); }
#UT { fill: rgb(158, 60, 97); }
#VT { fill: rgb(89, 60, 166); }
#VA { fill: rgb(120, 60, 135); }
#WA { fill: rgb(105, 60, 150); }
#WV { fill: rgb(184, 60, 71); }
#WI { fill: rgb(128, 60, 128); }
#WY { fill: rgb(194, 60, 61); }

#AL.blue-yellow { fill: rgb(135, 135, 73); }
#AK.blue-yellow { fill: rgb(128, 128, 81); }
#AZ.blue-yellow { fill: rgb(122, 122, 88); }
#AR.blue-yellow { fill: rgb(135, 135, 73); }
#CA.blue-yellow { fill: rgb(103, 103, 112); }
#CO.blue-yellow { fill: rgb(117, 117, 95); }
#CT.blue-yellow { fill: rgb(113, 113, 100); }
#DE.blue-yellow { fill: rgb(114, 114, 99); }
#DC.blue-yellow { fill: rgb(72, 72, 151); }
#FL.blue-yellow { fill: rgb(121, 121, 90); }
#GA.blue-yellow { fill: rgb(123, 123, 87); }
#HI.blue-yellow { fill: rgb(102, 102, 113); }
#ID.blue-yellow { fill: rgb(139, 139, 68); }
#IL.blue-yellow { fill: rgb(111, 111, 103); }
#IN.blue-yellow { fill: rgb(130, 130, 78); }
#IA.blue-yellow { fill: rgb(125, 125, 85); }
#KS.blue-yellow { fill: rgb(131, 131, 77); }
#KY.blue-yellow { fill: rgb(137, 137, 70); }
#LA.blue-yellow { fill: rgb(130, 130, 78); }
#ME.blue-yellow { fill: rgb(118, 118, 94); }
#MD.blue-yellow { fill: rgb(105, 105, 109); }
#MA.blue-yellow { fill: rgb(104, 104, 111); }
#MI.blue-yellow { fill: rgb(120, 120, 91); }
#MN.blue-yellow { fill: rgb(119, 119, 92); }
#MS.blue-yellow { fill: rgb(129, 129, 79); }
#MO.blue-yellow { fill: rgb(130, 130, 78); }
#MT.blue-yellow { fill: rgb(131, 131, 77); }
#NE.blue-yellow { fill: rgb(135, 135, 73); }
#NV.blue-yellow { fill: rgb(119, 119, 92); }
#NH.blue-yellow { fill: rgb(120, 120, 91); }
#NJ.blue-yellow { fill: rgb(113, 113, 100); }
#NM.blue-yellow { fill: rgb(115, 115, 98); }
#NY.blue-yellow { fill: rgb(108, 108, 107); }
#NC.blue-yellow { fill: rgb(122, 122, 88); }
#ND.blue-yellow { fill: rgb(141, 141, 65); }
#OH.blue-yellow { fill: rgb(124, 124, 86); }
#OK.blue-yellow { fill: rgb(140, 140, 66); }
#OR.blue-yellow { fill: rgb(114, 114, 99); }
#PA.blue-yellow { fill: rgb(120, 120, 91); }
#RI.blue-yellow { fill: rgb(112, 112, 101); }
#SC.blue-yellow { fill: rgb(127, 127, 82); }
#SD.blue-yellow { fill: rgb(137, 137, 70); }
#TN.blue-yellow { fill: rgb(135, 135, 73); }
#TX.blue-yellow { fill: rgb(125, 125, 85); }
#UT.blue-yellow { fill: rgb(132, 132, 75); }
#VT.blue-yellow { fill: rgb(104, 104, 111); }
#VA.blue-yellow { fill: rgb(117, 117, 95); }
#WA.blue-yellow { fill: rgb(111, 111, 103); }
#WV.blue-yellow { fill: rgb(143, 143, 62); }
#WI.blue-yellow { fill: rgb(120, 120, 91); }
#WY.blue-yellow { fill: rgb(147, 147, 57); }

#AL.grayscale { fill: rgb(164, 164, 164); }
#AK.grayscale { fill: rgb(149, 149, 149); }
#AZ.grayscale { fill: rgb(132, 132, 132); }
#AR.grayscale { fill: rgb(164, 164, 164); }
#CA.grayscale { fill: rgb(86, 86, 86); }
#CO.grayscale { fill: rgb(121, 121, 121); }
#CT.grayscale { fill: rgb(109, 109, 109); }
#DE.grayscale { fill: rgb(112, 112, 112); }
#DC.grayscale { fill: rgb(11, 11, 11); }
#FL.grayscale { fill: rgb(129, 129, 129); }
#GA.grayscale { fill: rgb(134, 134, 134); }
#HI.grayscale { fill: rgb(83, 83, 83); }
#ID.grayscale { fill: rgb(174, 174, 174); }
#IL.grayscale { fill: rgb(104, 104, 104); }
#IN.grayscale { fill: rgb(153, 153, 153); }
#IA.grayscale { fill: rgb(140, 140, 140); }
#KS.grayscale { fill: rgb(156, 156, 156); }
#KY.grayscale { fill: rgb(167, 167, 167); }
#LA.grayscale { fill: rgb(153, 153, 153); }
#ME.grayscale { fill: rgb(123, 123, 123); }
#MD.grayscale { fill: rgb(92, 92, 92); }
#MA.grayscale { fill: rgb(90, 90, 90); }
#MI.grayscale { fill: rgb(128, 128, 128); }
#MN.grayscale { fill: rgb(125, 125, 125); }
#MS.grayscale { fill: rgb(151, 151, 151); }
#MO.grayscale { fill: rgb(153, 153, 153); }
#MT.grayscale { fill: rgb(156, 156, 156); }
#NE.grayscale { fill: rgb(162, 162, 162); }
#NV.grayscale { fill: rgb(124, 124, 124); }
#NH.grayscale { fill: rgb(127, 127, 127); }
#NJ.grayscale { fill: rgb(109, 109, 109); }
#NM.grayscale { fill: rgb(116, 116, 116); }
#NY.grayscale { fill: rgb(97, 97, 97); }
#NC.grayscale { fill: rgb(132, 132, 132); }
#ND.grayscale { fill: rgb(178, 178, 178); }
#OH.grayscale { fill: rgb(138, 138, 138); }
#OK.grayscale { fill: rgb(177, 177, 177); }
#OR.grayscale { fill: rgb(112, 112, 112); }
#PA.grayscale { fill: rgb(128, 128, 128); }
#RI.grayscale { fill: rgb(106, 106, 106); }
#SC.grayscale { fill: rgb(147, 147, 147); }
#SD.grayscale { fill: rgb(168, 168, 168); }
#TN.grayscale { fill: rgb(162, 162, 162); }
#TX.grayscale { fill: rgb(140, 140, 140); }
#UT.grayscale { fill: rgb(159, 159, 159); }
#VT.grayscale { fill: rgb(89, 89, 89); }
#VA.grayscale { fill: rgb(120, 120, 120); }
#WA.grayscale { fill: rgb(105, 105, 105); }
#WV.grayscale { fill: rgb(184, 184, 184); }
#WI.grayscale { fill: rgb(129, 129, 129); }
#WY.grayscale { fill: rgb(193, 193, 193); }
