#AL { fill: rgb(161, 60, 94); }
#AK { fill: rgb(168, 60, 87); }
#AZ { fill: rgb(125, 60, 130); }
#AR { fill: rgb(166, 60, 89); }
#CA { fill: rgb(84, 60, 171); }
#CO { fill: rgb(110, 60, 145); }
#CT { fill: rgb(102, 60, 153); }
#DE { fill: rgb(102, 60, 153); }
#DC { fill: rgb(15, 60, 240); }
#FL { fill: rgb(133, 60, 122); }
#GA { fill: rgb(128, 60, 128); }
#HI { fill: rgb(89, 60, 166); }
#ID { fill: rgb(168, 60, 87); }
#IL { fill: rgb(112, 60, 143); }
#IN { fill: rgb(153, 60, 102); }
#IA { fill: rgb(138, 60, 117); }
#KS { fill: rgb(148, 60, 107); }
#KY { fill: rgb(163, 60, 92); }
#LA { fill: rgb(150, 60, 105); }
#ME { fill: rgb(115, 60, 140); }
#MD { fill: rgb(92, 60, 163); }
#MA { fill: rgb(82, 60, 173); }
#MI { fill: rgb(125, 60, 130); }
#MN { fill: rgb(117, 60, 138); }
#MS { fill: rgb(153, 60, 102); }
#MO { fill: rgb(148, 60, 107); }
#MT { fill: rgb(148, 60, 107); }
#NE { fill: rgb(153, 60, 102); }
#NV { fill: rgb(128, 60, 128); }
#NH { fill: rgb(117, 60, 138); }
#NJ { fill: rgb(99, 60, 156); }
#NM { fill: rgb(115, 60, 140); }
#NY { fill: rgb(105, 60, 150); }
#NC { fill: rgb(130, 60, 125); }
#ND { fill: rgb(171, 60, 84); }
#OH { fill: rgb(138, 60, 117); }
#OK { fill: rgb(171, 60, 84); }
#OR { fill: rgb(105, 60, 150); }
#PA { fill: rgb(130, 60, 125); }
#RI { fill: rgb(102, 60, 153); }
#SC { fill: rgb(143, 60, 112); }
#SD { fill: rgb(161, 60, 94); }
#TN { fill: rgb(158, 60, 97); }
#TX { fill: rgb(135, 60, 120); }
#UT { fill: rgb(156, 60, 99); }
#VT { fill: rgb(84, 60, 171); }
#VA { fill: rgb(115, 60, 140); }
#WA { fill: rgb(97, 60, 158); }
#WV { fill: rgb(179, 60, 77); }
#WI { fill: rgb(128, 60, 128); }
#WY { fill: rgb(184, 60, 71); }

#AL.blue-yellow { fill: rgb(134, 134, 74); }
#AK.blue-yellow { fill: rgb(136, 136, 71); }
#AZ.blue-yellow { fill: rgb(119, 119, 93); }
#AR.blue-yellow { fill: rgb(135, 135, 72); }
#CA.blue-yellow { fill: rgb(103, 103, 112); }
#CO.blue-yellow { fill: rgb(113, 113, 100); }
#CT.blue-yellow { fill: rgb(110, 110, 103); }
#DE.blue-yellow { fill: rgb(110, 110, 104); }
#DC.blue-yellow { fill: rgb(74, 74, 149); }
#FL.blue-yellow { fill: rgb(122, 122, 89); }
#GA.blue-yellow { fill: rgb(120, 120, 91); }
#HI.blue-yellow { fill: rgb(104, 104, 111); }
#ID.blue-yellow { fill: rgb(136, 136, 71); }
#IL.blue-yellow { fill: rgb(113, 113, 99); }
#IN.blue-yellow { fill: rgb(130, 130, 78); }
#IA.blue-yellow { fill: rgb(124, 124, 86); }
#KS.blue-yellow { fill: rgb(128, 128, 81); }
#KY.blue-yellow { fill: rgb(134, 134, 73); }
#LA.blue-yellow { fill: rgb(130, 130, 79); }
#ME.blue-yellow { fill: rgb(114, 114, 98); }
#MD.blue-yellow { fill: rgb(105, 105, 110); }
#MA.blue-yellow { fill: rgb(101, 101, 114); }
#MI.blue-yellow { fill: rgb(119, 119, 93); }
#MN.blue-yellow { fill: rgb(116, 116, 96); }
#MS.blue-yellow { fill: rgb(131, 131, 78); }
#MO.blue-yellow { fill: rgb(128, 128, 81); }
#MT.blue-yellow { fill: rgb(129, 129, 80); }
#NE.blue-yellow { fill: rgb(130, 130, 78); }
#NV.blue-yellow { fill: rgb(120, 120, 91); }
#NH.blue-yellow { fill: rgb(116, 116, 96); }
#NJ.blue-yellow { fill: rgb(108, 108, 106); }
#NM.blue-yellow { fill: rgb(114, 114, 98); }
#NY.blue-yellow { fill: rgb(111, 111, 103); }
#NC.blue-yellow { fill: rgb(121, 121, 90); }
#ND.blue-yellow { fill: rgb(138, 138, 69); }
#OH.blue-yellow { fill: rgb(124, 124, 86); }
#OK.blue-yellow { fill: rgb(138, 138, 69); }
#OR.blue-yellow { fill: rgb(111, 111, 102); }
#PA.blue-yellow { fill: rgb(121, 121, 89); }
#RI.blue-yellow { fill: rgb(109, 109, 104); }
#SC.blue-yellow { fill: rgb(126, 126, 83); }
#SD.blue-yellow { fill: rgb(134, 134, 74); }
#TN.blue-yellow { fill: rgb(132, 132, 76); }
#TX.blue-yellow { fill: rgb(123, 123, 87); }
#UT.blue-yellow { fill: rgb(131, 131, 77); }
#VT.blue-yellow { fill: rgb(102, 102, 113); }
#VA.blue-yellow { fill: rgb(115, 115, 97); }
#WA.blue-yellow { fill: rgb(108, 108, 106); }
#WV.blue-yellow { fill: rgb(141, 141, 65); }
#WI.blue-yellow { fill: rgb(120, 120, 91); }
#WY.blue-yellow { fill: rgb(143, 143, 62); }

#AL.grayscale { fill: rgb(161, 161, 161); }
#AK.grayscale { fill: rgb(167, 167, 167); }
#AZ.grayscale { fill: rgb(124, 124, 124); }
#AR.grayscale { fill: rgb(164, 164, 164); }
#CA.grayscale { fill: rgb(85, 85, 85); }
#CO.grayscale { fill: rgb(110, 110, 110); }
#CT.grayscale { fill: rgb(103, 103, 103); }
#DE.grayscale { fill: rgb(103, 103, 103); }
#DC.grayscale { fill: rgb(14, 14, 14); }
#FL.grayscale { fill: rgb(132, 132, 132); }
#GA.grayscale { fill: rgb(128, 128, 128); }
#HI.grayscale { fill: rgb(89, 89, 89); }
#ID.grayscale { fill: rgb(168, 168, 168); }
#IL.grayscale { fill: rgb(111, 111, 111); }
#IN.grayscale { fill: rgb(153, 153, 153); }
#IA.grayscale { fill: rgb(138, 138, 138); }
#KS.grayscale { fill: rgb(148, 148, 148); }
#KY.grayscale { fill: rgb(163, 163, 163); }
#LA.grayscale { fill: rgb(152, 152, 152); }
#ME.grayscale { fill: rgb(114, 114, 114); }
#MD.grayscale { fill: rgb(91, 91, 91); }
#MA.grayscale { fill: rgb(82, 82, 82); }
#MI.grayscale { fill: rgb(124, 124, 124); }
#MN.grayscale { fill: rgb(118, 118, 118); }
#MS.grayscale { fill: rgb(154, 154, 154); }
#MO.grayscale { fill: rgb(148, 148, 148); }
#MT.grayscale { fill: rgb(148, 148, 148); }
#NE.grayscale { fill: rgb(153, 153, 153); }
#NV.grayscale { fill: rgb(127, 127, 127); }
#NH.grayscale { fill: rgb(118, 118, 118); }
#NJ.grayscale { fill: rgb(99, 99, 99); }
#NM.grayscale { fill: rgb(114, 114, 114); }
#NY.grayscale { fill: rgb(104, 104, 104); }
#NC.grayscale { fill: rgb(129, 129, 129); }
#ND.grayscale { fill: rgb(171, 171, 171); }
#OH.grayscale { fill: rgb(138, 138, 138); }
#OK.grayscale { fill: rgb(171, 171, 171); }
#OR.grayscale { fill: rgb(105, 105, 105); }
#PA.grayscale { fill: rgb(131, 131, 131); }
#RI.grayscale { fill: rgb(101, 101, 101); }
#SC.grayscale { fill: rgb(143, 143, 143); }
#SD.grayscale { fill: rgb(161, 161, 161); }
#TN.grayscale { fill: rgb(158, 158, 158); }
#TX.grayscale { fill: rgb(135, 135, 135); }
#UT.grayscale { fill: rgb(154, 154, 154); }
#VT.grayscale { fill: rgb(84, 84, 84); }
#VA.grayscale { fill: rgb(116, 116, 116); }
#WA.grayscale { fill: rgb(98, 98, 98); }
#WV.grayscale { fill: rgb(178, 178, 178); }
#WI.grayscale { fill: rgb(127, 127, 127); }
#WY.grayscale { fill: rgb(185, 185, 185); }