#AL { fill: rgb(calc(255 * 0.63144336722713), 60, calc(255 * 0.36855663277287)); }
#AK { fill: rgb(calc(255 * 0.655627574509329), 60, calc(255 * 0.344372425490671)); }
#AZ { fill: rgb(calc(255 * 0.485908531556254), 60, calc(255 * 0.514091468443746)); }
#AR { fill: rgb(calc(255 * 0.645086816982067), 60, calc(255 * 0.354913183017933)); }
#CA { fill: rgb(calc(255 * 0.334927052419588), 60, calc(255 * 0.665072947580413)); }
#CO { fill: rgb(calc(255 * 0.431624756953669), 60, calc(255 * 0.568375243046331)); }
#CT { fill: rgb(calc(255 * 0.404577902314006), 60, calc(255 * 0.595422097685994)); }
#DE { fill: rgb(calc(255 * 0.403532221883461), 60, calc(255 * 0.596467778116539)); }
#DC { fill: rgb(calc(255 * 0.056810920193127), 60, calc(255 * 0.943189079806873)); }
#FL { fill: rgb(calc(255 * 0.517267899467568), 60, calc(255 * 0.482732100532433)); }
#GA { fill: rgb(calc(255 * 0.502986475854891), 60, calc(255 * 0.497013524145109)); }
#HI { fill: rgb(calc(255 * 0.349574327351868), 60, calc(255 * 0.650425672648132)); }
#ID { fill: rgb(calc(255 * 0.65725731644406), 60, calc(255 * 0.34274268355594)); }
#IL { fill: rgb(calc(255 * 0.436956725023821), 60, calc(255 * 0.56304327497618)); }
#IN { fill: rgb(calc(255 * 0.599035154432047), 60, calc(255 * 0.400964845567954)); }
#IA { fill: rgb(calc(255 * 0.541936232837453), 60, calc(255 * 0.458063767162548)); }
#KS { fill: rgb(calc(255 * 0.57986882274153), 60, calc(255 * 0.42013117725847)); }
#KY { fill: rgb(calc(255 * 0.637682159972845), 60, calc(255 * 0.362317840027155)); }
#LA { fill: rgb(calc(255 * 0.594711045868014), 60, calc(255 * 0.405288954131987)); }
#ME { fill: rgb(calc(255 * 0.445352074806975), 60, calc(255 * 0.554647925193025)); }
#MD { fill: rgb(calc(255 * 0.357277615297136), 60, calc(255 * 0.642722384702864)); }
#MA { fill: rgb(calc(255 * 0.321532805904224), 60, calc(255 * 0.678467194095776)); }
#MI { fill: rgb(calc(255 * 0.487543511289341), 60, calc(255 * 0.512456488710659)); }
#MN { fill: rgb(calc(255 * 0.463647101555329), 60, calc(255 * 0.536352898444671)); }
#MS { fill: rgb(calc(255 * 0.60208615258143), 60, calc(255 * 0.39791384741857)); }
#MO { fill: rgb(calc(255 * 0.579364456198231), 60, calc(255 * 0.420635543801769)); }
#MT { fill: rgb(calc(255 * 0.581917157195551), 60, calc(255 * 0.418082842804449)); }
#NE { fill: rgb(calc(255 * 0.600482460593166), 60, calc(255 * 0.399517539406834)); }
#NV { fill: rgb(calc(255 * 0.496728855625624), 60, calc(255 * 0.503271144374376)); }
#NH { fill: rgb(calc(255 * 0.46365546995928), 60, calc(255 * 0.53634453004072)); }
#NJ { fill: rgb(calc(255 * 0.386537541355645), 60, calc(255 * 0.613462458644355)); }
#NM { fill: rgb(calc(255 * 0.445885520257086), 60, calc(255 * 0.554114479742914)); }
#NY { fill: rgb(calc(255 * 0.409273395564526), 60, calc(255 * 0.590726604435474)); }
#NC { fill: rgb(calc(255 * 0.507121759375354), 60, calc(255 * 0.492878240624646)); }
#ND { fill: rgb(calc(255 * 0.671993913896508), 60, calc(255 * 0.328006086103492)); }
#OH { fill: rgb(calc(255 * 0.541110454319511), 60, calc(255 * 0.458889545680489)); }
#OK { fill: rgb(calc(255 * 0.669358457296511), 60, calc(255 * 0.330641542703489)); }
#OR { fill: rgb(calc(255 * 0.412971957267953), 60, calc(255 * 0.587028042732047)); }
#PA { fill: rgb(calc(255 * 0.513116343870402), 60, calc(255 * 0.486883656129598)); }
#RI { fill: rgb(calc(255 * 0.397503397083578), 60, calc(255 * 0.602496602916422)); }
#SC { fill: rgb(calc(255 * 0.560983715930712), 60, calc(255 * 0.439016284069288)); }
#SD { fill: rgb(calc(255 * 0.633079575358343), 60, calc(255 * 0.366920424641657)); }
#TN { fill: rgb(calc(255 * 0.618834085218063), 60, calc(255 * 0.381165914781937)); }
#TX { fill: rgb(calc(255 * 0.529796349518156), 60, calc(255 * 0.470203650481844)); }
#UT { fill: rgb(calc(255 * 0.605065973687239), 60, calc(255 * 0.394934026312761)); }
#VT { fill: rgb(calc(255 * 0.328437167513891), 60, calc(255 * 0.67156283248611)); }
#VA { fill: rgb(calc(255 * 0.453452831286197), 60, calc(255 * 0.546547168713803)); }
#WA { fill: rgb(calc(255 * 0.383957718196313), 60, calc(255 * 0.616042281803687)); }
#WV { fill: rgb(calc(255 * 0.698875292703649), 60, calc(255 * 0.301124707296351)); }
#WI { fill: rgb(calc(255 * 0.496835138328064), 60, calc(255 * 0.503164861671936)); }
#WY { fill: rgb(calc(255 * 0.724654036645308), 60, calc(255 * 0.275345963354692)); }

#AL.blue-yellow { fill: rgb(133.670110191622, 133.670110191622, 73.9123622604732); }
#AK.blue-yellow { fill: rgb(136.18526774897, 136.18526774897, 70.7684153137873); }
#AZ.blue-yellow { fill: rgb(118.53448728185, 118.53448728185, 92.831890897687); }
#AR.blue-yellow { fill: rgb(135.089028966135, 135.089028966135, 72.1387137923313); }
#CA.blue-yellow { fill: rgb(102.832413451637, 102.832413451637, 112.459483185454); }
#CO.blue-yellow { fill: rgb(112.888974723182, 112.888974723182, 99.888781596023); }
#CT.blue-yellow { fill: rgb(110.076101840657, 110.076101840657, 103.404872699179); }
#DE.blue-yellow { fill: rgb(109.96735107588, 109.96735107588, 103.54081115515); }
#DC.blue-yellow { fill: rgb(73.9083357000852, 73.9083357000852, 148.614580374893); }
#FL.blue-yellow { fill: rgb(121.795861544627, 121.795861544627, 88.7551730692162); }
#GA.blue-yellow { fill: rgb(120.310593488909, 120.310593488909, 90.6117581388641); }
#HI.blue-yellow { fill: rgb(104.355730044594, 104.355730044594, 110.555337444257); }
#ID.blue-yellow { fill: rgb(136.354760910182, 136.354760910182, 70.5565488622722); }
#IL.blue-yellow { fill: rgb(113.443499402477, 113.443499402477, 99.1956257469033); }
#IN.blue-yellow { fill: rgb(130.299656060933, 130.299656060933, 78.125429923834); }
#IA.blue-yellow { fill: rgb(124.361368215095, 124.361368215095, 85.5482897311312); }
#KS.blue-yellow { fill: rgb(128.306357565119, 128.306357565119, 80.6170530436011); }
#KY.blue-yellow { fill: rgb(134.318944637176, 134.318944637176, 73.1013192035302); }
#LA.blue-yellow { fill: rgb(129.849948770273, 129.849948770273, 78.6875640371582); }
#ME.blue-yellow { fill: rgb(114.316615779925, 114.316615779925, 98.1042302750933); }
#MD.blue-yellow { fill: rgb(105.156871990902, 105.156871990902, 109.553910011372); }
#MA.blue-yellow { fill: rgb(101.439411814039, 101.439411814039, 114.200735232451); }
#MI.blue-yellow { fill: rgb(118.704525174091, 118.704525174091, 92.6193435323857); }
#MN.blue-yellow { fill: rgb(116.219298561754, 116.219298561754, 95.7258767978073); }
#MS.blue-yellow { fill: rgb(130.616959868469, 130.616959868469, 77.7288001644141); }
#MO.blue-yellow { fill: rgb(128.253903444616, 128.253903444616, 80.68262069423); }
#MT.blue-yellow { fill: rgb(128.519384348337, 128.519384348337, 80.3507695645783); }
#NE.blue-yellow { fill: rgb(130.450175901689, 130.450175901689, 77.9372801228884); }
#NV.blue-yellow { fill: rgb(119.659800985065, 119.659800985065, 91.4252487686689); }
#NH.blue-yellow { fill: rgb(116.220168875765, 116.220168875765, 95.7247889052936); }
#NJ.blue-yellow { fill: rgb(108.199904300987, 108.199904300987, 105.750119623766); }
#NM.blue-yellow { fill: rgb(114.372094106737, 114.372094106737, 98.0348823665788); }
#NY.blue-yellow { fill: rgb(110.564433138711, 110.564433138711, 102.794458576612); }
#NC.blue-yellow { fill: rgb(120.740662975037, 120.740662975037, 90.0741712812039); }
#ND.blue-yellow { fill: rgb(137.887367045237, 137.887367045237, 68.640791193454); }
#OH.blue-yellow { fill: rgb(124.275487249229, 124.275487249229, 85.6556409384636); }
#OK.blue-yellow { fill: rgb(137.613279558837, 137.613279558837, 68.9834005514536); }
#OR.blue-yellow { fill: rgb(110.949083555867, 110.949083555867, 102.313645555166); }
#PA.blue-yellow { fill: rgb(121.364099762522, 121.364099762522, 89.2948752968477); }
#RI.blue-yellow { fill: rgb(109.340353296692, 109.340353296692, 104.324558379135); }
#SC.blue-yellow { fill: rgb(126.342306456794, 126.342306456794, 83.0721169290074); }
#SD.blue-yellow { fill: rgb(133.840275837268, 133.840275837268, 73.6996552034154); }
#TN.blue-yellow { fill: rgb(132.358744862679, 132.358744862679, 75.5515689216518); }
#TX.blue-yellow { fill: rgb(123.098820349888, 123.098820349888, 87.1264745626397); }
#UT.blue-yellow { fill: rgb(130.926861263473, 130.926861263473, 77.341423420659); }
#VT.blue-yellow { fill: rgb(102.157465421445, 102.157465421445, 113.303168223194); }
#VA.blue-yellow { fill: rgb(115.159094453765, 115.159094453765, 97.0511319327943); }
#WA.blue-yellow { fill: rgb(107.931602692417, 107.931602692417, 106.085496634479); }
#WV.blue-yellow { fill: rgb(140.68303044118, 140.68303044118, 65.1462119485256); }
#WI.blue-yellow { fill: rgb(119.670854386119, 119.670854386119, 91.4114320173516); }
#WY.blue-yellow { fill: rgb(143.364019811112, 143.364019811112, 61.7949752361099); }

#AL.grayscale { fill: rgb(161, 161, 161); }
#AK.grayscale { fill: rgb(167, 167, 167); }
#AZ.grayscale { fill: rgb(124, 124, 124); }
#AR.grayscale { fill: rgb(164, 164, 164); }
#CA.grayscale { fill: rgb(85, 85, 85); }
#CO.grayscale { fill: rgb(110, 110, 110); }
#CT.grayscale { fill: rgb(103, 103, 103); }
#DE.grayscale { fill: rgb(103, 103, 103); }
#DC.grayscale { fill: rgb(14, 14, 14); }
#FL.grayscale { fill: rgb(132, 132, 132); }
#GA.grayscale { fill: rgb(128, 128, 128); }
#HI.grayscale { fill: rgb(89, 89, 89); }
#ID.grayscale { fill: rgb(168, 168, 168); }
#IL.grayscale { fill: rgb(111, 111, 111); }
#IN.grayscale { fill: rgb(153, 153, 153); }
#IA.grayscale { fill: rgb(138, 138, 138); }
#KS.grayscale { fill: rgb(148, 148, 148); }
#KY.grayscale { fill: rgb(163, 163, 163); }
#LA.grayscale { fill: rgb(152, 152, 152); }
#ME.grayscale { fill: rgb(114, 114, 114); }
#MD.grayscale { fill: rgb(91, 91, 91); }
#MA.grayscale { fill: rgb(82, 82, 82); }
#MI.grayscale { fill: rgb(124, 124, 124); }
#MN.grayscale { fill: rgb(118, 118, 118); }
#MS.grayscale { fill: rgb(154, 154, 154); }
#MO.grayscale { fill: rgb(148, 148, 148); }
#MT.grayscale { fill: rgb(148, 148, 148); }
#NE.grayscale { fill: rgb(153, 153, 153); }
#NV.grayscale { fill: rgb(127, 127, 127); }
#NH.grayscale { fill: rgb(118, 118, 118); }
#NJ.grayscale { fill: rgb(99, 99, 99); }
#NM.grayscale { fill: rgb(114, 114, 114); }
#NY.grayscale { fill: rgb(104, 104, 104); }
#NC.grayscale { fill: rgb(129, 129, 129); }
#ND.grayscale { fill: rgb(171, 171, 171); }
#OH.grayscale { fill: rgb(138, 138, 138); }
#OK.grayscale { fill: rgb(171, 171, 171); }
#OR.grayscale { fill: rgb(105, 105, 105); }
#PA.grayscale { fill: rgb(131, 131, 131); }
#RI.grayscale { fill: rgb(101, 101, 101); }
#SC.grayscale { fill: rgb(143, 143, 143); }
#SD.grayscale { fill: rgb(161, 161, 161); }
#TN.grayscale { fill: rgb(158, 158, 158); }
#TX.grayscale { fill: rgb(135, 135, 135); }
#UT.grayscale { fill: rgb(154, 154, 154); }
#VT.grayscale { fill: rgb(84, 84, 84); }
#VA.grayscale { fill: rgb(116, 116, 116); }
#WA.grayscale { fill: rgb(98, 98, 98); }
#WV.grayscale { fill: rgb(178, 178, 178); }
#WI.grayscale { fill: rgb(127, 127, 127); }
#WY.grayscale { fill: rgb(185, 185, 185); }