#AL { fill: rgb(139.244854575663, 130.35567651935, 61.5463816503848); }
#AK { fill: rgb(142.509722558759, 132.628992003877, 57.9671189726193); }
#AZ { fill: rgb(119.597651760094, 116.675401966288, 83.0855373296745); }
#AR { fill: rgb(141.086720292579, 131.638160796314, 59.5271510866541); }
#CA { fill: rgb(99.2151520766443, 102.483142927441, 105.430796241901); }
#CO { fill: rgb(112.269342188745, 111.572727153645, 91.1195359708569); }
#CT { fill: rgb(108.618016812391, 109.030322817517, 95.1224704575271); }
#DE { fill: rgb(108.476849954267, 108.932028857045, 95.2772311612477); }
#DC { fill: rgb(61.6694742260721, 76.3402264981539, 146.591983811417); }
#FL { fill: rgb(123.831166428122, 119.623182549951, 78.4443508788); }
#GA { fill: rgb(121.90317424041, 118.28072873036, 80.5580015734761); }
#HI { fill: rgb(101.192534192502, 103.859986771076, 103.262999551924); }
#ID { fill: rgb(142.729737719948, 132.782187745742, 57.7259171662791); }
#IL { fill: rgb(112.989157878216, 112.073932152239, 90.3304046964746); }
#IN { fill: rgb(134.869745848326, 127.309304516612, 66.3427971440571); }
#IA { fill: rgb(127.161391433056, 121.942005886721, 74.793437540057); }
#KS { fill: rgb(132.282291070107, 125.507669337704, 69.1794142342535); }
#KY { fill: rgb(140.087091596334, 130.942123037447, 60.6230403240189); }
#LA { fill: rgb(134.285991192182, 126.902838311593, 66.982765211534); }
#ME { fill: rgb(114.122530098942, 112.863095031856, 89.0878929285678); }
#MD { fill: rgb(102.232478065113, 104.584095837931, 102.122912936024); }
#MA { fill: rgb(97.4069287970703, 101.224083754997, 107.413144726175); }
#MI { fill: rgb(119.818374024061, 116.829090061198, 82.8435603291776); }
#MN { fill: rgb(116.592358709969, 114.582827546201, 86.3802289698113); }
#MS { fill: rgb(135.281630598493, 127.596098342654, 65.8912494179483); }
#MO { fill: rgb(132.214201586761, 125.460258882634, 69.2540604826619); }
#MT { fill: rgb(132.558816221399, 125.700212776382, 68.8762607350584); }
#NE { fill: rgb(135.065132180077, 127.445351295758, 66.1285958322114); }
#NV { fill: rgb(121.058395509459, 117.692512428809, 81.4841293674077); }
#NH { fill: rgb(116.593488444503, 114.583614176172, 86.3789904460265); }
#NJ { fill: rgb(106.182568083012, 107.334528887431, 97.7924438793646); }
#NM { fill: rgb(114.194545234707, 112.913238904166, 89.0089430019512); }
#NY { fill: rgb(109.251908401211, 109.471699183065, 94.4275374564501); }
#NC { fill: rgb(122.461437515673, 118.669445381283, 79.9459796124475); }
#ND { fill: rgb(144.719178376029, 134.167427906272, 55.5449007433169); }
#OH { fill: rgb(127.049911333134, 121.864382706034, 74.9156527607124); }
#OK { fill: rgb(144.363391735029, 133.919694985872, 55.9349483201164); }
#OR { fill: rgb(109.751214231174, 109.819363983188, 93.8801503243429); }
#PA { fill: rgb(123.270706422504, 119.232936323818, 79.0587811071805); }
#RI { fill: rgb(107.662958606283, 108.365319325856, 96.1694972316304); }
#SC { fill: rgb(129.732801650646, 123.732469297487, 71.9744100422546); }
#SD { fill: rgb(139.465742673376, 130.509480083684, 61.3042228469652); }
#TN { fill: rgb(137.542601504439, 129.170404010498, 63.4125553877266); }
#TX { fill: rgb(125.522507184951, 120.800856854707, 76.5901402713129); }
#UT { fill: rgb(135.683906447777, 127.8762015266, 65.4502358942887); }
#VT { fill: rgb(98.3390176143752, 101.873093746306, 106.391299207944); }
#VA { fill: rgb(115.216132223637, 113.624566140903, 87.8889809696428); }
#WA { fill: rgb(105.834291956502, 107.092025510453, 98.1742577069456); }
#WV { fill: rgb(148.348164514993, 136.694277514143, 51.5664566798599); }
#WI { fill: rgb(121.072743674289, 117.702503002838, 81.4683995274465); }
#WY { fill: rgb(151.828294947117, 139.117479444659, 47.7512025764944); }