#AL { fill: rgb(calc(255 * 0.63144336722713), 60, calc(255 * 0.36855663277287)); }
#AK { fill: rgb(calc(255 * 0.655627574509329), 60, calc(255 * 0.344372425490671)); }
#AZ { fill: rgb(calc(255 * 0.485908531556254), 60, calc(255 * 0.514091468443746)); }
#AR { fill: rgb(calc(255 * 0.645086816982067), 60, calc(255 * 0.354913183017933)); }
#CA { fill: rgb(calc(255 * 0.334927052419588), 60, calc(255 * 0.665072947580413)); }
#CO { fill: rgb(calc(255 * 0.431624756953669), 60, calc(255 * 0.568375243046331)); }
#CT { fill: rgb(calc(255 * 0.404577902314006), 60, calc(255 * 0.595422097685994)); }
#DE { fill: rgb(calc(255 * 0.403532221883461), 60, calc(255 * 0.596467778116539)); }
#DC { fill: rgb(calc(255 * 0.056810920193127), 60, calc(255 * 0.943189079806873)); }
#FL { fill: rgb(calc(255 * 0.517267899467568), 60, calc(255 * 0.482732100532433)); }
#GA { fill: rgb(calc(255 * 0.502986475854891), 60, calc(255 * 0.497013524145109)); }
#HI { fill: rgb(calc(255 * 0.349574327351868), 60, calc(255 * 0.650425672648132)); }
#ID { fill: rgb(calc(255 * 0.65725731644406), 60, calc(255 * 0.34274268355594)); }
#IL { fill: rgb(calc(255 * 0.436956725023821), 60, calc(255 * 0.56304327497618)); }
#IN { fill: rgb(calc(255 * 0.599035154432047), 60, calc(255 * 0.400964845567954)); }
#IA { fill: rgb(calc(255 * 0.541936232837453), 60, calc(255 * 0.458063767162548)); }
#KS { fill: rgb(calc(255 * 0.57986882274153), 60, calc(255 * 0.42013117725847)); }
#KY { fill: rgb(calc(255 * 0.637682159972845), 60, calc(255 * 0.362317840027155)); }
#LA { fill: rgb(calc(255 * 0.594711045868014), 60, calc(255 * 0.405288954131987)); }
#ME { fill: rgb(calc(255 * 0.445352074806975), 60, calc(255 * 0.554647925193025)); }
#MD { fill: rgb(calc(255 * 0.357277615297136), 60, calc(255 * 0.642722384702864)); }
#MA { fill: rgb(calc(255 * 0.321532805904224), 60, calc(255 * 0.678467194095776)); }
#MI { fill: rgb(calc(255 * 0.487543511289341), 60, calc(255 * 0.512456488710659)); }
#MN { fill: rgb(calc(255 * 0.463647101555329), 60, calc(255 * 0.536352898444671)); }
#MS { fill: rgb(calc(255 * 0.60208615258143), 60, calc(255 * 0.39791384741857)); }
#MO { fill: rgb(calc(255 * 0.579364456198231), 60, calc(255 * 0.420635543801769)); }
#MT { fill: rgb(calc(255 * 0.581917157195551), 60, calc(255 * 0.418082842804449)); }
#NE { fill: rgb(calc(255 * 0.600482460593166), 60, calc(255 * 0.399517539406834)); }
#NV { fill: rgb(calc(255 * 0.496728855625624), 60, calc(255 * 0.503271144374376)); }
#NH { fill: rgb(calc(255 * 0.46365546995928), 60, calc(255 * 0.53634453004072)); }
#NJ { fill: rgb(calc(255 * 0.386537541355645), 60, calc(255 * 0.613462458644355)); }
#NM { fill: rgb(calc(255 * 0.445885520257086), 60, calc(255 * 0.554114479742914)); }
#NY { fill: rgb(calc(255 * 0.409273395564526), 60, calc(255 * 0.590726604435474)); }
#NC { fill: rgb(calc(255 * 0.507121759375354), 60, calc(255 * 0.492878240624646)); }
#ND { fill: rgb(calc(255 * 0.671993913896508), 60, calc(255 * 0.328006086103492)); }
#OH { fill: rgb(calc(255 * 0.541110454319511), 60, calc(255 * 0.458889545680489)); }
#OK { fill: rgb(calc(255 * 0.669358457296511), 60, calc(255 * 0.330641542703489)); }
#OR { fill: rgb(calc(255 * 0.412971957267953), 60, calc(255 * 0.587028042732047)); }
#PA { fill: rgb(calc(255 * 0.513116343870402), 60, calc(255 * 0.486883656129598)); }
#RI { fill: rgb(calc(255 * 0.397503397083578), 60, calc(255 * 0.602496602916422)); }
#SC { fill: rgb(calc(255 * 0.560983715930712), 60, calc(255 * 0.439016284069288)); }
#SD { fill: rgb(calc(255 * 0.633079575358343), 60, calc(255 * 0.366920424641657)); }
#TN { fill: rgb(calc(255 * 0.618834085218063), 60, calc(255 * 0.381165914781937)); }
#TX { fill: rgb(calc(255 * 0.529796349518156), 60, calc(255 * 0.470203650481844)); }
#UT { fill: rgb(calc(255 * 0.605065973687239), 60, calc(255 * 0.394934026312761)); }
#VT { fill: rgb(calc(255 * 0.328437167513891), 60, calc(255 * 0.67156283248611)); }
#VA { fill: rgb(calc(255 * 0.453452831286197), 60, calc(255 * 0.546547168713803)); }
#WA { fill: rgb(calc(255 * 0.383957718196313), 60, calc(255 * 0.616042281803687)); }
#WV { fill: rgb(calc(255 * 0.698875292703649), 60, calc(255 * 0.301124707296351)); }
#WI { fill: rgb(calc(255 * 0.496835138328064), 60, calc(255 * 0.503164861671936)); }
#WY { fill: rgb(calc(255 * 0.724654036645308), 60, calc(255 * 0.275345963354692)); }