/* Redaction
https://www.redaction.us/
Open Font License 1.1 (https://scripts.sil.org/OFL) */

/* Redaction Regular */
@font-face {
  font-family: "Redaction";
  src: url("../fonts/Redaction-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* Redaction Italic */
@font-face {
  font-family: "Redaction";
  src: url("../fonts/Redaction-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
/* Redaction Bold */
@font-face {
  font-family: "Redaction";
  src: url("../fonts/Redaction-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  font-family: "Redaction", serif;
  color: rgb(127, 60, 127);
  line-height: 1.3;
  display: flex;
  flex-direction: column;
}

ul[role=navigation] {
  display: table;
  text-align: center;
  margin: 3vh auto 2vh;
  padding: 0 1rem;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
}
ul[role=navigation] li {
  margin: 0 .5rem;
  display: inline-block;
}
@media screen and (max-width: 480px) {
  ul[role=navigation] {
    margin: 4vh auto 3vh;
    font-size: 1.15rem;
    line-height: 1.6;
  }
}

a {
  color: rgb(127, 60, 127);
  text-decoration: none;
}
button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}
button:hover {
  color: rgb(90, 60, 90);
}

button#current-year {
  border-bottom: 2px solid rgb(127, 60, 127);
}
button#current-year:hover {
  border-bottom-color: rgb(90, 60, 90);
}

.map {
  margin: 0 auto;
  max-height: 68vh;
  width: -moz-max-content;
}
.map-labels.hidden {
  display: none;
}

svg#info {
  fill: rgb(127, 60, 127);
}
svg#info {
  height: 3.5vh;
  width: 3.5vh;
  position: fixed;
  bottom: 1rem;
  right: .85rem;
}

.map-info * {
  margin: 0 0 1rem;
}
.map-info {
  position: fixed;
  bottom: 0;
  left: 1rem;
  max-width: 920px;
  font-size: 1rem;
  max-height: 24vh;
  overflow: auto;
  margin-right: 1.75rem;
}
.map-info--underlay {
  background-color: #e5e5e5;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.map-title {
  font-size: 1.25rem;
}
.map-description a {
  border-bottom: 1px solid rgb(127, 60, 127);
}
.map-key {
  list-style-type: none;
  display: table;
  font-size: 1rem;
  padding: 0;
}
@media screen and (max-width: 480px) {
  .map-key {
    font-size: .875rem;
  }
}
.map-key li {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: .6vh;
}
.map-key div {
  width: 3vh;
  height: 3vh;
  border-radius: 1.5vh;
  display: inline-block;
  margin-bottom: -.7vh;
}

form {
  display: inline-block;
}
#color-select,
#map-select {
  padding: .5rem .5rem 0;
}
#color-select input,
#map-select input {
  margin-left: .5rem;
}
#map-select {
  border-right: 1px solid rgb(127, 60, 127);
  padding-right: 1.25rem;
}
#map-select button {
  padding: 0 1px;
  border-bottom: 1px solid rgb(127, 60, 127);
}
#map-select button:hover {
  border-bottom-color: color: rgb(90, 60, 90);
}
@media screen and (max-width: 480px) {
  form {
    display: block;
  }
  #color-select,
  #map-select {
    font-size: .875rem;
    width: 100%;
    background-color: #494949;
    color: #e5e5e5;
  }
  #color-select {
    padding-bottom: .5rem;
  }
  #map-select {
    padding-right: .5rem;
    border-right-width: 0;
  }
  #map-select button {
    color: #e5e5e5;
    border-bottom-color: #e5e5e5;
  }
  #map-select button:hover {
    color: #c8c8c8;
    border-bottom-color: #c8c8c8;
  }
}