:root {
  --green: 60;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  color: rgb(calc(255 * 0.50), var(--green), calc(255 * 0.50));
  line-height: 1.3;
}

h1 {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 20px;
  left: 30px;
  color: #fff;
  font-style: italic;
  z-index: -1;
}

ul[role=navigation] {
  display: table;
  text-align: center;
  margin: 6vh auto 4vh;
  padding: 0 1rem;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 700;
}
ul[role=navigation] li {
  margin: 0 .5rem;
  display: inline-block;
}
@media screen and (max-width: 420px) {
  ul[role=navigation] {
    margin: 12vh auto 2vh;
  }
  h1 {
    left: 0;
    right: 0;
    text-align: center;
  }
}

a {
  color: rgb(calc(255 * 0.50), var(--green), calc(255 * 0.50));
  text-decoration: none;
}
a#current-year {
  border-bottom: 2px solid rgb(calc(255 * 0.50), var(--green), calc(255 * 0.50));
}

svg#map {
  margin: 0 auto;
  max-height: 76vh;
  width: -moz-max-content;
}

svg#info {
  fill: rgb(calc(255 * 0.50), var(--green), calc(255 * 0.50));
}
svg#info {
  height: 4vh;
  width: 4vh;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.state {
  stroke: white;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: rgb(calc(255 * 0.50), var(--green), calc(255 * 0.50));
}

.map-info {
  position: fixed;
  bottom: 0;
  left: 1rem;
  max-width: 800px;
  font-size: 1rem;
  max-height: 24vh;
  overflow: scroll;
  margin-right: 1rem;
}
.map-info--underlay {
  background-color: #e5e5e5;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.map-description a {
  border-bottom: 1px solid rgb(calc(255 * 0.50), var(--green), calc(255 * 0.50));
}
.map-key {
  list-style-type: none;
  display: table;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.map-key li {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: .6vh;
}
.map-key div {
  width: 3vh;
  height: 3vh;
  border-radius: 1.5vh;
  display: inline-block;
  margin-bottom: -.7vh;
}
#dem-75 {
  background-color: rgb(calc(255 * 0.25), var(--green), calc(255 * 0.75));
}
#dem-65 {
  background-color: rgb(calc(255 * 0.35), var(--green), calc(255 * 0.65));
}
#split {
  background-color: rgb(calc(255 * 0.50), var(--green), calc(255 * 0.50));
}
#rep-65 {
  background-color: rgb(calc(255 * 0.65), var(--green), calc(255 * 0.35));
}
#rep-75 {
  background-color: rgb(calc(255 * 0.75), var(--green), calc(255 * 0.25));
}