:root {
  --green: 60;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  color: rgb(calc(255 * 0.50), var(--green), calc(255 * 0.50));
}

h1 {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 20px;
  left: 30px;
  color: #fff;
  font-style: italic;
  z-index: -1;
}

ul {
  display: table;
  text-align: center;
  margin: 6vh auto 4vh;
  padding: 0 1rem;
  font-size: 3vh;
  line-height: 1.3;
  font-weight: 700;
}
ul li {
  margin: 0 .5rem;
  display: inline-block;
}
@media screen and (max-width: 420px) {
  ul {
    margin: 12vh auto 8vh;
  }
}

a {
  color: rgb(calc(255 * 0.50), var(--green), calc(255 * 0.50));
  text-decoration: none;
}

svg#map {
  margin: 0 auto;
  max-height: 80vh;
  width: max-content;
}

.reload-link {
  position: relative;
}

svg#reload,
svg#info {
  height: 4vh;
  width: 4vh;
  fill: rgb(calc(255 * 0.50), var(--green), calc(255 * 0.50));
}
svg#reload {
  height: 2.8vh;
  width: 2.8vh;
  position: absolute;
  top: 0;
}
svg#info {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.state {
  stroke: white;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: rgb(calc(255 * 0.50), var(--green), calc(255 * 0.50));
}
